<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.ico">
    <link rel="apple-touch-icon" href="/img/logo/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/logo/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logo/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logo/apple-touch-icon-72x72.png">
    <title>{{CONFIG.appName}}</title>
    <link rel="stylesheet" href="/css/app.css"> 
  </head>
  <body>

    <script src="/lib/jquery/dist/jquery.min.js"></script><!-- jquery -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script><!-- boostrap: serve per bootbox :( -->
    <script src="/lib/underscore/underscore-min.js"></script><!-- underscore -->
    <script src="/lib/numeral/min/numeral.min.js"></script><!-- per formattare le cifre -->
    <script src="/lib/numeral/min/languages/it.min.js"></script><!-- in italiano -->
    <script src="/lib/moment/moment.js"></script><!-- date lato client -->
    <script src="/lib/angular/angular.min.js"></script><!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/i18n/angular-locale_it-it.js"></script><!-- i18n -->
    <script src="/lib/angular-animate/angular-animate.min.js"></script><!-- animate -->
    <script src="/lib/angular-resource/angular-resource.min.js"></script><!-- chiamate api -->
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script><!-- sanitize html -->
    <script src="/lib/angular-route/angular-route.min.js"></script><!-- angular route -->
    <script src="/lib/ng-notify/dist/ng-notify.min.js"></script><!-- notify per i messaggi-->
    <script src="/lib/ng-file-upload/ng-file-upload.min.js"></script><!-- upload lato client-->
    <script src="/lib/angular-strap/dist/angular-strap.min.js"></script><!-- angular strap -->
    <script src="/lib/angular-strap/dist/angular-strap.tpl.min.js"></script><!-- angular strap -->
    <script src="/lib/ng-tags-input/ng-tags-input.min.js"></script><!-- input a tag -->
    <script src="/lib/summernote/dist/summernote.min.js"></script><!-- textarea -->
    <script src="/lib/angular-summernote/dist/angular-summernote.min.js"></script><!-- textarea -->
    <script src="/lib/bootcomplete/dist/bootcomplete.min.js"></script><!-- bootcomplete --> 

    <!-- cloudinary image formatter -->
    <script src="/lib/angular-cloudinary/angular-cloudinary.js"></script>

    <!-- bootbox for alerts -->
    <script src="/lib/bootbox.js/bootbox.js"></script>
    <script src="/lib/async/dist/async.js"></script> 
 
    <!-- grafici -->
    <script src="/lib/chart.js/dist/Chart.min.js"></script>
    <!-- /grafici -->

    <!-- angular tree -->
    <script src="/lib/angular-tree/angular.tree.js"></script>
    <!-- angular tree -->

    <!--auth0-->
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js"></script>
    <!--script src="https://cdn.auth0.com/js/lock/11.7.2/lock.min.js"></script-->
    <script src="/lib/angular-jwt/dist/angular-jwt.min.js"></script>
    <!--/auh0=--> 

    <script src="/js/app.js"></script><!-- app client code -->
    <script src="/js/services.js"></script><!-- angular services -->
    <script src="/js/directives.js"></script><!-- angular directives -->
    <script src="/js/filters.js"></script><!-- angular filters -->
    <script src="/js/constants.js"></script><!-- angular constants -->
    <script src="/js/sidebar.js"></script><!-- sidebar code -->
    <script src="/js/controllers/settings.js"></script><!-- controller impostazioni -->
    <script src="/js/controllers/login.js"></script><!-- controller login -->
    <script src="/js/controllers/contatti.js"></script><!-- controller contatti -->
    <script src="/js/controllers/prodotti.js"></script><!-- controller prodotti -->
    <script src="/js/controllers/categorie.js"></script><!-- controller categorie -->
    <script src="/js/controllers/modelli.js"></script><!-- controller modelli -->
    <script src="/js/controllers/immagini.js"></script><!-- controller immagini -->
    <script src="/js/controllers/offerte.js"></script><!-- controller offerte -->
    <script src="/js/controllers/etichette.js"></script> 
    <script src="/js/controllers/etichetteEstro.js"></script> 
    <script src="/js/controllers/dwhEtichette.js"></script> 
    <script src="/js/controllers/home.js"></script> 
    <script src="/js/controllers/componenti.js"></script><!-- controller componenti -->
    <script src="/js/controllers/lineeCommerciali.js"></script><!-- controller linee commmerciali -->
    <script src="/js/controllers/lineaCommercialeAssociazioni.js"></script> 
    <script src="/js/controllers/mailingList.js"></script> 
    <script src="/js/controllers/dwhLogs.js"></script>
    <script src="/js/controllers/dwhRicerche.js"></script> 
    <script src="/js/controllers/dwhSchedeTecniche.js"></script> 
    <script src="/js/controllers/dwhSchedeDettaglio.js"></script>
    <script src="/js/controllers/attivita.js"></script>
    <script src="/js/controllers/codiciEan.js"></script>
    <script src="/js/controllers/configTipologieAssociazioniDS.js"></script>
    <script src="/js/controllers/agenti.js"></script>
    <script src="/js/controllers/eventi.js"></script>
    <script src="/js/controllers/installazioni.js"></script>
    <script src="/js/controllers/news.js"></script>
    <script src="/js/controllers/colori.js"></script>
    <script src="/js/controllers/schedaTecnicaEstro.js"></script>

    <div ng-if="!login" 
        ng-include="'/html/includes/navbarTop.html'" >
    </div> 

    <div class="wrapper" ng-class="{'pageLogin': isActive('/login')}">
        <nav id="sidebar"
             ng-class="classeSideBar"
             ng-if="!login"
             ng-include="'/html/includes/navbarLeft.html'">
        </nav> 
        <div id="content">
            <div id="main" style="height:50%;">
              <ng-view></ng-view> 
            </div>
        </div>
    </div> 
  </body>
</html>
