<ul tabindex="-1" class="typeahead dropdown-menu" ng-show="$isVisible()" role="select">
  <li class="text-center"><a href="" ng-click="selezionaTutti($matches)"><i class="fa fa-plus"></i> Seleziona tutti</a></li>
  <li role="presentation" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}">
    <a role="menuitem" tabindex="-1" ng-click="$select($index, $event)" ng-bind="match.label"></a>
  </li>
</ul>
