/*Live Search styles start*/
ul.searchresultspopup {
	border: 1px solid @gray-lighter;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	margin-top: 0px;
	padding: 0px;
	z-index: 99999!important;
	position: fixed;
	background-color: white;
	border-collapse: separate;
	overflow-y: hidden;
    max-height: 205px;
    overflow-y: auto;
}

ul.searchresultspopup > li {
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid @gray-lighter;
	text-align: left;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	&:nth-child(odd) {
		background: @table-bg-accent;
	}
	&:hover {
		background: @table-bg-hover;
	}
	label {
		display: inline-block;
		width: 60px;
	}
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
	background-color: @gray-lighter;
}

.autocomplete-prodotto {
	overflow: hidden;
	.autocomplete-prodotto-left {
		float: left;
		width: 40px;
		height: 40px;
		text-align: center;
		border: 2px solid @gray-lighter;
		img {
			max-width: 40px;
			max-height: 40px;
		}
	}
	.autocomplete-prodotto-right {
		margin-left: 50px;
	}	
}



