html,body {
	margin: 0;
	padding: 0;
}

.site-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.site-container {
	margin-left: -@grid-gutter-width/2;
	margin-right: 0;
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
}

hr {
	border-top: 1px solid #d1d1d1;
}