.btn-inverse {
  border: 2px solid transparent;
  text-transform: uppercase;
  .button-variant(white; @brand-primary; white);
}

.btn.btn-primary {
  background: #e2001a;
  border-color: #e2001a; 
}

.btn.btn-primary:hover, 
.btn.btn-primary:focus {
    background: #e2001a !important;
    border-color: #e2001a !important; 
}