.configList {
    overflow: scroll;
    height: 180px;
}

.configButton {
    width: 180px;
    text-align: left;
    position: relative;
    color: #aaa;
}

.configButton.button-selected {
    color: #333;
    font-size: 0.85em;
    padding: 0.7em 0.75em;
}

.configButton .caret {
    position: absolute;
    right: 12px!important;
    top: 13px; 
    color: #333;
}

.configSearch {
    height: 35px;
    margin-left: 2%;
    width: 96%;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.configSearch::placeholder {
    color: #aaa;
}

.configAzzera {
    margin-left: 20px;
    position: relative;
    top: -10px;
    color: #333;
    text-decoration: underline;
}