.login {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	background: @brand-primary;
  	color: white;
  	height: 100vh;
}

.login-widget {
	max-width: 300px;
	width:100%;
	text-align: center;
}