.modal-header {
    background: @gray-lighter;
}

.modal{
    overflow-y: auto; // https://github.com/mgcrea/angular-strap/issues/1343
}

@media (min-width: @screen-md-min) {
  .modal-xlg { width:1200px; }
}


/* modale distinta base */

.progress {
  border: 1px solid darkred;
  margin-top: 10px;
}/** floating button **/

.float{
	position:absolute;
	width:50px;
	height:50px;
	bottom: -10px;
	right:30px;
	background-color:#d02d29;
	color:#FFF;
	border-radius:40px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
}

.float:hover {
  color: #ddd;
}

.BtnFab {
	position:absolute;
	right:35px;
	padding-bottom:20px;
	bottom:10px;
	z-index:100;
}

.BtnFab li{
	list-style:none;
	margin-bottom:10px;
}

.BtnFab li a{
	color:#444;
	border-radius:30px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:40px;
	height:40px;
	display:block;
}

.BtnFab li a.ColorGray {
  background-color: #ddd;
}

.BtnFab li a.ColorBlue {
  background-color:#bed5ec;
}

.BtnFab li a:hover {
  color: #000;
}

.BtnFab:hover{
	visibility:visible!important;
	opacity:1!important;
}

.my-float{
	font-size:24px;
	margin-top:15px;
}

.my-float-mini {
  font-size:16px;
  margin-top:12px;
}

a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}