.wrapper {
    width: 100%;
    display: flex !important;
    align-items: stretch !important;
}
  
#sidebar {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    background: #eee;
    color: #111;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    .custom-menu {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 0;
        margin-right: -50px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    ul.components {
        list-style-type: none;
        padding: 0;
    }
    ul li {
        font-size: 14px;
        &.active {
            a {
                background: #e2001a;
                color: white;
            }
        } 
        a {
            padding: 5px 20px;
            display: block;
            color: #111;
        }
    }
}
  
#sidebar ul li a:hover {
    color: #e2001a;
    background: transparent;
}

#sidebar.active {
    margin-left: -250px; 
    .custom-menu {
        margin-right: -50px;
    }
}

.searchNav {
    padding: 30px 30px 5px 20px;
}

  
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px; 
    }
    #sidebar.active {
        margin-left: 0; 
        .custom-menu {
            margin-right: -50px;
        }
    } 
}

  
@media (min-width: 992px) {
    #sidebar {
        .custom-menu {
            margin-right: -20px;
        }
    } 
}
  
a[data-toggle="collapse"] {
    position: relative; 
}
  
  
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
  
@media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; 
    } 
}
 
#content {
    width: 100%;
    padding: 20px 35px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

.pageLogin #content {
    padding: 0;
}

.pageLogin #sidebar,
.pageLogin #sidebarCollapse {
    display: none;
}

  
.sidebar-nav {
    span {
        padding: 10px 20px 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: bold;
        color: #e2001a;
    }
    li {
        line-height: 24px;
        i {
            margin-right: 15px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #222;
            padding: 0px 20px;
            :hover {
                text-decoration: none;
                color: #e2001a;
                background: rgba(255,255,255,0.2);
            }
            :active,
            :focus {
                text-decoration: none;
            }
        }
    }
    > li:first-child a {
        padding-top: 10px;
    }
}

.submenu li {
    list-style: none;
    margin-left: -3px;
    .subsubmenu {
        padding-left: 20px;
    }
}

#sidebar ul li .submenu li  {
    a {
        color: #777;
    }
    &.active a {
        color: #fff;
        background: #e2001a;
    }
    :hover, :focus, :active {
        color: #e2001a;
        background: transparent;
    }
}
  
.link-footer {
    padding: 20px;
    a {
        color: #111;
        font-size: 12px;
        text-decoration: underline;
    }
}
  
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #ccc;
}
  