.uploader {
	padding: 15px;
	background: #fafafa;
	border: 4px dashed #eee;
	margin-bottom: 20px;
}

.uploader.dragover {
	border-color: red;
}

.uploader-text {
	text-align: center;
	width:100%;
}

.uploader-bar  {
	margin: 20px 0;
}

.uploader-preview {
	display: flex;
	flex-wrap: wrap;
}

.uploader-col {
	height: 180px;
	width: 180px;
	margin-right: 10px;
}

.uploader-image {
	position: relative;
	border: 1px solid #ccc;
	width:180px;
	height: 120px;
	margin-bottom: 5px;
	text-align: center;
	padding-top:10px;
	a {
		position: absolute;
		top:0;
		right: 0;
		display: none;
	}
	&:hover a {
		display: block;
	}
}

.uploader-image img {
	padding-top:10px;
	max-width: 120px;
	max-height: 100px;
}

// lista immagini da db 

.viewer {
	display: flex;
	flex-wrap:wrap;
}

.viewer-item {
	width: 180px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.viewer-item-small {
	width: 130px;
	margin-right: 10px;
}

.viewer-item-image,
.viewer-item-small-image {
	border: 1px solid #ccc;
	text-align: center;
	margin-bottom: 10px;
	height:120px;
}

.viewer-item-image img {
	padding-top:10px;
	max-width: 120px;
	max-height: 100px;
}

.viewer-item-small-image img {
	padding-top:10px;
	max-width: 80px;
	max-height: 80px;
}

.viewer-item input {
	margin-bottom: 10px;
	display: block;
}

.viewer-item-image-text {
	text-align: center;
	margin-top: @line-height-computed/2;
	color: @text-color!important;
}

.viewer-small {
	width: 50px;
	height: 50px;
	text-align: center;
	img {
		max-width: 40px;
		max-height: 40px;
	}
}