.margin-bottom {
	margin-bottom: @line-height-computed;
}

.margin-bottom-2 {
	margin-bottom: @line-height-computed * 2;
}

.margin-bottom-3 {
	margin-bottom: @line-height-computed * 3;
}

.margin-bottom-0-5 {
	margin-bottom: @line-height-computed * 0.5;
}

.margin-bottom-1 {
	margin-bottom: @line-height-computed * 1;
}

.margin-bottom-0 {
	margin-bottom: @line-height-computed * 0;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-top {
	margin-top: @line-height-computed;
}

.margin-top-0-5 {
	margin-top: @line-height-computed*0.5;
} 

.margin-top-2 {
	margin-top: @line-height-computed * 2;
}

.margin-top-3 {
	margin-top: @line-height-computed * 3;
}

.margin-right-20{
	margin-right: 20px;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-left-20{
	margin-left: 20px;
}

.margin-left-10{
	margin-left: 10px;
}

.padding-bottom-0-25 {
	margin-bottom: @line-height-computed/4;
}

.padding-bottom-0-5 {
	margin-bottom: @line-height-computed/2;
}

.padding-bottom {
	margin-bottom: @line-height-computed;
}

.no-margin {
	margin:0;
}
.no-padding {
	padding:0;
}

.box {
	border: 1px solid #ccc;
	background-color:#f9f9f9;
	min-height: 220px;
}

.box-title {
	background-color: #ddd;
	padding: 15px;
}

.box-container {
	padding:15px;
}