@import_path: '../lib/';
@fa-font-path: '../lib/font-awesome/fonts';
@brand-primary: #e2001a;

@font-family-base:        'Roboto', sans-serif;;
@headings-font-family:    'Roboto Slab', serif;
@headings-font-weight:    700;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@btn-primary-color:              #fff;
@btn-primary-bg:                 #0971B2;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-info-color:              #333;
@btn-info-bg:                 #ffc619;
@btn-info-border:             darken(@btn-info-bg, 10%);


@navbar-border-radius:  		   0px;
@navbar-default-color:             #FFF;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            @brand-primary;

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            lighten(@navbar-default-bg, 15%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               #fff;
@navbar-default-brand-hover-color:         #fff;
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @brand-primary;
@navbar-default-toggle-icon-bar-bg:        #fff;
@navbar-default-toggle-border-color:       #fff;

@code-color:                  #000;
@code-bg:                     #f9f2f4;
@text-muted:                  #919191;



