<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-lg">
        <div class="modal-header" ng-show="title">
            <button type="button" class="close" ng-click="$hide()">×</button>
            <h4 ng-if="!agente._id">Nuovo agente</h4>
            <h4 ng-if="agente._id">{{agente.ragioneSociale}}
              <div>
                <small>
                  ultima modifica:  
                    <strong ng-if="agente.last_user">{{agente.last_user.user_metadata.nome}}, </strong> 
                 {{agente.mdate | date: 'dd/M/yy' }} alle {{agente.mdate | date: 'HH:mm'}}
                </small>
               </div>
            </h4>
        </div>
        <form name="formNuovoAgente" novalidate>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div bs-active-pane="tabs.activeTab" bs-tabs>
                            <div class="margin-top" ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" bs-pane>
                                <div ng-include="tab.template"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a href="" class="text-primary pull-left" ng-show="agente._id &&  adminProdotti" ng-click="eliminaAgente(agente)">
              <u>Elimina</u>
            </a>
            <label for="agentePubblicato" style="margin-right:10px;">
              <input type="checkbox"  ng-model="agente.pubblicato" id="agentePubblicato"> Pubblica sul sito?
            </label> 
            <button type="submit" class="btn btn-primary" ng-click="salvaAgente(agente)" ng-disabled="formNuovoAgente.$invalid" ng-show="adminProdotti">Salva</button>
            <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>
         </div>
      </div>
    </div>
  </div>
  
  
  
  