<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-xlg">
        <div class="modal-content modal-xlg">
            <div class="modal-header clearfix" ng-show="title">  
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{attivita.titolo || 'Nuova attività'}}
                     <div ng-show="attivita._id">  
                         <small>
                            Data inserimento: 
                           {{attivita.cdate | date: 'dd/M/yy' }} alle {{attivita.cdate | date: 'HH:mm'}}
                           da <strong ng-if="attivita.last_user">{{attivita.create_user.user_metadata.nome}} </strong>
                        </small>
                    </div>
                </h4>
            </div>
            <form name="formNuovoAttivita" novalidate>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div bs-active-pane="tabs.activeTab" bs-tabs>
                          <div class="margin-top" ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" bs-pane>
                              <div ng-include="tab.template"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <label for="effort_preventivo">Effort preventivo (HH)</label>
                        <input  type="text" name="effort_preventivo" ng-model="attivita.effort_preventivo" id="effort_preventivo" class="form-control input-sm" ng-readonly="!admin"> 
                    </div>
                    <div class="col-sm-2 text-left" >
                        <label for="consuntivo">Effort consuntivo (HH)</label>
                        <input type="text" name="effort_consuntivo" ng-model="attivita.effort_consuntivo" id="consuntivo" class="form-control input-sm" ng-readonly="!admin">
                    </div>
                    <div class="col-sm-3 text-left" >
                        <label for="approvata">Attività approvata </label>
                        <input type="checkbox" name="approvata" ng-model="attivita.approvata" id="approvata" ng-disabled="!admin"
                        ng-change="setDataApprovazione()">
                        <div ng-if="attivita.data_approvazione">in data {{attivita.data_approvazione | date: 'dd/M/yy HH:mm'}}</div>
                    </div>
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary" ng-click="salvaAttivita()" 
                            ng-disabled="formNuovoAttivita.$invalid" 
                            ng-if="!attivita.data_rilascio">
                            Salva
                        </button>
                        <button type="button" class="btn btn-default" ng-click="$hide()" ng-if="!attivita.data_rilascio">Annulla</button> 
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>