<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4>{{categoria.nome || 'Nuova categoria'}}
          <div ng-show="categoria._id">
            <small>
              ultima modifica:
              <strong ng-if="categoria.last_user">{{categoria.last_user.user_metadata.nome}},</strong>
              {{categoria.mdate | date: 'dd/M/yy' }} alle {{categoria.mdate | date: 'HH:mm'}}
            </small>
          </div>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img cl-src="{{categoria.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="categoria.foto" />
            <img src="/img/placeholder_250x250.png" class="img-responsive img-thumbnail" ng-if="!categoria.foto" />
          </div>
          <div class="col-md-8">
            <form name="formNuovaCategoria" novalidate>
              <div class="form-group">
                <label for="peso">Nome</label>
                <div class="input-group padding-bottom-0-25" style="width:100%">
                  <input type="text" class="form-control input-sm" ng-model="categoria.nome" />
                  <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                  <input type="text" class="form-control input-sm" ng-model="categoria.nome_en" />
                  <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
              </div>
              <div class="form-group">
                <label for="formNuovaCategoria.linea">Linea</label>
                <select id="formNuovaCategoria.linea" class="form-control input-sm" ng-model="categoria.linea" required>
                  <option value="">- scegli -</option>
                  <option value="ilmas">Ilmas</option>
                  <option value="estro">Estro</option>
                  <option value="toshiba">Toshiba</option>
                </select>
              </div>
              <div class="form-group">
                <label for="formNuovaCategoria.uso">Destinazione d'uso</label>
                <select id="formNuovaCategoria.uso" class="form-control input-sm" ng-model="categoria.uso" required>
                  <option value="">- scegli -</option>
                  <option value="outdoor">Outdoor</option>
                  <option value="indoor">Indoor</option>
                  <option value="entrambi">Entrambi</option>
                </select>
              </div>
              <div class="form-group">
                <label for="formNuovaCategoria.ordinamento_sito">Ordinamento</label>
                <input type="number" class="form-control input-sm" ng-model="categoria.ordinamento_sito" />
              </div>
              <div class="form-group">
                <label for="formNuovaCategoria.voce_doganale">Voce doganale</label>
                <input type="text" class="form-control input-sm" ng-model="categoria.voce_doganale" />
              </div>
              <div class="form-group">
                <label for="linea_prodotto">Linea prodotto</label>
                <div class="input-group">
                  <input type="text" class="form-control input-sm" ng-model="categoria.linea_prodotto" id="linea_prodotto">
                </div>
              </div>
              <div class="form-group">
                <label for="food" style="margin-right:10px;">
                  <input type="checkbox" ng-model="categoria.food" id="food"> Linea Commerciale Food
                </label>
              </div>
              <p><i class="fa fa-info-circle"></i> la foto va cambiata dalla sezione immagini</p>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <a
           href=""
           class="text-primary pull-left"
           ng-show="categoria._id && adminProdotti"
           ng-click="eliminaCategoria(categoria)">
           <u>Elimina</u>
         </a>
         <label for="categoriaPubblicata" style="margin-right:10px;">
           Pubblica sul sito? <input type="checkbox" ng-model="categoria.pubblicato" id="categoriaPubblicata">
         </label>
        <button
          type="submit"
          class="btn btn-primary"
          ng-click="salvaCategoria(categoria)"
          ng-disabled="formNuovaCategoria.$invalid"
          ng-show="adminProdotti">
          Salva
        </button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>
      </div>
    </div>
  </div>
</div>
