<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal readonly>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <div class="row">
          <div class="col-md-10"> 
               <h4>{{categoria.nome}}</h4>
          </div>
          <div class="col-md-2">
                <img cl-src="{{categoria.foto}}" 
                height="50" width="50" 
                crop="fill" 
                class="img-responsive img-thumbnail" ng-if="categoria.foto">
                <button type="button" class="close" ng-click="$hide()">×</button>
          </div>
      </div>
      </div>
      <div class="modal-body"> 
        <div class="row"> 
            <div class="col-md-6"> 
                <div class="form-group">
                    <label for="categoria.nome">Nome</label>
                    <input type="text" class="form-control input-sm" ng-model="categoria.nome" readonly>
                </div> 
              </div>
              <div class="col-md-6"> 
                <div class="form-group">  
                     <label for="categoria.linea">Linea</label>
                    <input type="text" class="form-control input-sm" ng-model="categoria.linea" readonly>
               </div>
              </div>
              <div class="col-md-6">  
                <div class="form-group">
                    <label for="categoria.nome">Destinazione d'uso</label>
                    <input type="text" class="form-control input-sm" ng-model="categoria.uso" readonly>
                </div> 
              </div> 
              <div class="col-md-6">  
                <div class="form-group">
                    <label for="categoria.nome">Ordinamento</label>
                    <input type="text" class="form-control input-sm" ng-model="categoria.ordinamento_sito" readonly>
                </div> 
              </div 
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group pull-left">
            <label for="categoriaPubblicato" style="margin-right:10px;">
                <input type="checkbox" disabled ng-model="categoria.pubblicato" id="categoriaPubblicato"> Pubblicato sul sito
            </label>
        </div> 
      </div>
    </div>
  </div>
</div>
 



