<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">×</button>
          <h4>{{colore.nome || 'Nuova Finitura'}}
            <div ng-show="colore._id">  
              <small>
              ultima modifica: 
                <strong ng-if="colore.last_user">{{colore.last_user.user_metadata.nome}}, </strong>
             {{colore.mdate | date: 'dd/M/yy' }} alle {{colore.mdate | date: 'HH:mm'}}
             </small>
             </div>
          </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="formNuovoColore" novalidate>
              <div class="form-group" style="width: 100px;">
                <label for="formNuovoColore.codice">Codice Finitura</label>
                <input type="text" class="form-control input-sm"
                  ng-model="colore.codice"
                  ng-maxlength="2"
                  required
                >
                <div class="form-group" style="width: 200px;">
                  <label for="formNuovoColore.ordinamento">Ordinamento</label>
                  <input type="text" class="form-control input-sm"
                  ng-model="colore.ordinamento"
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="prodottoVerniciatura">Finitura</label>
                <div class="input-group padding-bottom-0-25" style="width:100%">
                  <input type="text" class="form-control input-sm" ng-model="colore.finitura" id="prodottoVerniciatura">
                  <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group padding-bottom-0-25" style="width:100%">
                  <input type="text" class="form-control input-sm" ng-model="colore.finitura_en" id="verniciatura_en">
                  <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
              </div>
              
              <hr>
              <p class="text-primary small margin-top-2"><strong>COLORE COVER</strong></p>
              <div class="form-group">
                  <label for="formNuovoColore.descrizione">Descrizione</label>
                  <div class="input-group padding-bottom-0-25" style="width:100%">
                      <input type="text" class="form-control input-sm"
                          ng-model="colore.descrizione_cover" 
                          >
                      <div class="input-group-addon" style="width: 50px;">IT</div>
                  </div>
                  <div class="input-group" style="width:100%">
                      <input type="text" class="form-control input-sm"
                          ng-model="colore.descrizione_cover_en" 
                          >
                      <div class="input-group-addon" style="width: 50px;">EN</div>
                  </div>
              </div>
              <div class="form-group" style="width: 200px;">
                <label for="formNuovoColore.codice_colore">Codice Colore RAL</label>
                <input type="text" class="form-control input-sm"
                ng-model="colore.codice_colore_cover"
                >
              </div>
              <div class="form-group" style="width: 200px;">
                <label for="formNuovoColore.codice_colore_hex">Codice Colore HEX</label>
                <input type="text" class="form-control input-sm"
                ng-model="colore.codice_colore_cover_hex"
                >
              </div>
              <hr>
              <p class="text-primary small margin-top-2"><strong>COLORE PROFILO</strong></p>
              <div class="form-group">
                <label for="formNuovoColore.descrizione">Descrizione</label>
                <div class="input-group padding-bottom-0-25" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="colore.descrizione_estruso" 

                        >
                    <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="colore.descrizione_estruso_en" 
                        >
                    <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
              </div>
              <div class="form-group" style="width: 200px;">
                <label for="formNuovoColore.codice_colore">Codice Colore RAL</label>
                <input type="text" class="form-control input-sm"
                ng-model="colore.codice_colore_estruso"
                >
              </div>
              <div class="form-group" style="width: 200px;">
                <label for="formNuovoColore.codice_colore_hex">Codice Colore HEX</label>
                <input type="text" class="form-control input-sm"
                ng-model="colore.codice_colore_estruso_hex"
                >
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> 
         <a href="" class="pull-left text-primary" ng-show="colore._id && adminProdotti" ng-click="eliminaColore(colore._id)">
            <u>Elimina</u>
          </a> 
        <button type="submit" class="btn btn-primary" ng-click="salvaColore()" ng-disabled="formNuovoColore.$invalid" ng-show="adminProdotti">Salva</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button> 
      </div>
    </div>
  </div>
</div>




