
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
        <div class="modal-dialog modal-xlg">
            <div class="modal-content modal-xlg">
                <div class="modal-header clearfix" ng-show="title">  
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title pull-left" style="margin-left:8px;">
                        {{componente.codice + ' ' + componente.nome || 'Nuovo componente'}}
                        <div ng-show="componente._id"><small>
                            ultima modifica:  
                                <strong ng-if="componente.last_user">{{componente.last_user.user_metadata.nome}}, </strong> 
                            {{componente.mdate | date: 'dd/M/yy' }} alle {{componente.mdate | date: 'HH:mm'}}
                            </small>
                        </div>
                    </h4>
                    <h4 class="pull-right" style="margin-right:8px;margin-top:20px">
                        <div ng-show="componente.codice_interno">
                                <small>
                                    {{componente.codice_interno}} 
                                </small>
                            </div>
                    </h4>
                </div>
                <fieldset ng-disabled="componenteReadOnly">
                <form name="formNuovoComponente" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="formNuovoComponente.componenteCodice">Codice *</label>
                                    <div class="input-group">
                                        <input type="text" 
                                            name="codice" 
                                            class="form-control input-sm" 
                                            ng-model="componente.codice" 
                                            id="componenteCodice" required>
                                        <div class="input-group-addon"><i class="fa fa-barcode"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="form-group"> 
                                    <label for="formNuovoComponente.nome">Descrizione *</label>
                                    <input 
                                    type="text" 
                                    name="nome"
                                    class="form-control input-sm"
                                    ng-model="componente.nome" required
                                   > 
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="form-group"> 
                                    <label for="formNuovoComponente.cod_fornitore">Cod Fornitore</label>
                                    <input 
                                    type="text" 
                                    name="cod_fornitore"
                                    class="form-control input-sm"
                                    ng-model="componente.cod_fornitore"
                                    > 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="formNuovoComponente.gruppo">Gruppo *</label>
                                    <input 
                                    type="text" 
                                    id="gruppo"
                                    name="gruppo"
                                    class="form-control input-sm"
                                    ng-model="componente.gruppo" required
                                    > 
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="formNuovoComponente.tipo">Categoria *</label>
                                    <select name="formNuovoComponente.categoria" id="formNuovoComponente.categoria" 
                                        class="form-control input-sm" ng-model="componente.categoria" required>
                                        <option value="">- scegli - </option>
                                        <option value="attivita">ATTIVITA'</option>
                                        <option value="prodotto">PRODOTTO</option>
                                        <option value="componente">COMPONENTE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="formNuovoComponente.tipo">Tipo *</label>
                                    <select name="formNuovoComponente.tipo" id="formNuovoComponente.tipo" 
                                        class="form-control input-sm" ng-model="componente.tipo" 
                                        required>
                                        <option value="">- scegli - </option>
                                        <option value="adattatore"  ng-if="componente.categoria=='componente'">ADATTATORE</option>
                                        <option value="adattatore_global"  ng-if="componente.categoria=='componente'">ADATTATORE GLOBAL</option>
                                        <option value="anello"  ng-if="componente.categoria=='componente'">ANELLO</option>
                                        <option value="anello_interno"  ng-if="componente.categoria=='componente'">ANELLO INTERNO</option>
                                        <option value="basetta"  ng-if="componente.categoria=='componente'">BASETTA</option> 
                                        <option value="blocca_lente"  ng-if="componente.categoria=='componente'">BLOCCA LENTE</option>
                                        <option value="blocco_staffa"  ng-if="componente.categoria=='componente'">BLOCCO STAFFA</option>
                                        <option value="box"  ng-if="componente.categoria=='componente'">BOX</option>
                                        <option value="cavo"  ng-if="componente.categoria=='componente'">CAVO</option>
                                        <option value="cavo_di_sospensione"  ng-if="componente.categoria=='componente'">CAVO DI SOSPENSIONE</option>
                                        <option value="casetta"  ng-if="componente.categoria=='componente'">CASETTA</option>
                                        <option value="cornice"  ng-if="componente.categoria=='componente'">CORNICE</option>
                                        <option value="cornice_per_cartongesso_da_rasare"  ng-if="componente.categoria=='componente'">CORNICE PER CARTONGESSO DA RASARE</option>
                                        <option value="corpo"  ng-if="componente.categoria=='componente'">CORPO</option>
                                        <option value="corpo_led"  ng-if="componente.categoria=='componente'">CORPO+LED</option>
                                        <option value="corpo_led_driver"  ng-if="componente.categoria=='componente'">CORPO+LED+DRIVER</option>
                                        <option value="corpo_dissipatore" ng-if="componente.categoria=='componente'">CORPO E DISSIPATORE</option>
                                        <option value="disco" ng-if="componente.categoria=='componente'">DISCO</option>
                                        <option value="dissipatore" ng-if="componente.categoria=='componente'">DISSIPATORE</option>
                                        <option value="distanziale" ng-if="componente.categoria=='componente'">DISTANZIALE</option>
                                        <option value="driver" ng-if="componente.categoria=='componente'">DRIVER</option>
                                        <option value="fermacavo" ng-if="componente.categoria=='componente'">FERMACAVO</option>
                                        <option value="griglia" ng-if="componente.categoria=='componente'">GRIGLIA</option>
                                        <option value="griglia_per_casetta" ng-if="componente.categoria=='componente'">GRIGLIA PER CASSETTA</option>
                                        <option value="guaina" ng-if="componente.categoria=='componente'">GUAINA</option>
                                        <option value="lampada_led" ng-if="componente.categoria=='componente'">LAMPADA LED</option>
                                        <option value="led" ng-if="componente.categoria=='componente'">LED</option>
                                        <option value="lente" ng-if="componente.categoria=='componente'">LENTE</option>
                                        <option value="modulo_led" >MODULO LED</option>
                                        <option value="molla" ng-if="componente.categoria=='componente'">MOLLA</option>
                                        <option value="molla_per_aggancio" ng-if="componente.categoria=='componente'">MOLLA PER AGGANCIO</option>
                                        <option value="minuteria" ng-if="componente.categoria=='componente'">MINUTERIA</option>
                                        <option value="nottolino" ng-if="componente.categoria=='componente'">NOTTOLINO</option> 
                                        <option value="policarbonato" ng-if="componente.categoria=='componente'">POLICARBONATO</option>
                                        <option value="pomolo" ng-if="componente.categoria=='componente'">POMOLO</option>
                                        <option value="portasnodo" ng-if="componente.categoria=='componente'">PORTASNODO</option>
                                        <option value="pulsante_push_memory" ng-if="componente.categoria=='componente'">PULSANTE PUSH MEMORY</option>
                                        <option value="prolunga_staffa" ng-if="componente.categoria=='componente'">PROLUNGA STAFFA</option>
                                        <option value="raccordo" ng-if="componente.categoria=='componente'">RACCORDO</option>
                                        <option value="raccordo_fresato" ng-if="componente.categoria=='componente'">RACCORDO FRESATO</option>
                                        <option value="raccordo_filettato" ng-if="componente.categoria=='componente'">RACCORDO FILETTATO</option>
                                        <option value="riflettore" ng-if="componente.categoria=='componente'">RIFLETTORE</option>
                                        <option value="rosone" ng-if="componente.categoria=='componente'">ROSONE</option>
                                        
                                        <option value="snodo" ng-if="componente.categoria=='componente'">SNODO</option>
                                        <option value="supporto_lampada" ng-if="componente.categoria=='componente'">SUPPORTO LAMPADA</option>
                                        <option value="staffa" ng-if="componente.categoria=='componente'">STAFFA</option>
                                        <option value="staffa_laterale" ng-if="componente.categoria=='componente'">STAFFE LATERALI</option>
                                        <option value="vetro" ng-if="componente.categoria=='componente'">VETRO</option>
                                        <option value="vetro_sabbiato" ng-if="componente.categoria=='componente'">VETRO SABBIATO</option>

                                        <option value="cartone" ng-if="componente.categoria=='attivita'">CARTONE</option>
                                        <option value="imballo" ng-if="componente.categoria=='attivita'">IMBALLO</option>
                                        <option value="manodopera" ng-if="componente.categoria=='attivita'">MANODOPERA</option>
                                        <option value="sacchetto" ng-if="componente.categoria=='attivita'">SACCHETTO</option>
                                        <option value="trattamento_galvanico" ng-if="componente.categoria=='attivita'">TRATTAMENTO GALVANICO</option>
                                        <option value="verniciatura" ng-if="componente.categoria=='attivita'">VERNICIATURA</option>
                                        <option value="wtp" ng-if="componente.categoria=='attivita'">WTP</option>
                                        
                                        <option value="prodotto" ng-if="componente.categoria=='prodotto'">PRODOTTO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="formNuovoComponente.prezzo">Costo medio *</label>
                                    <span   class="pull-right">
                                        <input type="checkbox" 
                                        name="prezzofix" 
                                        ng-model="componente.prezzofix" 
                                        ng-change="aggiornaPrezzo()"
                                        id="prezzofix"> Fisso
                                    </span>
                                    <div class="input-group">
                                        <input min="0" 
                                        type="number" 
                                        class="form-control input-sm" 
                                        ng-model="componente.prezzo" 
                                        id="prodottoPrezzo" 
                                        ng-change="componente.prezzofix=true" >
                                        <div class="input-group-addon"><i class="fa fa-euro"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4"> 
                                &nbsp;
                            </div>

                            <div class="col-md-4"> 
                                <div class="form-group" ng-if="componente.tipo==='led'">
                                <label for="formNuovoComponente.lettera">Lettera *</label>
                                    <input 
                                    type="text" 
                                    name="lettera"
                                    class="form-control input-sm"
                                    ng-model="componente.lettera"
                                    required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12"> 
                        <div>&nbsp;</div>
                        <div class="box-title"><strong>Componenti di 2° LIVELLO</strong></div>
                        <div class="box-container" style="height:100%"> 
                        <div class="form-group" >
                            <bootcomplete
                                btc-minlength="3"
                                btc-size="sm"
                                btc-placeholder="Cerca e aggiungi componente e/o lavorazione"
                                btc-query="cercaComponenti"
                                btc-callback="addComponenteFiglio"
                                btc-noresults="Nessun componente trovato"
                                btc-template="/html/includes/autocomplete-componente.html"
                                ng-model="cercaComponente">
                            </bootcomplete>
                       </div>
                       <div class="row" ng-if="componente.componenti_figlio.length">
                            <div class="col-sm-12">
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1 text-center">#</th>
                                            <th class="col-sm-1">Codice</th> 
                                            <th class="col-sm-2">Descrizione</th> 
                                            <th class="col-sm-1">Tipo</th> 
                                            <th class="col-sm-1 text-center">Qta *<div>(pz / hh)</div></th> 
                                            <th class="col-sm-1 text-right">Costo unit</th> 
                                            <th class="col-sm-1" ng-show="(adminProdotti || commerciale) && !componenteReadOnly"></th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="componente_figlio in componente.componenti_figlio">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td>{{componente_figlio._id.codice || componente_figlio.codice}}</td> 
                                            <td>{{componente_figlio._id.nome   || componente_figlio.nome }}</td>
                                            <td>{{componente_figlio._id.tipo   || componente_figlio.tipo}}</td>
                                            <td>
                                                <input 
                                                    type="number" 
                                                    min="0" 
                                                    class="form-control input-sm" 
                                                    ng-model="componente_figlio.qt" 
                                                    ng-change="aggiornaPrezzo()"
                                                    step="0.5"
                                                    ng-required="componente_figlio"
                                                    >
                                            </td>
                                            <td class="text-right">{{componente_figlio._id.prezzo || componente_figlio.prezzo | prezzo}}</td>
                                            <td   class="text-center" ng-show="(adminProdotti || commerciale) && !componenteReadOnly" > 
                                                <a href="" ng-click="eliminaComponenteFiglio($index)" 
                                                class="btn btn-xs btn-danger"
                                                ><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="!componente.componenti_figlio.length">
                            <div class="col-sm-12">
                                <div class="alert alert-warning">
                                    Nessun componente di 2° livello
                                </div>
                            </div>
                        </div> 
                    </div>
                       </div>
                    </div>

                    </div>
                </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" 
                        ng-click="salvaComponente()" 
                        ng-disabled="formNuovoComponente.$invalid" 
                        ng-show="(adminProdotti || commerciale) && !componenteReadOnly">
                            Salva
                        </button> 
                        <button id="chiudi" type="button" class="btn btn-default" ng-click="$hide()" ng-disabled="false">Chiudi</button>
                    </div>
                         
                </form>
            </div>
        </div>
    </div>
  