<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="chiudiModaleContatto()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	<span ng-if="contatto._id">{{contatto.email}}</span>
        	<span ng-if="!contatto._id && !duplica">Nuovo contatto</span>
        	<span ng-if="!contatto._id && duplica"><i class="fa fa-copy"></i> Duplica <small>{{contatto.email}}</small> </span>
        </h4>
        <small ng-show="contatto._id">ultima modifica {{contatto.mdate | date: 'dd/M/yy' }} alle {{contatto.mdate | date: 'HH:mm'}}</small>
      </div>
      <div class="modal-body">
		<form name="formNuovoContatto" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="contattoNome">Nome</label>
						<small>*</small>
						<input 
							type="text" 
							name="nome" 
							class="form-control input-sm" 
							ng-model="contatto.nome" 
							id="contattoNome" 
							placeholder="Es: Mario Rossi, Toshiba S.p.a."
							required
							>
					</div>
					<div class="form-group">
						<label for="contattoEmail">Email</label>
						<small>*</small>
						<input type="email" name="email" class="form-control input-sm" ng-model="contatto.email" id="contattoEmail" required>
					</div>
					<div class="form-group">
						<label for="contattoIndirizzo">Indirizzo</label>
						<input type="text" class="form-control input-sm" ng-model="contatto.indirizzo" id="contattoIndirizzo">
					</div>	
					<div class="form-group">
						<label for="contattoComune">Comune</label>
						<small>*</small>
                        <bootcomplete    
                            btc-minlength="3"
                            btc-maxresults="50"
                            btc-size="sm"
                            btc-label="nome"
                            btc-placeholder="Cerca un comune..."             
                            btc-query="cercaComune" 
                            btc-callback="sceltaComune"
                            btc-keepselection="true"                
                            btc-noresults="Nessun comune trovato"
                            ng-model="contatto.comune"
                            required></bootcomplete>  
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="contattoCap">Cap</label>
								<small ng-if="contatto.nazione == 'Italia'">*</small>
								<input type="text" class="form-control input-sm" ng-model="contatto.cap" id="contattoCap"
								ng-required="contatto.nazione == 'Italia'" >
							</div>							
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="contattoProvincia">Provincia</label>
								<small ng-if="contatto.nazione == 'Italia'">*</small>
								<input type="text" class="form-control input-sm" ng-model="contatto.provincia" id="contattoProvincia"
								ng-required="contatto.nazione == 'Italia'">
							</div>							
						</div>
					</div>
					<div class="form-group">
						<label for="contattoNazione">Nazione</label>
						<small>*</small>
        				<select class="form-control input-sm" 
        						ng-model="contatto.nazione" 
        						id="contattoNazione" 
        						ng-options="nazione.nome as nazione.nome for nazione in nazioni"  
        						required>
        				</select>
					</div>						
				</div>
				<!--/prima colonna-->
				<div class="col-md-6">
					<div class="form-group">
						<label for="contattoAzienda">Azienda (usa i suggerimenti per evitare doppioni)</label>
						<small>*</small>
                        <bootcomplete    
                            btc-minlength="3"
                            btc-maxresults="5"
                            btc-size="sm"
                            btc-label="nome"
                            btc-placeholder="Es: Plurimedia s.r.l., usa i suggerimenti su quelle già esistenti"             
                            btc-query="cercaAzienda" 
                            btc-keepselection="true"  
                            btc-callback="sceltaAzienda"
                            btc-noresults="Azienda non presente"
                            ng-model="contatto.azienda"
                            required></bootcomplete>  
					</div>	
					<div class="form-group">
						<label for="contattoPiva">P.IVA</label>
						<input type="text" class="form-control input-sm" ng-model="contatto.piva" id="contattoPiva">
					</div>
					<div class="form-group">
						<label for="contattoCf">Codice fiscale</label>
						<input type="text" class="form-control input-sm" ng-model="contatto.cf" id="contattoCf">
					</div>
					<div class="form-group">
						<label for="contattoTelefono">Telefono</label>
						<input type="text" class="form-control input-sm" ng-model="contatto.telefono" id="contattoTelefono">
					</div>
					<div class="form-group">
						<label for="contattoFax">Fax</label>
						<input type="text" class="form-control input-sm" ng-model="contatto.fax" id="contattoFax">
					</div>
					<div class="form-group">
						<label for="contattoNote">Note</label>
						<textarea rows="3" cols="10" class="form-control" ng-model="contatto.note" id="contattoNote"></textarea>
					</div>					
				</div>
				<!--/seconda colonna-->
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="contattoTags">Tags <i class="fa fa-tag"></i></label>
						<tags-input 
							class="ti-input-sm" 
							ng-model="contatto.tags" 
							placeholder="es: fornitore, agente" 
							replace-spaces-with-dashes="false">
							<auto-complete source="cercaTags($query)"></auto-complete>
						</tags-input>
						<small class="help-block">
							Classifica il contatto usando dei tags: ad esempio <strong>agente, fornitore</strong> ecc..
							I tag ti permetteranno di ricercare un contatto per queste caratteristiche. <br /><strong>Usa i suggerimenti</strong> sui tag già usati per evitare doppioni
						</small>
						<hr>
						<small class="help-block">* Campo obbligatorio</small>
					</div>						
				</div>
			</div>

		</form>
      </div>
      <div class="modal-footer">
      	<a ng-if="user.user_id===contatto.i_user_id" href="" class="pull-left text-primary" ng-show="contatto._id" ng-click="eliminaContatto(contatto._id)">
      		<u>Elimina</u>
      	</a>
      	<button type="submit" class="btn btn-primary" ng-click="salvaContatto(formNuovoContatto)" ng-disabled="formNuovoContatto.$invalid">
			Salva
      	</button>
        <button type="button" class="btn btn-default" ng-click="chiudiModaleContatto()">Annulla</button>
      </div>
    </div>
  </div>
</div>
