<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-xs">
        <div class="modal-content modal-xs">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="chiudiEsportaXlsProdottiKite()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
          <span ng-if="!offerta._id">Export file per KITE</span>
        </h4>
            </div>
            <div class="modal-body">
                Il processo di creazione del file è partito correttamente,<br>
                fra qualche minuto riceverai una mail con l'url del file da scaricare.
            </div>
            <div class="modal-footer"> 
                <div>
                    <button type="button" class="btn btn-default" ng-click="chiudiEsportaXlsProdottiKite()">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>

