<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header" ng-show="title">
      	<button type="button" class="close" ng-click="associaFoto(prodotto.foto)">×</button>
		<h4>Scegli un'immagine</h4>
      </div>
      <div class="modal-body">
        <div class="row margin-bottom-2">
          <div class="col-sm-12">
            <form name="formCercaImmagini" ng-submit="cercaImmagini(searchimg)" novalidate>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="cercaImmagine" placeholder="Cerca un'immagine..." ng-model="searchimg">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> Cerca</button>
                </span>
              </div><!-- /input-group --> 
            </form>            
          </div>
        </div>
      	<div class="row">
          <div class="col-sm-12">
           <div style="display: flex; flex-wrap:wrap;">
               <div style="flex:0 0 150px;padding: 10px" ng-repeat="immagine in immagini">
                 <a href="" ng-click="associaFoto(immagine.id,tipoFoto)">
                  <img cl-src="{{immagine.id}}" transformation="media_lib_thumb" class="img-responsive img-thumbnail" style="display: block;">
                  <small style="color:black!important;">{{immagine.nome}}</small> 
                </a>             
               </div>
           </div>          
          </div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="associaFoto(prodotto.foto)">Annulla</button>
      </div>
    </div>
  </div>
</div>

