<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4>Associa l'immagine a prodotti, categorie e modelli</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                   <div class="col-sm-2">
                       <img cl-src="{{batch.foto}}"
					  		 transformation="media_lib_thumb" class="img-thumbnail"> <br /> <small class="text-muted">({{batch.tipo}})</small>
                   </div>
                    <div class="col-sm-10">
                        <div class="form-group" 
                       >
                            <label for="immagineScelta">1) A cosa vuoi associare l'immagine ?</label>
                            <select class="form-control input-sm" ng-model="cosa" id="immagineScelta" ng-change="cambiaAssocia(cosa)">
                                <option value="">- scegli -</option>
                                <option value="categoria" ng-disabled="batch.tipo!=='foto'">Categoria di Prodotto</option>
                                <option value="categoriaEstro" ng-disabled="batch.tipo!=='foto'">Categoria componenti Estro</option>
                                <option value="modello" ng-disabled="batch.tipo=='fotometria'">Modello di Prodotto</option>
                                <option value="modelloEstro" ng-disabled="batch.tipo=='fotometria'">Modello componenti Estro</option>
                                <option value="modellocodici">Tutti i codici di un modello</option>
                                <option value="modellocodiciEstro">Tutti i codici di un modello Estro</option>
                                <option value="modulo" ng-disabled="batch.tipo=='fotometria'">Tutti i codici di un modulo di un modello</option>
                                <option value="moduloEstro" ng-disabled="batch.tipo=='fotometria'">Tutti i codici di un modulo di un modello Estro</option>
                                <option value="colore" ng-disabled="batch.tipo=='fotometria' || batch.tipo=='disegno'">Tutti i codici di un colore di un modello</option>
                                <option value="codici">Codici specifici prodotto</option>
                                <option value="lineaCommerciale">Linea commerciale</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="cosa=='lineaCommerciale'">
                            <label for="immagineLineaCommerciale">2) Scegli una linea commerciale</label>
                            <select 
                               id="immagineLineaCommerciale" 
                               class="form-control input-sm" 
                               name="" ng-model="lineaCommerciale" 
                               ng-change="sceltaLineaCommerciale(lineaCommerciale)"
                               ng-options="lineaCommerciale as lineaCommerciale.nome 
                               for lineaCommerciale in lineeCommerciali track by lineaCommerciale._id">
                                <option value="">- seleziona una linea commerciale -</option>
                            </select>
                        </div>
                           
                        <div class="form-group" ng-show="cosa=='categoria'">
                            <label for="immagineCategoria">2) Scegli una categoria</label>
                            <select 
                               id="immagineCategoria" 
                               class="form-control input-sm" 
                               name="" ng-model="categoria" 
                               ng-change="sceltaCategoria(categoria)"
                               ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id">
                                <option value="">- seleziona una categoria -</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="cosa=='categoriaEstro'">
                            <label for="immagineCategoria">2) Scegli una categoria</label>
                            <select 
                               id="immagineCategoria" 
                               class="form-control input-sm" 
                               name="" ng-model="categoria" 
                               ng-change="sceltaCategoria(categoria)"
                               ng-options="categoria as categoria.nome for categoria in categorieEstro track by categoria._id">
                                <option value="">- seleziona una categoria -</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="cosa=='modello' || cosa=='modellocodici' || cosa=='modulo' || cosa=='colore'">
                            <label for="immagineModello">2) Scegli un Modello</label>
                            <select 
                                 class="form-control input-sm" 
                                 name="" 
                                 id="immagineModello" 
                                 ng-model="modello" 
                                 ng-change="sceltaModello(modello)"
                                 ng-options="modello as modello.nome for modello in modelli track by modello._id"
                               >
                                <option value="">- seleziona un modello -</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="cosa=='modelloEstro' || cosa=='modellocodiciEstro' || cosa=='moduloEstro' || cosa=='coloreEstro'">
                            <label for="immagineModello">2) Scegli un Modello</label>
                            <select 
                                 class="form-control input-sm" 
                                 name="" 
                                 id="immagineModello" 
                                 ng-model="modello" 
                                 ng-change="sceltaModello(modello)"
                                 ng-options="modello as modello.nome for modello in modelliEstro track by modello._id"
                               >
                                <option value="">- seleziona un modello -</option>
                            </select>
                        </div>
                        
                        <div ng-show="cosa=='modulo' && modello">
                            <div class="alert alert-warning" ng-show="codicimodulo.$resolved && !moduli.length">Non ci sono moduli in questo modello</div>
                            <div class="form-group" ng-show="codicimodulo.$resolved && moduli.length">
                                <label for="immagineModuli">3) Scegli un modulo</label>
                                <select 
                                     class="form-control input-sm" 
                                     name="modulo" 
                                     id="immagineModuli" 
                                     ng-model="modulo" 
                                     ng-change="sceltaModulo(modulo)"
                                     ng-options="modulo for modulo in moduli"

                                   >
                                    <option value="">- seleziona un modulo -</option>
                                </select>
                            </div>
                        </div>
                        
                        <div ng-show="cosa=='colore' && modello">
                            <div class="alert alert-warning" ng-show="colorimodulo.$resolved && !colori.length">Non ci sono colori in questo modello</div>
                            <div class="form-group" ng-show="colorimodulo.$resolved && colori.length">
                                <label for="coloreModuli">3) Scegli un colore</label>
                                <select 
                                     class="form-control input-sm" 
                                     name="colore" 
                                     id="coloreModuli" 
                                     ng-model="colore" 
                                     ng-change="sceltaColore(colore)"
                                     ng-options="colore for colore in colori" >
                                    <option value="">- seleziona un colore -</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group" ng-show="cosa=='codici'">
                            <label for="associaCodici">2) Digita almeno 6 cifre del codice</label>
                            <input type="text" 
                                    class="form-control input-sm" 
                                    ng-model="codice" 
                                    id="associaCodici" 
                                    bs-options="prodotto as prodotto.codice for prodotto in cercaCodici($viewValue)" 
                                    limit="100"
                                    placeholder="Cerca un codice..."
                                    template="/html/templates/typeahead-associa-codici.tpl.html"
                                    bs-typeahead> 
                                
                            
                            <div class="margin-top-0-5" ng-show="codici.length">
                               
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="codice in codici">
                                            <td><small>{{codice.codice}}</small></td>
                                            <td class="text-right"><a href="" class="btn btn-xs btn-danger" ng-click="eliminaCodice(codice)"><i class="fa fa-trash-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <small>{{codici.length}} codici selezionati</small>                                
                            </div>  
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div ng-hide="associando">
                    <button type="button" class="btn btn-primary" ng-click="associaImmagine()" ng-disabled="!batch.cosa || !batch.codici.length">Associa</button>
                    <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>                    
                </div>
                <div ng-show="associando" class="text-center">
                    <i class="fa fa-spin fa-cog"></i> Attendere ...
                </div>
            </div>
        </div>
    </div>
</div>