<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header clearfix">
         <h4 class="modal-title pull-left" style="margin-left:4px;">
              nome foto: {{immagine.nome}}
          </h4>  
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
      <div class="modal-body">
        <div class="row">  

          <div class="col-md-12 text-center">
               <img cl-src="{{immagine.id}}"  width="500" height="500"  crop="scale" class="img-responsive img-thumbnail"> 
          </div> 
        </div>
      </div> 
    </div>
  </div>
</div>