<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">×</button>
          <h4>Importa prodotti da un file .csv</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="importType">Quale linea di prodotti vuoi importare ?</label>
              <select class="form-control" ng-model="import_linea" ng-change="tipoImport(import_linea)">
                <option value="">-scegli-</option>
                <option value="ilmas">Ilmas</option>
                <option value="toshiba">Toshiba</option>
              </select>
            </div>
            <div class="form-group">
               <label ng-show="import_linea" for="uploadcsvprodotti" class="btn btn-default inline-block"><i class="fa fa-upload"></i> Scegli il file .csv</label>
               <input type="file" class="sr-only" ngf-select="uploadCsv($file)" ngf-validate="{pattern: '.csv'}" id="uploadcsvprodotti">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>
      </div>
    </div>
  </div>
</div>




