<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header clearfix" ng-show="title">
       <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{lineaCommerciale.nome}} 
                </h4>
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
        <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">
        <div class="row"> 
          <div class="col-md-12 text-center">
               <img cl-src="{{lineaCommerciale.foto}}"   width="500"  crop="scale" class="img-responsive img-thumbnail" ng-if="lineaCommerciale.foto">
                <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!lineaCommerciale.foto">
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>