<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header clearfix" ng-show="title">  
       <div class="row">
          <div class="col-md-8"> 
          <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{lineaCommerciale.nome || 'Nuova Linea Commerciale'}}
                    <div ng-show="lineaCommerciale._id"><small>ultima modifica {{lineaCommerciale.mdate | date: 'dd/M/yy' }} alle {{lineaCommerciale.mdate | date: 'HH:mm'}}</small></div>
                </h4>
          </div>
          <div class="col-md-3 text-right">
                  <a href="" ng-click="zoomImmagine(lineaCommerciale)" ng-if="lineaCommerciale.foto"><img cl-src="{{lineaCommerciale.foto}}" height="60" width="60" crop="fill" class="img-responsive img-thumbnail"  ></a>
                  <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!lineaCommerciale.foto">
          </div>
          <div class="col-md-1">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row"> 
          <div class="col-md-12">
            <form name="formNuovoLineaCommerciale" novalidate>
                <div class="form-group">
                    <label for="formNuovoLineaCommerciale.nome">Nome</label>
                    <input type="text" class="form-control input" ng-model="lineaCommerciale.nome" required>
                </div> 
                <div class="form-group">
                  <label for="formNuovoLineaCommerciale.note">Note</label>
                  <summernote
                    id="formNuovoLineaCommerciale.note" 
                    config="editorOptions" 
                    ng-model="lineaCommerciale.note"></summernote>
                </div> 
                <div class="form-group">
                  <label>Sul sito verrà pubblicato il:</label> 
                  <ul>
                     <li for="lineaCommerciale.pubCodiceLinea">Info Linea (codice, prezzo)
                      <input type="checkbox"  ng-model="lineaCommerciale.pubInfoLinea" id="lineaCommerciale.pubInfoLinea">
                     </li>
                      <li for="lineaCommerciale.pubSettore">Settore merceologico
                      <input type="checkbox"  ng-model="lineaCommerciale.pubSettore" id="lineaCommerciale.pubSettore"> 
                      </li>
                  </ul>
                   <p><i class="fa fa-info-circle"></i> in assenza del dato verrà pubblicato il codice/prezzo originale del prodotto</p>
                </div>
                
                <div class="form-group">
                   <label for="lineaCommerciale.pubblicato"> Visibile sul sito ?</label>
                   <input type="checkbox"  ng-model="lineaCommerciale.pubblicato" id="lineaCommerciale.pubblicato"> 
                </div> 
             </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> 
        <button 
        type="submit" 
        class="btn btn-primary" 
        ng-click="salvaLineaCommerciale(lineaCommerciale)" 
        ng-disabled="formNuovoLineaCommerciale.$invalid" 
        ng-show="adminProdotti">Salva</button>
        <button ng-show="adminProdotti" type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>
      </div>
    </div>
  </div>
</div> 