<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4>Associa la linea commerciale "{{lineaCommerciale.nome}}" a categorie, modelli o prodotti</h4>
            </div>
            <div class="modal-body">
                <div class="row"> 
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="lineaScelta">1) A cosa vuoi associare la linea ?</label>
                            <select class="form-control input-sm"
                            id="lineaScelta"
                            ng-model="cosa"  
                            ng-change="cambiaAssocia(cosa)">
                                <option value="">- scegli -</option>
                                <option value="categoria">Categoria</option>
                                <option value="modello">Modello</option>
                                <!--option value="modellocodici">Tutti i codici di un modello</option-->
                                <!--option value="modulo">Tutti i codici di un modulo di un modello</option-->
                                <option value="codici">Codici specifici prodotto</option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="cosa=='categoria'">
                            <label for="lineaCategoria">2) Scegli una categoria</label>
                            <select 
                               id="lineaCategoria" 
                               class="form-control input-sm" 
                               name="" 
                               ng-model="categoria" 
                               ng-change="sceltaCategoria(categoria)"
                               ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id">
                                <option value="">- seleziona una categoria -</option>
                            </select>
                        </div>
                        <div class="form-group" 
                        ng-show="cosa=='modello' || cosa=='modellocodici' || cosa=='modulo'">
                            <label for="immagineModello">2) Scegli un Modello</label>
                            <select 
                                 class="form-control input-sm" 
                                 name="" 
                                 id="immagineModello" 
                                 ng-model="modello" 
                                 ng-change="sceltaModello(modello)"
                                 ng-options="modello as modello.nome for modello in modelli track by modello._id"
                               >
                                <option value="">- seleziona un modello -</option>
                            </select>
                        </div>
                        <!--
                        <div ng-show="cosa=='modulo' && modello">
                            <div class="alert alert-warning" 
                            ng-show="codicimodulo.$resolved && !moduli.length">Non ci sono moduli in questo modello</div>
                            <div class="form-group" ng-show="codicimodulo.$resolved && moduli.length">
                                <label for="immagineModuli">3) Scegli un modulo</label>
                                <select 
                                     class="form-control input-sm" 
                                     name="modulo" 
                                     id="immagineModuli" 
                                     ng-model="modulo" 
                                     ng-change="sceltaModulo(modulo)"
                                     ng-options="modulo for modulo in moduli"
                                   >
                                    <option value="">- seleziona un modulo -</option>
                                </select>
                            </div>
                        </div>
                       -->
                        <div class="form-group" ng-show="cosa=='codici'">
                            <label for="associaCodici">2) Digita almeno 6 cifre del codice</label>
                            <input type="text" 
                                    class="form-control input-sm" 
                                    ng-model="codice" 
                                    id="associaCodici" 
                                    bs-options="prodotto as prodotto.codice for prodotto in cercaCodici($viewValue)" 
                                    limit="1000"
                                    placeholder="Cerca un codice..."
                                    template="/html/templates/typeahead-associa-codici.tpl.html"
                                    bs-typeahead> 
                            
                            <div class="margin-top-0-5" ng-show="codici.length">
                               
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="codice in codici">
                                            <td><small>{{codice.codice}}</small></td>
                                            <td class="text-right"><a href="" class="btn btn-xs btn-danger" ng-click="eliminaCodice(codice)"><i class="fa fa-trash-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <small>{{codici.length}} codici selezionati</small>                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div ng-hide="associando">
                    <button type="button" class="btn btn-primary" 
                    ng-click="associaLinea()" 

                    ng-disabled="!batch.cosa || !batch.codici.length"
                    >Associa</button>
                    <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>                    
                </div>
                <div ng-show="associando" class="text-center">
                    <i class="fa fa-spin fa-cog"></i> Attendere ...
                </div>
            </div>
        </div>
    </div>
</div>