<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4>Nuovo messaggio</h4>
            </div>
            <div class="modal-body">
                <form name="formMailingList" novalidate>
                    <div class="row">
                        <div class="col-sm-2 text-right">
                            <label for="a">A</label>
                        </div>
                        <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="a"
                                id="a"
                                class="ti-input-sm"
                                ng-model="email.a"
                                placeholder="Aggiungi destinatario..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false"
                                min-tags="1">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="cc">CC</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="cc"
                                id="cc"
                                class="ti-input-sm"
                                ng-model="email.cc"
                                placeholder="Aggiungi mail in cc..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="a">CCN</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="ccn"
                                id="ccn"
                                class="ti-input-sm"
                                ng-model="email.ccn"
                                placeholder="Aggiungi mail in ccn..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                 <!--/row-->
                 <div class="row margin-bottom-0-5" >
                    <div class="col-sm-2 text-right">
                        <label for="oggetto">Stati</label>
                    </div>
                    <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" class="form-control input-sm" ng-model="email.nazioneDesc" readonly>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle form-control input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stati <span class="caret"></span></button> 
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="nazione in nazioni" class="margin-left-10">
                               <input type="checkbox" 
                               ng-model="nazione.checked"
                               ng-click="setDescInvioStati(nazione)"
                               > {{nazione._id.nome}}
                            </li>
                         </ul> 
                      </div><!-- /btn-group -->   
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 --> 
 
                  <div class="col-sm-2 text-right">
                        <label for="oggetto"> (OR)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Province</label>
                    </div>
                    <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" class="form-control input-sm" ng-model="email.provinciaDesc" readonly>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle form-control input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prov <span class="caret"></span></button> 
                        <ul class="dropdown-menu dropdown-menu-right margin-left-10">
                            <li ng-repeat="provincia in province" class="margin-left-10">
                               <input type="checkbox" 
                               ng-model="provincia.checked"
                               ng-click="setDescInvioProvince(provincia)"
                               > {{provincia._id.nome}}
                            </li>
                         </ul> 
                      </div><!-- /btn-group -->   
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->


 

                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="oggetto">Oggetto</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                          <input type="text" class="form-control input-sm"
                          ng-model="email.oggetto"
                          required>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="messaggio">Messaggio</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                          <summernote id="messaggio"
                                      height="100"
                                      config="editorOptions"
                                      ng-model="email.messaggio"
                                      required
                                      ></summernote>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <label for="offerta">Allegati</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <button class="btn btn-default" ngf-select="uploadFiles($files)" ngf-max-size="15MB" multiple>Scegli files</button> <small>Max 15Mb per file</small>
                            <div class="margin-top" ng-show="files.length">
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Nome</th>
                                        <th class="col-sm-2">Dimensione</th>
                                        <th class="col-sm-1"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="file in files">
                                        <td>{{file.name | truncate: 50}}</td>
                                        <td>{{file.size | bytes}}</td>
                                        <td align="center"><a href="" class="btn btm-link btn-danger btn-xs" ng-click="eliminaAllegato($index)"><i class="fa fa-remove"/></a></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div ng-if="!inviando"> 
                <button type="button" class="btn btn-primary" ng-click="processMail(email)" 
                ng-disabled="formMailingList.$invalid" ng-show="commerciale">Invia mail</button> 

                <button class="btn btn-default" ng-show="commerciale" ng-click="annullaModifica()">Annulla</button>
            </div>
        <div ng-if="inviando" class="text-center">
          <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
        </div>
      </div>
    </div>
  </div>
</div>  
{{$scope.email.a_inviomassivo}}