<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-xlg">
    <div class="modal-content modal-xlg">
      <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">×</button>
          <h4 ng-if="!modello._id">Nuovo modello</h4>
          <h4 ng-if="modello._id">{{modello.nome}}
            <div>
              <small>
                ultima modifica:  
                  <strong ng-if="modello.last_user">{{modello.last_user.user_metadata.nome}}, </strong> 
               {{modello.mdate | date: 'dd/M/yy' }} alle {{modello.mdate | date: 'HH:mm'}}
              </small>
             </div>
          </h4>
      </div>
      <form name="formNuovoModello" novalidate>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div bs-active-pane="tabs.activeTab" bs-tabs>
                          <div class="margin-top" ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" bs-pane>
                              <div ng-include="tab.template"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
      <div class="modal-footer">
           <a href="" class="text-primary pull-left" ng-show="modello._id && adminProdotti" ng-disabled="!statoDistinte.dt_fine" ng-click="eliminaModello(modello)">
            <u>Elimina</u>
          </a>
          <label for="modelloPubblicato" style="margin-right:10px;">
            <input type="checkbox"  ng-model="modello.pubblicato" id="modelloPubblicato"> Pubblica sul sito?
          </label>
          <button type="submit" class="btn btn-primary" ng-click="salvaModello(modello)" ng-disabled="formNuovoModello.$invalid || !statoDistinte.dt_fine" ng-show="adminProdotti">Salva</button>
          <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>
       </div>
    </div>
  </div>
</div>



