<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal readonly>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <div class="row">
          <div class="col-md-10"> 
               <h4 ng-if="modello._id">{{modello.nome}}</h4>
          </div>
          <div class="col-md-2">
                <img cl-src="{{modello.foto}}" 
                height="50" width="50" 
                crop="fill" 
                class="img-responsive img-thumbnail" ng-if="modello.foto">
                <button type="button" class="close" ng-click="$hide()">×</button>
          </div>
      </div>
      </div>
      <div class="modal-body"> 
        <div class="row"> 
            <div class="col-md-6"> 
                <div class="form-group">
                    <label for="formNuovoModello.nome">Nome modello</label>
                    <input type="text" class="form-control input-sm" ng-model="modello.nome" readonly>
                </div> 
              </div>
              <div class="col-md-6"> 
                <div class="form-group">  
                     <label for="formNuovoModello.categoria">Categoria</label>
                    <input type="text" class="form-control input-sm" ng-model="modello.categoria.nome" readonly>
               </div>
              </div>
              <div class="col-md-6">  
                <div class="form-group">
                    <label for="formNuovoModello.nome">Linea</label>
                    <input type="text" class="form-control input-sm" ng-model="modello.linea" readonly>
                </div> 
              </div>
              <div class="col-md-6">  
                <div class="form-group">
                    <label for="formNuovoModello.nome">Destinazione d'uso</label>
                    <input type="text" class="form-control input-sm" ng-model="modello.uso" readonly>
                </div> 
              </div> 
            <div class="col-md-12"> 
              <div class="row margin-bottom-0-5" ng-if="modello.accessori.length">
                 <div class="col-sm-12">
                     <label for="">Accessori</label>
                </div>
            </div>
             <div class="row" ng-if="modello.accessori.length">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-1 text-center">#</th>
                                 <th class="col-sm-2">Codice</th>
                                 <th class="col-sm-2">Nome</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prodotto in modello.accessori">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{prodotto.codice}}</td>
                                <td>{{prodotto.modello.nome}}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
           </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group pull-left">
            <label for="modelloPubblicato" style="margin-right:10px;">
                <input type="checkbox" disabled ng-model="modello.pubblicato" id="modelloPubblicato"> Pubblicato sul sito
            </label>
        </div> 
      </div>
    </div>
  </div>
</div>
 



