<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4><code>{{dettaglio.codice}}</code> Gestisci la descrizione in offerta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-group" data-start-collapsed="true" bs-collapse>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title"><a href="" bs-collapse-toggle>Dati completi del prodotto</a></h4>
                                </div>
                                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <dl class="dl-horizontal">
                                                    <dt>Codice</dt>
                                                    <dd>{{dettaglio.codice}}</dd>
                                                    <dt>Prezzo</dt>
                                                    <dd>{{dettaglio.prezzo | prezzo}}</dd>
                                                    <dt>Linea</dt>
                                                    <dd>{{dettaglio.linea}}</dd>
                                                    <dt>Uso</dt>
                                                    <dd>{{dettaglio.destinazione}}</dd>
                                                    <dt>Categoria</dt>
                                                    <dd>{{dettaglio.categoria.nome}}</dd>
                                                    <dt>Modello</dt>
                                                    <dd>{{dettaglio.modello.nome}}</dd>
                                                    <dt>Temperatura</dt>
                                                    <dd>{{dettaglio.k | K}}</dd>
                                                    <dt>Lumen</dt>
                                                    <dd>{{dettaglio.lm | LM}}</dd>
                                                    <dt>Generazione</dt>
                                                    <dd>{{dettaglio.generazione}}</dd>
                                                    <dt>Macadam</dt>
                                                    <dd>{{dettaglio.macadam}}</dd>
                                                    <dt>Modulo LED</dt>
                                                    <dd>{{dettaglio.moduloled}}</dd>
                                                    <dt>LES</dt>
                                                    <dd>{{dettaglio.les}}</dd>
                                                    <dt>Classe di isolamento</dt>
                                                    <dd>{{dettaglio.classe_isolamento}}</dd> 
                                                    <dt>Grado IP</dt>
                                                    <dd>{{dettaglio.ip}}</dd>                                                                                                           
                                                </dl>
                                            </div>
                                            <div class="col-sm-6">
                                                <dl class="dl-horizontal">
                                                    <dt>Potenza</dt>
                                                    <dd>{{dettaglio.w | W}}</dd>
                                                    <dt>Fascio</dt>
                                                    <dd>{{dettaglio.fascio}}</dd>
                                                    <dt>IRC</dt>
                                                    <dd>{{dettaglio.irc}}</dd>
                                                    <dt>durata</dt>
                                                    <dd>{{dettaglio.durata | ore}}</dd>
                                                    <dt>Attacco</dt>
                                                    <dd>{{dettaglio.attacco}}</dd>
                                                    <dt>Classe E.</dt>
                                                    <dd>{{dettaglio.classe_energetica}}</dd>
                                                    <dt>Dimmerabile</dt>
                                                    <dd>{{dettaglio.dimmerabile | boolean}}</dd>
                                                    <dt>Colore</dt>
                                                    <dd>{{dettaglio.colore}}</dd>
                                                    <dt>TA max</dt>
                                                    <dd>{{dettaglio.tmax}}</dd>   
                                                    <dt>Alimentatore</dt>
                                                    <dd>{{dettaglio.alimentatore}}</dd> 
                                                    <dt>Alimentatore incluso</dt>
                                                    <dd>{{dettaglio.alimentatore_incluso | boolean}}</dd>                                                             
                                                    <dt>Descrizione applicazione</dt>
                                                    <dd>{{dettaglio.descrizione_applicazione}}</dd>                                                                                                                                                                   <dt>Orientabile</dt>
                                                    <dd>{{dettaglio.orientabile}}</dd>     
                                                    <dt>Inclinabile</dt>
                                                    <dd>{{dettaglio.inclinabile}}</dd>                                                                                                                                                                                 <dt>Satinato</dt>
                                                    <dd>{{dettaglio.satinato | boolean}}</dd>              
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                         <label for="rigaProdotto">Descrizione del prodotto in offerta</label>
                         <summernote id="rigaProdotto" height="100" config="editorOptions" 
                         ng-model="dettaglio.descrizione_offerta"></summernote>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" ng-click="modificaDescrizione(dettaglio.descrizione_offerta,dettaglio_index)">Salva</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>
            </div>
        </div>
    </div>
</div>