<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4>Invia l'offerta via mail</h4>
            </div>
            <div class="modal-body">
                <form name="formEmail">
                    <div class="row">
                        <div class="col-sm-2 text-right">
                            <label for="a">A</label>
                        </div>
                        <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="a"
                                id="a"
                                class="ti-input-sm"
                                ng-model="email.a"
                                placeholder="Aggiungi destinatario..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false"
                                min-tags="1">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="a">CC</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="cc"
                                id="cc"
                                class="ti-input-sm"
                                ng-model="email.cc"
                                placeholder="Aggiungi mail in cc..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="a">CCN</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <tags-input
                                name="ccn"
                                id="ccn"
                                class="ti-input-sm"
                                ng-model="email.ccn"
                                placeholder="Aggiungi mail in ccn..."
                                allowed-tags-pattern="^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$"
                                replace-spaces-with-dashes="false">
                                <auto-complete source="cercaEmail($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="oggetto">Oggetto</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                          <input type="text" class="form-control input-sm"
                          ng-model="email.oggetto"
                          ng-init="email.oggetto= !email.oggetto ? offerta.oggetto : email.oggetto" required>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="messaggio">Messaggio</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                          <summernote id="messaggio"
                                      height="100"
                                      config="editorOptions"
                                      ng-model="email.messaggio"
                                      ></summernote>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="offerta">Offerta</label>
                    </div>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <i class="fa fa-file-pdf-o"></i>
                        <a target="_blank" href="{{email.pdf}}"> {{offerta.numero}}.pdf</a>
                      </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <label for="offerta">Allegati</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <button class="btn btn-default" ngf-select="uploadFiles($files)" ngf-max-size="15MB" multiple>Scegli files</button> <small>Max 15Mb per file</small>
                            <div class="margin-top" ng-show="files.length">
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Nome</th>
                                        <th class="col-sm-2">Dimensione</th>
                                        <th class="col-sm-1"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="file in files">
                                        <td>{{file.name | truncate: 50}}</td>
                                        <td>{{file.size | bytes}}</td>
                                        <td align="center"><a href="" class="btn btm-link btn-danger btn-xs" ng-click="eliminaAllegato($index)"><i class="fa fa-remove"/></a></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                        <div class="col-sm-2 text-right">
                          <!--<label for="offerta"><span class="sr-only">Allega schede tecniche</span></label>-->
                        </div>
                    <div class="col-sm-10">
                        <label for="allegaS" ng-if="listaCodiciSchedeTecniche.length"><!--<input type="checkbox" ng-model="offerta.allegaschede"> -->Allega le schede tecniche di questi prodotti</label>
                        <br>
                        <label for="{{schedaTecnica.codice}}" ng-repeat="schedaTecnica in listaCodiciSchedeTecniche"> 
                            <input
                                id="{{schedaTecnica.codice}}"
                                type="checkbox"
                                ng-model="schedaTecnica.selected"
                                ng-show="schedaTecnica.prodottoNoListino"> <!--ng-click="eliminaAllegatoSchedaTecnica($index)"-->
                            <small ng-show="schedaTecnica.prodottoNoListino">{{schedaTecnica.codice}}&nbsp;</small>
                         </label>
                        <!-- ng-click="eliminaSchedaTecnica($index)" -->
                        <!--
                        <table class="table table-condensed table-striped table-bordered" ng-if="schedeTecnicheAllegate.length">
                            <thead>
                                <tr>
                                    <th>Codice</th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prodotto in schedeTecnicheAllegate">
                                    <td>{{prodotto.codice}}</td>
                                    <td align="center"><a href="" ng-click="eliminaSchedaTecnica($index)" class="btn btn-xs btn-danger"><i class="fa fa-remove"/></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p ng-if="!schedeTecnicheAllegate.length && offerta.prodotti.length">
                            Nessuna <b>scheda tecnica</b> verrà allegata all'offerta, <a href="" ng-click="reloadSchedeTecniche()">riptistina</a>
                        </p>
                         <p ng-if="!offerta.prodotti.length">
                            Nessun file <b>scheda tecnica</b> verrà allegato all'offerta
                        </p>
                        -->
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-sm-2 text-right">
                      <label for="offerta"><span class="sr-only"></span></label>
                    </div>
                    <div class="col-sm-10">
                        <label for="allegaLTD" ng-if="listafileLdtfDaAllegare.length"><!--input type="checkbox" ng-model="email.ldt">--><br>Allega i file .ldt di questi prodotti<!--<small style="font-weight:normal;">(disponibili per: <span ng-repeat="ldt in offerta.ldt_files">{{ldt.codice}}<span ng-if="!$last">, </span></span>)</small>--></label>
                        <br>
                        <label for="ltd_{{file.codice}}" ng-repeat="file in listafileLdtfDaAllegare">
                            <input
                                id="ltd_{{file.codice}}"
                                type="checkbox"
                                ng-model="file.allegaFile"
                                ><!--ng-click="eliminaAllegatoFileLdt($index)"-->
                            <small>{{file.codice}}&nbsp;</small>
                         </label>
<!--
                        <table class="table table-condensed table-striped table-bordered" ng-if="fileLdtfDaAllegare.length">
                            <thead>
                                <tr>
                                    <th>Codice</th>
                                    <th>Nome File</th>
                                    <th class="col-sm-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in fileLdtfDaAllegare">
                                    <td>{{file.codice}}</td>
                                    <td>{{file.ldt.nome}}</td>
                                    <td align="center"><a href="" ng-click="eliminaFileLdt($index)" class="btn btn-xs btn-danger"><i class="fa fa-remove"/></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <p ng-if="!fileLdtfDaAllegare.length && offerta.ldt_files.length">
                            Nessun file <b>LTD</b> verrà allegato all'offerta, <a href="" ng-click="reloadFileLtd()" >ripristina</a>
                        </p>
-->
                        <p ng-if="!offerta.ldt_files.length">
                            Nessun file <b>LTD</b> verrà allegato all'offerta
                        </p>

                    </div>
                </div>
                <!--/row-->
                  <div class="row">
                    <div class="col-sm-2 text-right">
                        <label for="offerta">Lingua</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select id="linguaOfferta" class="form-control input-sm" ng-model="offerta.linguaOfferta" required disabled>
                                    <option value="">- scegli - </option>
                                    <option value="it">IT</option>
                                    <option value="en">EN</option>
                                </select>
                         </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div ng-if="!inviando"> 
                <button type="button" class="btn btn-primary" ng-click="inviaMail()" ng-disabled="formEmail.$invalid">Invia</button>
                <button class="btn btn-default" ng-click="annullaModifica()">Annulla e modifica l'offerta</button>
            </div>
        <div ng-if="inviando" class="text-center">
          <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
        </div>
      </div>
    </div>
  </div>
</div>
