<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-lg" style="width:90%; margin: 30px auto;">
    <div class="modal-content modal-lg" style="width:90%; margin: 30px auto;"">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="annullaOfferta()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span ng-if="offerta._id">Offerta n. <code>{{offerta.numero}}</code></span>
          <span ng-if="!offerta._id">Nuova offerta</span>
        </h4>
      </div>
      <div class="modal-body">
        <form name="formNuovaOfferta" novalidate>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="offertaData">Data offerta</label>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text"
                             name="data"
                             class="form-control input-sm"
                             ng-model="offerta.data"
                             id="offertaData" bs-datepicker required>
                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">Valida dal</div>
                      <input type="text"
                             name="dal"
                             class="form-control input-sm"
                             ng-model="offerta.dal"
                             id="offertaDal" bs-datepicker required>
                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">Al</div>
                      <input type="text"
                             name="al"
                             class="form-control input-sm"
                             ng-model="offerta.al"
                             id="offertaAl" bs-datepicker required>
                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-0-5">
            <div class="col-sm-2 text-right">
              <label for="autoContatti">Destinatario <span style="color: red;">*</span></label>
            </div>
            <div class="col-sm-10">
              <div ng-class="{ 'red-required': !offerta.attenzione }" >
                <bootcomplete
                  class="input-red-required"
                  btc-minlength="3"
                  btc-size="sm"
                  btc-placeholder="Cerca un contatto (almeno 3 caratteri)"
                  btc-query="cercaContatti"
                  btc-callback="scegliContatto"
                  btc-noresults="Nessun contatto trovato"
                  btc-template="/html/includes/autocomplete-contatto.html"
                  ng-model="cercaContatto"></bootcomplete>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="attenzione">All'attenzione di</label>
            </div>
            <div class="col-sm-10">
              <div class="form-group">
                <summernote id="attenzione" config="editorOptions" ng-model="offerta.attenzione"></summernote>
                <div ng-show="offerta.contattoIncompleto" style="margin-top: -10px;">
                  <small>
                    <i class="fa fa-info-circle"></i>
                    Sembra che questo contatto non abbia tutti dati necessari per una bella intestazione
                    <a href="" class="btn btn-xs btn-success" ng-click="completaContatto()">vuoi completarlo?</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="oggetto">Oggetto <span style="color: red;">*</span></label>
            </div>
            <div class="col-sm-10">
              <div class="form-group">
                <input type="text"
                       id="oggetto"
                       class="form-control input-sm input-red-required"
                       ng-model="offerta.oggetto"
                       placeholder="Es: Nostra migliore offerta" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label for="linguaOfferta">Lingua <span style="color: red;">*</span></label>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <select id="linguaOfferta"
                        class="form-control input-sm "
                        ng-model="offerta.linguaOfferta"
                        ng-class="{ 'red-required': !offerta.linguaOfferta }"
                        required>
                  <option value="">- scegli - </option>
                  <option value="it">IT</option>
                  <option value="en">EN</option>
                </select>
              </div>
            </div>
            <div class="col-sm-8"></div>
          </div>
          <div class="sticky" style="height: 80px; position: sticky; top: 0%; background: #f3f3f3; z-index:10; padding: 10px 10px 10px 0; margin-bottom: 20px; box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);">
            <div class="row margin-bottom-0-5">
              <div class="col-sm-12 text-right">
                <small>IL PRODOTTO NON È A LISTINO?</small>
                <a href=""
                  ng-click="addProdNoIlMas()"
                  title="Aggiungi prodotti non a listino"
                  class="btn btn-xs btn-default">
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="row margin-bottom-0-5">
              <div class="col-sm-2 text-right">
                <label for="autoContatti" style="letter-spacing: -0.025em;">Aggiungi prodotti <span style="color: red;">*</span></small>
              </div>
              <div class="col-sm-10">
                <div ng-class="{ 'red-required': !offerta.prodotti.length }" >
                <bootcomplete
                  btc-minlength="3"
                  btc-size="sm"
                  btc-placeholder="ES: hammer mini 3000k 3650lm bianco"
                  btc-query="cercaProdotti"
                  btc-callback="scegliProdotto"
                  btc-noresults="Nessun prodotto trovato"
                  btc-template="/html/includes/autocomplete-prodotto.html"
                  ng-model="cercaProdotto"></bootcomplete>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="offerta.prodotti.length">
            <div class="col-sm-2 text-right">
              <label for="">Prodotti</label>
            </div>
            <div class="col-sm-10">
              <table class="table table-condensed table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:8%;"></th>
                    <th style="width:8%;">Foto</th>
                    <th style="width:15%;">Codice</th>
                    <th style="width:12%;">Prezzo</th>
                    <th style="width:6%;">Qta</th>
                    <th style="width:12%;">Sconto</th>
                    <th style="width:10%;" class="text-right">Totale</th>
                    <th style="width:8%;" class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="prodotto in offerta.prodotti">
                    <td class="text-right">
                        <div class="pull-left">
                          <a href=""
                            ng-click="move($index, $index - 1)"
                            ng-if="$index"
                            title="Sposta sopra"
                            class="btn btn-xs btn-grey btn-default">
                            <i class="fa fa-arrow-up"></i>
                          </a>
                          <a href=""
                            ng-click="move($index, $index + 1)"
                            ng-if="$index < (offerta.prodotti.length - 1)"
                            title="Sposta sotto"
                            class="btn btn-xs btn-grey btn-default">
                            <i class="fa fa-arrow-down"></i>
                          </a>
                        </div>
                        <div class="pull-right">
                          {{$index + 1}}
                        </div>
                      
                    </td>
                    <td class="text-center">
                      <img
                        cl-src="{{prodotto.foto}}"
                        width="50"
                        height="50"
                        crop="fill"
                        ng-if="prodotto.foto && !prodotto.prodottoNoListino"
                        style="width:50px;height:50px;"
                        class="img-thumbnail" />
                      <img
                        src="/img/placeholder_50x50.png"
                        ng-if="!prodotto.foto && !prodotto.prodottoNoListino"
                        style="width:30px;height:30px;"
                        class="img-thumbnail" />
                    </td>
                    <td>
                      <input ng-if="prodotto.prodottoNoListino"
                             ng-blur="impostaDescrizioneNoIlMas($index,prodotto.codice)"
                             type="text"
                             class="form-control input-sm"
                             ng-model="prodotto.codice" />
                      <input ng-if="!prodotto.prodottoNoListino"
                             readonly type="text"
                             class="form-control input-sm"
                             ng-model="prodotto.codice" />
                    </td>
                    <td>
                      <div class="input-group">
                        <input type="number" min="0" class="form-control input-sm" ng-model="prodotto.prezzo">
                        <div class="input-group-addon"><i class="fa fa-euro"></i></div>
                      </div>
                    </td>
                    <td>
                      <input type="number"
                             min="1"
                             class="form-control input-sm"
                             ng-model="prodotto.qta"
                             ng-init="initQta(prodotto)"
                             ng-focus="tooltipQta($event,prodotto)" />
                    </td>
                    <td>
                      <div class="input-group">
                        <input type="number"
                               min="0"
                               max="100"
                               class="form-control input-sm"
                               ng-model="prodotto.sconto"
                               ng-init="prodotto.sconto= prodotto.sconto ? prodotto.sconto : 0" />
                        <div class="input-group-addon"><i class="fa fa-percent"></i></div>
                      </div>
                    </td>
                    <td class="text-right">{{totaleProdotto(prodotto,$index) | prezzo }}</td>
                    <td class="text-center">
                      <a href=""
                         ng-click="dettaglioProdotto(prodotto,$index)"
                         title="Modifica la descrizione del prodotto in offerta"
                         class="btn btn-xs btn-default">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="" ng-click="eliminaProdotto($index)" class="btn btn-xs btn-danger">
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" ng-if="offerta.prodotti.length">
            <div class="col-sm-2"></div>
            <div class="col-sm-5 col-sm-push-5">
              <div class="offerta-riepilogo">
                <div class="pull-right margin-top" style="background: #fafafa;padding: 10px;border: 2px dashed #eee;">
                  <dl class="dl-horizontal">
                    <dt>Totale</dt>
                    <dd class="text-right">{{totaleProdotti() | prezzo }}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt>Sconto ulteriore</dt>
                    <dd>
                      <div class="form-group" style="margin-bottom:0;">
                        <div class="input-group">
                          <input type="number"
                                 min="0"
                                 max="100"
                                 class="form-control input-sm"
                                 ng-model="offerta.sconto"
                                 ng-init="offerta.sconto = offerta.sconto ? offerta.sconto : 0" />
                          <div class="input-group-addon"><i class="fa fa-percent"></i></div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt>Totale offerta</dt>
                    <dd class="text-right"><span class="h4">{{totaleOfferta() | prezzo }}</span></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-top-2" ng-show="offerta.prodotti.length">
            <div class="col-sm-10 col-sm-push-2">
              <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a href="" bs-collapse-toggle>Note per il cliente (visibili in offerta)</a>
                    </h4>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      <summernote id="note2" height="100" config="editorOptions" ng-model="offerta.note_cliente"></summernote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-push-2">
              <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a href="" bs-collapse-toggle>Termini e condizioni(IT)</a>
                    </h4>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      <summernote id="termini" height="100" config="editorOptions" ng-model="offerta.termini" required></summernote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-push-2">
              <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a href="" bs-collapse-toggle>Termini e condizioni(EN)</a>
                    </h4>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      <summernote id="termini_en" height="100" config="editorOptions" ng-model="offerta.termini_en" required></summernote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-push-2">
              <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a href="" bs-collapse-toggle>Note interne (non visibili in offerta)</a>
                    </h4>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      <summernote id="note" height="100" config="editorOptions" ng-model="offerta.note"></summernote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </form>
      </div>
      <div class="modal-footer">
        <div ng-if="!salvataggioOfferta && !pdf">
          <button ng-if="user.user_id===offerta.user_id"
                  class="btn btn-danger pull-left"
                  ng-show="offerta._id"
                  ng-click="eliminaOfferta(offerta._id)">
            Elimina
          </button>
          <button href=""
                  ng-click="anteprimaPdf(offerta)"
                  class="btn btn-default pull-left"
                  ng-disabled="formNuovaOfferta.$invalid || !offerta.destinatario">
            <i class="fa fa-file-pdf-o"></i> Anteprima pdf
          </button>
          <button type="submit"
                  class="btn btn-primary"
                  ng-click="scriviMail()"
                  ng-disabled="formNuovaOfferta.$invalid || !offerta.prodotti.length || !offerta.destinatario">
            <i class="fa fa-envelope"></i> Salva e scrivi la email
          </button>
          <button type="button" class="btn btn-default" ng-click="annullaOfferta()">Annulla</button>
        </div>
        <div ng-if="salvataggioOfferta || pdf" class="text-center">
          <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
        </div>
      </div>
    </div>
  </div>
</div>
