<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header" ng-show="title">
      	<button type="button" class="close" ng-click="$hide()">×</button>
		    <h4>Dettagli spedizione mail</h4>
      </div>
      <div class="modal-body">
        
        <!--dati di invio ancora disponibili -->
        <div ng-if="dettaglio.emailStatus.code!==11">
           <div class="row" ng-if="dettaglio.emailStatus.opens==0 && dettaglio.emailStatus.state=='sent'">
            <div class="col-sm-12">
              <div class="alert alert-success">
                  L'email è stata consegnata ma non è ancora stata letta      
              </div>
            </div>
          </div>

          <div class="row" ng-if="dettaglio.emailStatus.opens>0">
            <div class="col-sm-12">
              <div class="alert alert-success">
                <i class="fa fa-thumbs-up"></i> L'email è stata  consegnata e letta! 
                Aperta {{dettaglio.emailStatus.opens}} <span ng-if="dettaglio.emailStatus.opens==1">volta</span><span ng-if="dettaglio.emailStatus.opens>1">volte</span>, 
                Numero di click {{dettaglio.emailStatus.clicks}}
              </div>
              <h4></h4>
            </div>
          </div>

          <div class="row"
          ng-if="dettaglio.emailStatus.state=='soft-bounced' ||
                dettaglio.emailStatus.state=='hard-bounced' ||
                dettaglio.emailStatus.state=='bounced' ||
                dettaglio.emailStatus.state=='spam'">
            <div class="col-sm-12">
              <div class="alert alert-warning">
                Motivo della mancata consegna: <strong>{{dettaglio.emailStatus.state}}</strong> 
                <span ng-if="dettaglio.emailStatus.state!=='spam'">({{dettaglio.emailStatus.bounce_description}})</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <!--sconti-->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title"><a href="" bs-collapse-toggle>Mostra i dettagli completi della spedizione</a></h4>
                  </div>
                  <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                      <pre>{{dettaglio.emailStatus | json }}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>         
        </div>
        
        <!-- dati non più disponibili-->
        <div ng-if="dettaglio.emailStatus.code==11">
          <div class="alert alert-info">I dati delle mail vengono memorizzati per 30 giorni dalla data di invio</div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>
      </div>
    </div>
  </div>
</div>

