<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header clearfix">
         <h4 class="modal-title pull-left" style="margin-left:4px;">
              codice prodotto: {{prodotto.codice}} 
          </h4>
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
      <div class="modal-body">
        <div class="row">  
          <div class="col-md-12 text-center"> 
          nome foto: {{immagineProdotto.nome}} id:{{immagine.id}}
               <img cl-src="{{prodotto.foto}}"  width="500" height="500" crop="scale" class="img-responsive img-thumbnail" ng-if="prodotto.foto">
                <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" 
                ng-if="!prodotto.foto">
          </div> 
        </div>
      </div> 
    </div>
  </div>
</div>