<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-xlg">
        <div class="modal-content modal-xlg">
            <div class="modal-header clearfix" ng-show="title">
                <a href="" ng-if="!prodotto.foto" ng-click="scegliFoto()" class="pull-left" title="scegli la foto">
                    <img src="/img/placeholder_50x50.png" alt="" class="img-thumbnail">
                </a>

                <div ng-if="prodotto.foto" class="pull-left">
                    <div class="text-center">
                            <img cl-src="{{prodotto.foto}}"  height="50" width="50" crop="fill" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{prodotto.codice || 'Nuovo prodotto'}}
                    <div ng-show="prodotto._id"><small>ultima modifica {{prodotto.mdate | date: 'dd/M/yy' }} alle {{prodotto.mdate | date: 'HH:mm'}}</small></div>
                </h4>
            </div>
            <fieldset disabled>
            <form name="formNuovoProdotto" novalidate>
            <div class="modal-body">
                
                <div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="prodottoCodice">Codice</label>
            <small>*</small>
            <small class="text-muted">(A-Z / 0-9 / &-)</small>
            <div class="input-group"> 
                <input type="text" name="codice" class="form-control input-sm" 
                    ng-model="prodotto.codice" id="prodottoCodice"  
                    ng-pattern="/^[&a-zA-Z0-9-]*$/"
                    required>
                <div class="input-group-addon"><i class="fa fa-barcode"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoPrezzo">Prezzo</label>
                    <div class="input-group">
                        <input min="0" type="number" class="form-control input-sm" ng-model="prodotto.prezzo" id="prodottoPrezzo">
                        <div class="input-group-addon"><i class="fa fa-euro"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoQta">Qta min. ord.</label>
                    <input min="1" type="number" class="form-control input-sm" ng-model="prodotto.qtamin" id="prodottoQta">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoLinea">Linea</label>
            <small>*</small>
            <select name="linea" id="prodottoLinea" class="form-control input-sm" ng-model="prodotto.linea" required>
                <option value="">- scegli - </option>
                <option value="ilmas">Ilmas</option>
                <option value="estro">Estro</option>
                <option value="toshiba">Toshiba</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prodottoDestinazione">Destinazione d'uso</label>
            <small>*</small>
            <select name="destinazione" id="prodottoDestinazione" class="form-control input-sm" ng-model="prodotto.destinazione" required>
                <option value="">- scegli - </option>
                <option value="outdoor">Outdoor</option>
                <option value="indoor">Indoor</option>
                <option value="entrambi">Entrambi</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prodottoTradizionale" style="margin-right:10px;">
                <input type="checkbox" name="tradizionale" ng-model="prodotto.tradizionale" id="prodottoTradizionale"> Tradizionale
            </label>
        </div>
         <div class="form-group">
            <label for="prodottoModello">Modello</label>
            <small>*</small>
            <select class="form-control input-sm" name="modello" 
               ng-model="prodotto.modello" 
               ng-options="modello as modello.nome for modello in modelli track by modello._id" 
               ng-change="updateCategorie()"
               required 
               >
                <option value="">- seleziona un modello -</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="prodottoCategoria">Categoria</label>
            <select  disabled="true"  class="form-control input-sm" name="" ng-model="prodotto.categoria" ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id" readonly>
                <option value="">- seleziona una categoria -</option>
            </select>
        </div>
       
        <div class="form-group">
            <label for="prodottoSottocategoria">Sottocategoria</label>
            <bootcomplete    
                btc-minlength="3"
                btc-maxresults="5"
                btc-size="sm"
                btc-label="nome"
                btc-placeholder="Es: Fashion"             
                btc-query="cercaSottocategorie" 
                btc-keepselection="true"  
                btc-callback="sceltaSottocategoria"
                ng-model="prodotto.sottocategoria"></bootcomplete>                                  
            <small class="help-block">
        <strong>Usa i suggerimenti</strong> sulle sottocategorie già inserite per evitare doppioni
    </small>
        </div>
        <div class="form-group">
            <label for="prodottoNote">Note</label>
            <textarea rows="3" class="form-control input-sm" ng-model="prodotto.note" id="prodottoNote"></textarea>
        </div>
         <div class="form-group">
            <label for="prodottoik">IK</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.ik" id="prodottoik">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="flusso_lum_app">Flusso lum. app.</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="prodotto.flusso_lum_app" id="flusso_lum_app">
                        <div class="input-group-addon">lm</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoLm">Flusso lum. nom.</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="prodotto.lm" id="prodottoLm">
                        <div class="input-group-addon">lm</div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoW">Potenza</label>
                    <div class="input-group">
                        <input type="string" class="form-control input-sm" ng-model="prodotto.w" id="prodottoW">
                        <div class="input-group-addon">W</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="potenza_sistema">Potenza sistema</label>
                    <div class="input-group">
                        <input type="string" class="form-control input-sm" ng-model="prodotto.potenza_sistema" id="potenza_sistema">
                        <div class="input-group-addon">W</div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoK">Temp. di colore</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="prodotto.k" id="prodottoK">
                        <div class="input-group-addon">K</div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottomA">Corrente</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="prodotto.ma" id="prodottomA">
                        <div class="input-group-addon">mA</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="prodottoFascio">Fascio</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.fascio" id="prodottoFascio">
                <div class="input-group-addon">°gradi</div>
            </div>
        </div>

        <div class="form-group">
            <label for="prodottoV">Tensione</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.v" id="prodottoV">
                <div class="input-group-addon">V</div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoHz">Frequenza</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.hz" id="prodottoHz">
                <div class="input-group-addon">Hz</div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoIrc">Indice di resa cromatica</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.irc" id="prodottoIrc">
        </div>
        <div class="form-group">
            <label for="prodottoDimmerabile"><input type="checkbox" ng-model="prodotto.dimmerabile" id="prodottoDimmerabile"> Dimmerabile</label>
        </div>
        <div class="form-group">
            <label for="prodottoDurata">Durata</label>
            <div class="input-group">
                <input min="0" type="text" class="form-control input-sm" ng-model="prodotto.durata" id="prodottoDurata">
                <div class="input-group-addon">ore</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoLampadina">Lampadina</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.lampadina" id="prodottoLampadina">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoAttacco">Attacco</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.attacco" id="prodottoAttacco">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoVita">Vita utile</label>
                    <input type="number" min="0" class="form-control input-sm" ng-model="prodotto.vita_utile" id="prodottoVita">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <!--
                    <label for="prodottoPerdita">Valore di perdita</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.valore_di_perdita" id="prodottoPerdita">
                -->
                    <label for="vita_utile_desc">DEC Flusso</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.vita_utile_desc" id="vita_utile_desc">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoClasse">Classe energetica</label>
            <select id="prodottoClasse" class="form-control input-sm" ng-model="prodotto.classe_energetica">
                <option value="">- scegli - </option>
                <option value="A+++">A+++</option>
                <option value="A++">A++</option>
                <option value="A+">A+</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoGenerazione">Generazione</label>
                    <small>*</small>
                    <select id="prodottoGenerazione" 
                        class="form-control input-sm" 
                        ng-model="prodotto.generazione" required>
                            <option value="">- scegli - </option>
                            <option value="G6">G6</option>
                            <option value="G5">G5</option>
                            <option value="G4">G4</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoMacadam">Macadam</label>
                    <input type="string" class="form-control input-sm" ng-model="prodotto.macadam" id="prodottoMacadam">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoColore">Colore</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.colore" id="prodottoColore">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoVerniciatura">Verniciatura</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.verniciatura" id="prodottoVerniciatura">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoModuloled">Modulo LED</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.moduloled" id="prodottoModuloled">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoLes">LES</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.les" id="prodottoLes">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoUgr">UGR</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.ugr" id="prodottoUgr">
        </div>
        <div class="form-group">
            <label for="prodottoTmax">Temperatura ambiente massima</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.tmax" id="prodottoTmax">
        </div>
        <div class="form-group">
            <label for="prodottoAlimentatore">Alimentatore</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.alimentatore" id="prodottoAlimentatore">
        </div>
        <div class="form-group">
            <label for="prodottoPerdita">Cosφ (Valore di perdita)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.valore_di_perdita" id="prodottoPerdita">
        </div>
        <div class="form-group">
            <label for="prodottoDapp">Descrizione applicazione</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.descrizione_applicazione" id="prodottoDapp">
        </div>
        <div class="form-group">
            <label for="prodottoOr">Orientabile</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.orientabile" id="prodottoOr">
        </div>
        <div class="form-group">
            <label for="prodottoIncl">Inclinabile</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.inclinabile" id="prodottoIncl">
        </div>
        <div class="form-group">
            <label for="prodottoSatinato">
                <input type="checkbox" ng-model="prodotto.satinato" id="prodottoSatinato"> Satinato</label>
            <label for="prodottoAlincluso">
                <input type="checkbox" ng-model="prodotto.alimentatore_incluso" id="prodottoAlincluso"> Alimentatore inc.</label>
            <label for="prodottoCE">
                <input type="checkbox" ng-model="prodotto.ce" id="prodottoCE"> CE</label>
            <label for="prodottoF">
                <input type="checkbox" ng-model="prodotto.f" id="prodottoF"> F</label>
            <label for="prodottoDivietoControsoffitti">
                <input type="checkbox" ng-model="prodotto.divieto_controsoffitti" id="prodottoDivietoControsoffitti"> Divieto di inst. in controsoffitti t. isolati
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="prodottoLunghezza">Lunghezza</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.lunghezza" id="prodottoLunghezza">
                <div class="input-group-addon">m</div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoCorpoit">Costruzione corpo (IT)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.corpo_it" id="prodottoCorpoit">
        </div>
        <div class="form-group">
            <label for="prodottoCorpoen">Costruzione corpo (EN)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.corpo_en" id="prodottoCorpoen">
        </div>
        <div class="form-group">
            <label for="prodottoOtticait">Costruzione ottica (IT)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.ottica_it" id="prodottoOtticait">
        </div>
        <div class="form-group">
            <label for="prodottoOtticaen">Costruzione ottica (EN)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.ottica_en" id="prodottoOtticaen">
        </div>
        <div class="form-group">
            <label for="prodottoAdattatoreit">Adattatore (IT)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.adattatore_it" id="prodottoAdattatoreit">
        </div>
        <div class="form-group">
            <label for="prodottoAdattatoreen">Adattatore (EN)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.adattatore_en" id="prodottoAdattatoreen">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoRischiofb">Rischio fotobio.</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.rischio_fotobiologico" id="prodottoRischiofb">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoFilo">Filo inc.</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.filo_incandescente" id="prodottoFilo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoClasseis">Cl. di isolamento</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.classe_isolamento" id="prodottoClasseis">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prodottoIp">Grado IP</label>
                    <input type="text" class="form-control input-sm" ng-model="prodotto.ip" id="prodottoIp">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="prodottoForo">Foro</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.foro" id="prodottoForo">
        </div>
    </div>
</div>
                
                
            </div>
            <div class="modal-footer"> 
                <label for="prodottoPubblicato" style="margin-right:10px;">
                    <input type="checkbox" name="pubblicato" ng-model="prodotto.pubblicato" id="prodottoPubblicato"> Pubblicato
                </label>   
            </div>
            </form>
            </fieldset>
        </div>
    </div>
</div>