    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-xlg">
        <div class="modal-content modal-xlg">
            <div class="modal-header clearfix" ng-show="title">
                <a href="" ng-if="!prodotto.foto" ng-click="scegliFoto()" class="pull-left" title="scegli la foto">
                    <img src="/img/placeholder_50x50.png" alt="" class="img-thumbnail">
                </a>

                <div ng-if="prodotto.foto" class="pull-left">
                    <div class="text-center">
                            <img cl-src="{{prodotto.foto}}"  height="50" width="50" crop="fill" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{prodotto.codice || 'Nuovo componente'}}
                     <div ng-show="prodotto._id">  
                         <small>
                            ultima modifica: 
                            <strong ng-if="prodotto.last_user">{{prodotto.last_user.user_metadata.nome}}, </strong>
                           {{prodotto.mdate | date: 'dd/M/yy' }} alle {{prodotto.mdate | date: 'HH:mm'}}
                        </small>
                    </div>
                </h4>
            </div>
            <form name="formNuovoProdotto" novalidate>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div bs-active-pane="tabs.activeTab" bs-tabs>
                          <div class="margin-top" ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" ng-click="clickTab(tab.title)" bs-pane>
                              <div ng-include="tab.template" ></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <div ng-if="!pdf">
                    <a href="" class="pull-left text-primary" ng-show="prodotto._id && adminProdotti &&  modalitaArchivio==false" ng-click="eliminaProdotto(prodotto._id)">
                        <u>Elimina</u>
                    </a>
                    <label for="prodottoPubblicato" style="margin-right:10px;">
                        <input type="checkbox" name="pubblicato" ng-model="prodotto.pubblicato" id="prodottoPubblicato"> Pubblica sul sito?
                    </label>
                    <label for="prodottoExportMetel" style="margin-right:10px;">
                        <input type="checkbox" name="prodottoExportMetel" ng-model="prodotto.exportMetel" id="prodottoExportMetel"> Export per metel
                    </label>
                    <button type="submit" class="btn btn-primary" ng-click="salvaProdotto()" 
                        ng-disabled="formNuovoProdotto.$invalid" ng-show="adminProdotti">
                        Salva
                    </button>
                    <!--button type="submit" class="btn btn-default" 
                        ng-click="schedaTecnica(prodotto)" 
                        ng-disabled="formNuovoProdotto.$invalid" 
                        ng-hide="prodotto.duplica"
                        >
                        <i class="fa fa-file-pdf-o"></i> Scheda tecnica (IT)
                    </button>
                   
                    <button type="submit" class="btn btn-default" 
                        ng-click="schedaTecnica(prodotto,true)" 
                        ng-disabled="formNuovoProdotto.$invalid" 
                        ng-hide="prodotto.duplica"
                        >
                        <i class="fa fa-file-pdf-o"></i> Scheda tecnica (EN)
                    </button-->
                   
                    <button type="button" class="btn btn-default" ng-click="$hide()" ng-show="adminProdotti">Annulla</button>                   
               </div>
                
                <div ng-if="pdf" class="text-center">
                    <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
                </div>

            </div>
            </form>
        </div>
    </div>
</div>
