<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">×</button>
          <h4>{{taglio.nome || 'Nuovo Taglio Led'}}
            <div ng-show="taglio._id">  
              <small>
              ultima modifica: 
                <strong ng-if="taglio.last_user">{{taglio.last_user.user_metadata.nome}}, </strong>
             {{taglio.mdate | date: 'dd/M/yy' }} alle {{taglio.mdate | date: 'HH:mm'}}
             </small>
             </div>
          </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form name="formNuovoTaglio" novalidate>
              <div class="form-group" style="width: 100px;">
                <label for="formNuovoTaglio.codice">Taglio</label>
                <input type="text" class="form-control input-sm"
                  ng-model="taglio.taglio"
                  ng-maxlength="100"
                  required
                >
              </div>              
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> 
         <a href="" class="pull-left text-primary" ng-show="taglio._id && adminProdotti" ng-click="eliminaTaglio(taglio._id)">
            <u>Elimina</u>
          </a> 
        <button type="submit" class="btn btn-primary" ng-click="salvaTaglio(taglio)" ng-disabled="formNuovoTaglio.$invalid" ng-show="adminProdotti">Salva</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button> 
      </div>
    </div>
  </div>
</div>




