<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-dialog">
        <div class="modal-content modal-dialog">
            <div class="modal-header clearfix" ng-show="title">  
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" style="margin-left:8px;">
                    {{tipologiaAssociazioniDS.tipo || 'Nuovo'}}
                     <div ng-show="tipologiaAssociazioniDS._id">  
                         <small>
                            Data inserimento: 
                           {{tipologiaAssociazioniDS.mdate | date: 'dd/M/yy' }} alle {{tipologiaAssociazioniDS.cdate | date: 'HH:mm'}}
                           da <strong ng-if="tipologiaAssociazioniDS.last_user">{{tipologiaAssociazioniDS.last_user.user_metadata.nome}} </strong>
                        </small>
                    </div>
                </h4>
            </div>
            <form name="formTipo" novalidate>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="tipo">Tipo</label>
                        <input  type="text" name="tipo" ng-model="tipologiaAssociazioniDS.tipo" 
                        id="tipo" class="form-control input-sm" required> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="salva()" 
                            ng-disabled="formTipo.$invalid" >
                            Salva
                        </button>
                        <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button> 
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>