<div class="row">
    <div class="col-md-11 margin-bottom-0-5">
        <strong ng-if="indiceCoordinata==-1">Inserisci nuova coordinate</strong>
        <strong ng-if="indiceCoordinata>-1">Modifica coordinate</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control input-sm"
        ng-model="coordinata.lat"
        placeholder="Latitudine">
    </div>
    <div class="col-md-4">
        <input type="text" 
        class="form-control input-sm"
        ng-model="coordinata.long"
        placeholder="Longitudine">
    </div>
    <div class="col-md-4 save-button">
        <a href="" ng-click="salvaCoordinata(coordinata)">
            <i class="fa fa-save" aria-hidden="true"></i>
            <span ng-if="indiceCoordinata==-1">Inserisci coordinate</span>
            <span ng-if="indiceCoordinata>-1">Aggiorna coordinate</span>
        </a>
    </div>
</div>
<hr />
<div class="row" ng-if="agente.coordinates && agente.coordinates.length">
    <div class="col-md-12">
        <table class="table table-striped table-condensed">
            <thead>
                <th class="col-md-5">Latitudine</th>
                <th class="col-md-5">Longitudine</th>
                <th class="col-md-2"></th>
            </thead>
            <tbody>
                <tr ng-repeat="obj in agente.coordinates track by $index">
                    <td>{{obj.lat}}</td>
                    <td>{{obj.long}}</td>
                    <td>
                        <a href="" ng-click="prepModCoordinata(obj, $index)"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;
                        <a href="" ng-click="deleteCoordinata($index)"><i class="fa fa-remove" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination-->
    </div>
</div> 
<div>
    <p> * Obbligatorio almeno una coppia di coordinate</p>
</div>