<div class="row">
    <div class="col-md-12">
            <div class="form-group">
                <label for="formNuovoAgente.nome">Ragione Sociale *</label>
                <input type="text" class="form-control input-sm"
                        ng-model="agente.ragioneSociale"
                        required>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="formNuovoAgente.cognome">Area *</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.area"
                    required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="formNuovoAgente.cognome">Tel</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.tel">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formNuovoAgente.cognome">Email</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.email">
        </div>
    </div>
</div>
