<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="formNuovoAgente.via">Via</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.via"
                    >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <label for="formNuovoAgente.comune">Comune *</label>
        <bootcomplete    
            btc-minlength="3"
            btc-maxresults="5"
            btc-size="sm"
            btc-label="nome"
            btc-placeholder="Cerca un comune..."             
            btc-query="cercaComune" 
            btc-callback="sceltaComune"
            btc-keepselection="true"                
            btc-noresults="Nessun comune trovato"
            ng-model="agente.comune"
            required></bootcomplete>
    </div>
</div>
<div class="col-md-6">
        <div class="form-group">
            <label for="formNuovoAgente.cap">CAP</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.cap"
                    >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="formNuovoAgente.cognome">Nazione</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.nazione"
                    required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formNuovoAgente.cognome">Prov.</label>
            <input type="text" class="form-control input-sm"
                    ng-model="agente.prov">
        </div>
    </div>
</div>
