<div class="row">
    <div class="col-md-11 margin-bottom-0-5">
        <strong ng-if="indiceContatto==-1">Inserisci un nuovo contatto</strong>
        <strong ng-if="indiceContatto>-1">Modifica contatto</strong>
    </div>
    <div class="col-md-1 margin-bottom-0-5 text-right">
        
    </div>
</div>
<div class="row contattiAgentiForm">
    <div class="col-md-2">
        <input type="text" class="form-control input-sm"
        ng-model="contatto.cognome"
        placeholder="Cognome">
    </div>
    <div class="col-md-2">
        <input type="text" 
        class="form-control input-sm"
        ng-model="contatto.nome"
        placeholder="Nome">
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm"
        ng-model="contatto.email"
        placeholder="Email">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm"
        ng-model="contatto.tel"
        placeholder="Telefono">
    </div>
    <div class="col-md-2">
        <a href="" ng-click="salvaContato(contatto)">
            <i class="fa fa-save" aria-hidden="true"></i>
            <span ng-if="indiceContatto==-1">Inserisci</span>
            <span ng-if="indiceContatto>-1">Aggiorna</span>
        </a>
    </div>
</div>

<hr />
<div class="row" ng-if="agente.contatti && agente.contatti.length">
    <div class="col-md-12">
        <table class="table table-striped table-condensed">
            <thead>
                <th class="col-md-3">Cognome</th>
                <th class="col-md-3">Nome</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-2">Telefono</th>
                <th class="col-md-1"></th>
            </thead>
            <tbody>
                <tr ng-repeat="obj in agente.contatti track by $index">
                    <td>{{obj.cognome}}</td>
                    <td>{{obj.nome}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.tel}}</td>
                    <td>
                        <a href="" ng-click="prepModContato(obj, $index)"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;
                        <a href="" ng-click="deleteContato($index)"><i class="fa fa-remove" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination-->
    </div>
</div> 