 
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="formNuovoAttivita.codice">Codice</label>
                <input type="text" class="form-control input-sm" ng-model="attivita.codice" readonly>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                    <label for="formNuovoAttivita.priorita">Priorità</label>
                    <select id="formNuovoAttivita.priorita" class="form-control input-sm" ng-model="attivita.priorita" required>
                        <option value="">- scegli - </option>
                        <option value="alta">Alta</option>
                        <option value="media">Media</option>
                        <option value="bassa">Bassa</option>
                    </select>
                </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formNuovoAttivita.nome">Titolo</label>
                    <input type="text" class="form-control input-sm" ng-model="attivita.titolo" required>
                </div> 
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="formNuovoAttivita.descrizione">Descrizione</label>
                <textarea rows="8" class="form-control input-sm" ng-model="attivita.descrizione" id="formNuovoAttivita.descrizione"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                    <label for="formNuovoAttivita.uso">Stato</label>
                    <select id="formNuovoAttivita.uso" class="form-control input-sm" ng-model="attivita.stato" required>
                        <option value="">- scegli - </option>
                        <option value="nuovo">Nuova</option>
                        <option value="inlavorazione">In lavorazione</option>
                        <option value="chiuso">Chiusa</option>
                    </select>
                </div>
        </div>
        <div class="col-md-3">
        <div class="form-group" ng-if="attivita.data_rilascio">
            <label for="formNuovoAttivita.data_rilascio">Data rilascio in produzione</label>
            <input type="text" class="form-control input-sm" ng-value="attivita.data_rilascio | date: 'dd/M/yyyy HH:mm'">
         </div>
    </div>
    </div>
 


