
    <div class="row margin-top-2 margin-bottom-2" ng-show="attivita._id &&  !attivita.data_rilascio">
        <div class="col-sm-1 text-right">
            <label>Allegati</label>        
        </div>
        <div class="col-sm-3">
            <a href="" 
            ngf-select="caricaAllegato($file)" 
            class="btn btn-default">
            <span ng-if="!uploadingfile"><i class="fa fa-upload"></i> Seleziona il file ...</span>
            <span ng-if="uploadingfile"><i class="fa fa-spin fa-cog"></i> Carico il file ...</span>
            </a>
        </div>
    </div>
    <div class="row"  ng-show="attivita._id">
        <div class="col-sm-12">
            <table ng-if="attivita.allegati.length" class="table table-condensed table-striped table-bordered">
                <thead>
                    <th>Nome</th>
                    <th class="col-sm-1"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="allegato in attivita.allegati"  ng-class="{'bg-primary':selectedIndex === $index}">
                        <td><strong>{{allegato.nome}}</strong></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
                                Azioni <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{allegato.url}}" target="_blank" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                <li ><a href="" ng-click="eliminaProdotto(prodotto._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
                             </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="alert alert-warning" ng-if="!attivita.allegati.length">
                Nessun allegato
            </div> 
        </div>
    </div>
    <div class="row margin-top-2 margin-bottom-2" ng-show="!attivita._id">
        <div class="col-sm-12">
            Salva i dati dell'attività prima di caricare gli allegati
        </div>
    </div>



