<div style="background: white; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow-y:auto; max-height: 230px;">
    <div style="padding: 5px;" ng-if="!results.length">Nessun componente trovato</div>
    <table ng-if="results.length" class="table table-condensed table-bordered" style="margin-bottom:0;">
        <thead>
            <th class="col-md-1">Codice</th>
            <!--<th class="col-md-5">Descrizione</th>
            <th>Fornitore</th>
            <th class="col-md-1 text-right">Costo</th>
            <th class="col-md-1"></th>-->
        </thead>
        <tbody>
            <tr ng-repeat="result in results" ng-class="{'bg-primary':selectedIndex === $index}">
                <td><a href="" class="DistSelectLink btc-clickLink" ng-click="select($index)"><strong>{{result.codice}}</strong></a></td>
                <!--<td>{{result.nome || '-'}}</td>
                <td>{{result.fornitore}}</td>
                <td class="col-md-1  text-right">{{result.prezzo}}</td>
                <td><a href="" class="btn btn-xs btn-primary btc-clickLink" ng-click="select($index)">seleziona</a></td>-->
            </tr>
        </tbody>
    </table>
</div>
