<div style="background: white; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow-y:auto; max-height: 200px;">
    <div style="padding: 5px;" ng-if="!results.length">Nessun contatto trovato</div>
    <table class="table table-condensed table-bordered" ng-if="results.length" style="margin-bottom:0;">
        <thead>
            <th>Email</th>
            <th>Nome</th>
            <th>Azienda</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="result in results"  ng-class="{'bg-primary':selectedIndex === $index}">
                <td>{{result.email}}</td>
                <td>{{result.nome || '-'}}</td>
                <td>{{result.azienda || '-'}}</td>
                <td><a href="" class="btn btn-xs btn-primary btc-clickLink" ng-click="select($index)">seleziona</a></td>
            </tr>
        </tbody>
    </table>
</div>