<div style="background: white; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow-y:auto; max-height: 230px;">
    <div style="padding: 5px;" ng-if="!results.length">Codice non trovato</div>
    <table ng-if="results.length" class="table table-condensed table-bordered" style="margin-bottom:0;">
        <tbody>
            <tr ng-repeat="result in results"  ng-class="{'bg-primary':selectedIndex === $index}">
                <td><a href="" 
                class="btn-default btc-clickLink" 
                ng-click="select($index)">{{result.codice}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
