<div style="background: white; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow-y:auto; max-height: 230px;">
    <div style="padding: 5px;" ng-if="!results.length">Nessun modello trovato</div>
    <table ng-if="results.length" class="table table-condensed table-bordered" style="margin-bottom:0;">
        <tbody>
            <tr ng-repeat="result in results" ng-class="{'bg-primary':selectedIndex === $index}">
                <td><a href="" class="DistSelectLink btc-clickLink" ng-click="select($index)"><strong>{{result.nome}}</strong></a></td>
                <td><a href="" class="btn btn-xs btn-primary btc-clickLink" ng-click="select($index)" ng-if="result.configDistintaBase && result.configDistintaBase.length > 0">seleziona</a>
                    <span ng-if="!result.configDistintaBase || result.configDistintaBase.length === 0">No distinta base</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
