<div style="background: white; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow-y:auto; max-height: 230px;">
    <div style="padding: 5px;" ng-if="!results.length">Nessun prodotto trovato</div>
    <table ng-if="results.length" class="table table-condensed table-bordered" style="margin-bottom:0;">
        <thead>
            <th>Nome</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="result in results"  ng-class="{'bg-primary':selectedIndex === $index}">
                 <td>{{result.nome || '-'}}</td>
                 <td class="col-sm-2 text-center"><a href="" class="btn btn-xs btn-primary btc-clickLink" ng-click="select($index)">seleziona</a></td>
            </tr>
        </tbody>
    </table>
</div>
