

        <!--loading ng-hide="!uploading && immagini.$resolved" testo="Sto caricando le immagini..."></loading-->
        <div ng-if="evento.imgLista && evento.imgPrincipale" >
            Per caricare una nuova foto elimina prima quella da sostituire
        </div>
        <div class="row margin-top">
            <!--upload-->
            <div class="col-md-12 margin-top">
                
                    <div ng-if="!evento.imgLista || !evento.imgPrincipale" 
                        ngf-drop ngf-select ng-model="evento.immagini" class="uploader"
                        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                        accept=".jpg,.jpeg,.png" 
                        ngf-pattern="'.jpg,.jpeg,.png'">
                        <h3 class="uploader-text"><i class="fa fa-plus"></i> 
                            Trascina qui entrambe le foto per caricarle (.png o .jpg) <br /><br />
                            <a href="" class="btn btn-default">Oppure clicca qui</a>
                        </h3>			
                    </div>
                    
    
                    <div class="uploader-preview" ng-if="evento.immagini.length">
                        <div class="uploader-col" ng-repeat="file in evento.immagini">
                            <div class="uploader-image">
                                <a href="" class="btn btn-danger btn-xs" ng-click="rimuoviFoto($index)"><i class="fa fa-remove"></i></a>
                                <img ngf-src="file">
                            </div>
                            <select name="" required id="" class="form-control input-sm" ng-model="file.tipo" style="margin-top:3px;">
                                <option value="">- Tipo di immagine? -</option>
                                <option value="principale">Foto img principale</option>
                                <option value="lista">Foto img lista</option>
                            </select>
                        </div>
                    </div> 
                    <!--
                    <div class="uploader-bar" ng-if="files.length">
                        <a href="" ng-click="caricaFoto()" class="btn btn-primary" ng-if="!formImageUpload.$invalid">salva</a>
                        <span ng-if="formImageUpload.$invalid">Puoi caricare solo immagini jpg o png</span>
                    </div>
                -->
                
            </div>
            <!--/upload-->
    
            <!-- ultime immagini-->

            <!--
            <div class="col-md-12 margin-top" ng-if="!files.length">
                <h4 class="margin-bottom">
                    <span ng-if="!searchresults">Ultime immagini aggiornate</span>
                    <span ng-if="searchresults">Risultati della ricerca</span>
                </h4>
                <div class="viewer">
                    <div class="viewer-item" ng-repeat="immagine in immagini">
                            <div class="viewer-item-image">
    
                                 <img ng-click="zoomImmagine(immagine)"  cl-src="{{immagine.id}}" transformation="media_lib_thumb">
                                    
                            </div>
                            <input type="text" class="form-control input-sm" ng-model="immagine.nome">
                            <select name="" id="" class="form-control input-sm" ng-model="immagine.tipo" style="margin-top:3px;margin-bottom:10px;">
                                <option value="">- Tipo di immagine? -</option>
                                <option value="foto">Foto prodotto</option>
                                <option value="disegno">Disegno tecnico</option>
                                <option value="fotometria">Fotometria</option>
                                <option value="lineaCommerciale">Linea Commerciale</option>
                            </select>
                            <div>
                                <a href="" ng-click="modificaImmagine(immagine)" class="btn btn-xs btn-primary" role="button">Salva</a>
                                <a href="" ng-click="mostraAssociaImmagine(immagine)" class="btn btn-xs btn-success" role="button">Associa</a> 
                                <a href="" ng-click="eliminaImmagine(immagine)" class="btn btn-xs btn-danger" role="button">Elimina</a>                            
                            </div>
    
                    </div>					
                </div>
            </div>
        -->
        </div>

        <div class="uploader-preview"  >
            <div class="uploader-col" ng-if="evento.imgPrincipale">
                <div class="uploader-image">
                    <a href="" class="btn btn-danger btn-xs" ng-click="rimuoviImmagineSalvata('principale')"><i class="fa fa-remove"></i></a>
                    <img cl-src="{{evento.imgPrincipale}}"   width="500"  crop="scale"  class="img-responsive img-thumbnail" ng-if="evento.imgPrincipale">
                </div>
                <select name="" id="" class="form-control input-sm" style="margin-top:3px;">
                    <option value="principale">Foto principale</option>
                </select>
            </div> 

            <div class="uploader-col" ng-if="evento.imgLista">
                <div class="uploader-image">
                    <a href="" class="btn btn-danger btn-xs" ng-click="rimuoviImmagineSalvata('lista')"><i class="fa fa-remove"></i></a>
                    <img cl-src="{{evento.imgLista}}"   width="500"  crop="scale"  class="img-responsive img-thumbnail" ng-if="evento.imgLista">
                </div>
                <select name="" id="" class="form-control input-sm" style="margin-top:3px;">
                    <option value="lista">Foto lista</option>
                </select>
            </div>
        </div>
    
    
    
    