<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Titolo *</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="evento.titolo_it" 
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="evento.titolo_en" 
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Data fiera </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Dal *</div>
                <input type="text" name="dal" class="form-control input-sm" 
                ng-model="evento.dataDa" bs-datepicker required>
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Al</div>
                <input type="text" name="al" class="form-control input-sm" 
                ng-model="evento.dataA" bs-datepicker >
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Posizione stand</label>
            <div class="input-group padding-bottom-0-25" style="width:31%">
                    <input type="text" class="form-control input-sm"
                        ng-model="evento.posizione" 
                        >
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Sito web</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="evento.sitoWeb"
                    >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.testo_it">Testo IT *</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <textarea rows="3" class="form-control input-sm" ng-model="evento.testo_it" id="prodottoNote"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.testo_en">Testo EN *</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <textarea rows="3" class="form-control input-sm" ng-model="evento.testo_en" id="prodottoNote"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Metadescription *</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="evento.metaDescription_it" 
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control input-sm"
                    ng-model="evento.metaDescription_en"
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
                <small class="help-block">
                        Max 150 caratteri
                    </small>
        </div>
    </div>
</div>
 