<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Descrizione</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="installazione.descrizione_it" 
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="installazione.descrizione_en" 
                        required
                        >
                    <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
        </div>
    </div>
</div>
 
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="form.nome">Anno realizzazione</label>
            <div class="input-group padding-bottom-0-25" style="width:31%">
                <input type="number" class="form-control input-sm"
                    ng-model="installazione.anno" 
                    >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="form.nome">Data di pubblicazione</label>
            <div class="input-group padding-bottom-0-25" style="width:31%">
                <input type="text" name="dal" class="form-control input-sm" 
                ng-model="installazione.dataPubblicazione" bs-datepicker required>
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="installazioneLinea">Linea</label>
            <small>*</small>
            <select name="linea" id="installazioneLinea" class="form-control input-sm" ng-model="installazione.linea" required>
                <option value="">- scegli - </option>
                <option value="ilmas">Ilmas</option>
                <option value="estro">Estro</option>
                <!--option value="toshiba">Toshiba</option--> <!-- tolto come da richiesta 20/05/2020-->
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Prodotti</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="installazione.prodotti_it" 
                        >
                    <div class="input-group-addon" style="width: 50px;">IT</div>
                </div>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control input-sm"
                        ng-model="installazione.prodotti_en" 
                        >
                    <div class="input-group-addon" style="width: 50px;">EN</div>
                </div>
        </div>
    </div>
</div>