<div>
    <form name="formProgetti" novalidate>
        <div class="row margin-bottom-0-5" ng-show="adminProdotti">
             <div class="col-sm-12">
                <label for="">Aggiungi progetto</label>
            </div>
            <div class="col-sm-12">
                <bootcomplete
                    btc-minlength="3"
                    btc-size="sm"
                    btc-placeholder="ES: Negozio di abbigliamento"
                    btc-query="cercaProgetti"
                    btc-callback="addProgetto"
                    btc-noresults="Nessun progetto trovato"
                    btc-template="/html/includes/autocomplete-progetti-simili.html"
                    ng-model="cercaProgetto"></bootcomplete>
            </div>
        </div>
        <!--/row-->
        <div class="row" ng-if="installazione.progetti_simili.length">
            <div class="col-sm-12">
                <label for="">Progetti</label>
            </div>
            <div class="col-sm-12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>
                            <th class="col-sm-1 text-center">Foto</th>
                            <th class="col-sm-9">Descrizione</th>
                            <th class="col-sm-1 text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="installazione in installazione.progetti_simili track by $index">
                            <td class="col-sm-1 text-center">{{$index + 1}}</td>
                            <td>
                                    <e class="uploader-col" ng-repeat="file in installazione.foto" ng-if="file.tipo=='principale'">
                                        <img cl-src="{{file.foto}}" 
                                            width="100"  crop="scale"  class="img-responsive img-thumbnail">
                                    </e>
                                </td>
                            <td>{{installazione.descrizione_it}}</td>
                            <td class="text-center">
                                <a href="" ng-click="eliminaProgetto($index)" 
                                 class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="!installazione.progetti_simili.length">
            <div class="col-sm-12">
               <div class="alert alert-warning">
                Nessun progetto
                </div>
            </div>
        </div> 
    </form>
</div>