<!--loading ng-hide="!uploading && immagini.$resolved" testo="Sto caricando le immagini..."></loading-->
        <div ng-if="installazione.imgLista && installazione.imgPrincipale" >
            Per caricare una nuova foto elimina prima quella da sostituire
        </div>
        <div class="row margin-top">
            <!--upload-->
            <div class="col-md-12 margin-top">
                
                    <div ng-if="!installazione.imgLista || !installazione.imgPrincipale" 
                        ngf-drop ngf-select ng-model="installazione.immagini" class="uploader"
                        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                        accept=".jpg,.jpeg,.png" 
                        ngf-pattern="'.jpg,.jpeg,.png'">
                        <h3 class="uploader-text"><i class="fa fa-plus"></i> 
                            Trascina qui le foto per caricarle (.png o .jpg) <br /><br />
                            <a href="" class="btn btn-default">Oppure clicca qui</a>
                        </h3>			
                    </div>
                    
    
                    <div class="uploader-preview" ng-if="installazione.immagini.length">
                        <div class="uploader-col" ng-repeat="file in installazione.immagini">
                            <div class="uploader-image">
                                <a href="" class="btn btn-danger btn-xs" 
                                ng-click="rimuoviFoto($index)"><i class="fa fa-remove"></i></a>
                                <img ngf-src="file">
                            </div>
                            <select name="" required id="" class="form-control input-sm" ng-model="file.tipo" style="margin-top:3px;">
                                <option value="">- Tipo di immagine? -</option>
                                <option value="principale">Foto copertina</option>
                                <option value="lista">Img interne</option>
                            </select>
                        </div>
                    </div> 
                     
            </div> 
        </div>

        <div class="uploader-preview" ng-if="installazione.foto.length">
            <div class="uploader-col" ng-repeat="file in installazione.foto">
                <div class="uploader-image">
                    <a href="" class="btn btn-danger btn-xs" 
                        ng-click="rimuoviImmagineSalvata($index)"><i class="fa fa-remove"></i></a>
                    <img cl-src="{{file.foto}}" width="500"  crop="scale"  class="img-responsive img-thumbnail">
                </div>
                <select name="" required id="" class="form-control input-sm" ng-model="file.tipo" style="margin-top:3px;">
                    <option value="">- Tipo di immagine? -</option>
                    <option value="principale">Foto copertina</option>
                    <option value="lista">Img interne</option>
                </select>
            </div>
        </div> 
    
    
    
    