<div class="row"> 
	<div class="col-sm-12"  ng-if="lineaCommerciale.modelliAssociati.length">
	  <table class="table table-striped table-condensed">
	        <thead>
	            <tr>
	               <th class="col-sm-1 text-center">#</th>
 	                <th class="col-sm-10">Nome</th> 
 	                <th class="col-sm-1 text-center"></th>
 	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="modello in lineaCommerciale.modelliAssociati">
	                <td class="text-center">{{$index + 1}}</td>
 	                <td>{{modello.nome}}</td> 
 	                <td class="text-center">
	                <button type="button" class="btn btn-default" 
				   <button type="button" class="btn btn-default" 
					  bs-dropdown data-placement="bottom-right">
					    Azioni <span class="caret"></span>
					</button>
				  <ul class="dropdown-menu">
				    <li><a href="" ng-click="apriModaleModello(modello._id)" class="">
				    <i class="fa fa-eye"></i> Dettagli</a></li> 
					<li><a href="" 
					ng-show="adminProdotti"
					ng-click="eliminaAssociazioneModello($index, modello._id)"
					><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
				  </ul>
				 </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	<div class="alert alert-warning text-center" ng-if="!lineaCommerciale.modelliAssociati.length">
	  <strong>Nessuna associazione</strong> 
	</div>
</div>