<div class="row"> 
	<div class="col-sm-3">
		<form name="formCerca" ng-submit="cercaProdottoLineeCommerciali(search)" novalidate>
		    <div class="input-group input-group-sx">
		      <input type="text" 
		      	class="form-control" 
		      	id="cercaProdotto"
		       	placeholder="Cerca un codice prodotto..." 
		       	ng-model="search">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
		      </span>
		    </div> 			
		</form>				
	</div>
</div>
<br>
<div class="row margin-right-20"> 
	<div class="col-sm-12 " ng-if="prodotti.length">
	    <table class="table table-striped table-condensed margin-right-20">
	        <thead>
	            <tr>
	                <th class="col-sm-1 text-center">#</th>
 	                <th class="col-sm-3">Codice</th> 
 	                <th class="col-sm-2">Prezzo</th> 
 	                <th class="col-sm-3">Codice Linea</th> 
 	                <th class="col-sm-2">Prezzo Linea</th> 
 	                <th class="col-sm-1 text-center" ng-show="adminProdotti"></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="prodotto in prodotti"> 
	                <td class="text-center">{{$index + 1}}</td>
 	                <td>{{prodotto.codice}}</td>  
 	                <td>{{prodotto.prezzo | prezzo}}</td>   
 	                <td>{{prodotto.codiceLinea}}</td>   
 	                <td ng-if="prodotto.prezzoLinea">{{prodotto.prezzoLinea | prezzo}}</td>  
 	                <td></td>
 	                <td></td>
					<td>
	 	                <button type="button" class="btn btn-default" 
						  bs-dropdown data-placement="bottom-right">
						    Azioni <span class="caret"></span>
						</button>
					  	<ul class="dropdown-menu">
						    <li><a href="" ng-click="apriModaleProdotto(prodotto._id)" class="">
						    <i class="fa fa-eye"></i> Dettagli</a></li> 
							<li><a href="" 
							ng-show="adminProdotti"
							ng-click="eliminaAssociazioneProdotto($index, prodotto._id)"
							><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
					  	</ul>
					</td> 
	            </tr>
	        </tbody>
	    </table> 
	</div><br>
	<div class="alert alert-warning text-center" ng-if="!prodotti.length && ricercaEffettuata">
	  <strong>Nessun risultato trovato</strong> 
	</div>
</div>