<div class="row">
  <div class="col-md-2">
    <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
    <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-sm-12">
        <label for="fotometria">File istruzioni uso .pdf</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div>
          <a href="" accept=".pdf,.PDF" ngf-pattern="'.pdf,.PDF'" ngf-select="caricaFileProdotto($file,'pdf')"
            class="btn btn-default">

            <span ng-if="!uploadingfilePdf"><i class="fa fa-upload"></i> Scegli un file .pdf da caricare</span>
            <span ng-if="uploadingfilePdf"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
          </a>
        </div>
        <div ng-if="modello.file_pdf" class="margin-top-0-5">
          <i class="fa fa-file"></i>
          <a target="_blank" href="{{modello.file_pdf.url}}">{{modello.file_pdf.nome}}</a>
          <a href="" class="btn btn-xs btn-danger" ng-click="rimuoviFile('pdf')">rimuovi</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-sm-12">
        <label for="fotometria">File distinta base .pdf</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div>
          <a href="" accept=".pdf,.PDF" ngf-pattern="'.pdf,.PDF'" ngf-select="caricaFileProdotto($file,'distinta')"
            class="btn btn-default">

            <span ng-if="!uploadingfilePdf"><i class="fa fa-upload"></i> Scegli un file .pdf da caricare</span>
            <span ng-if="uploadingfilePdf"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
          </a>
        </div>
        <div ng-if="modello.file_distinta" class="margin-top-0-5">
          <i class="fa fa-file"></i>
          <a target="_blank" href="{{modello.file_distinta.url}}">{{modello.file_distinta.nome}}</a>
          <a href="" class="btn btn-xs btn-danger" ng-click="rimuoviFile('distinta')">rimuovi</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-sm-12">
        <label for="sostituibilita">File sostituibilita' .pdf</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div>
          <a href="" accept=".pdf,.PDF" ngf-pattern="'.pdf,.PDF'"
            ngf-select="caricaFileProdotto($file,'sostituibilita')" class="btn btn-default">

            <span ng-if="!uploadingfilePdf"><i class="fa fa-upload"></i> Scegli un file .pdf da caricare</span>
            <span ng-if="uploadingfilePdf"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
          </a>
        </div>
        <div ng-if="modello.file_sostituibilita" class="margin-top-0-5">
          <i class="fa fa-file"></i>
          <a target="_blank" href="{{modello.file_sostituibilita.url}}">{{modello.file_sostituibilita.nome}}</a>
          <a href="" class="btn btn-xs btn-danger" ng-click="rimuoviFile('sostituibilita')">rimuovi</a>
        </div>
      </div>
    </div>

  </div>
</div>