<div class="row">
    <div class="col-md-4">
        <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="modello.nome">Nome tipologia *</label>
            <!--bootcomplete
                btc-minlength="3"
                btc-maxresults="15"
                btc-size="sm"
                btc-label="nome"
                btc-query="cercaModello"
                btc-keepselection="true"
                btc-noresults="Nessun modello trovato"
                ng-model="modello.nome"></bootcomplete-->
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="modello.nome" 
                    >
                <div class="input-group-addon" style="width: 50px;">IT</div>
            </div>
            <div class="input-group" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="modello.nome_en" 
                    >
                <div class="input-group-addon" style="width: 50px;">EN</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formNuovoModello.descrizione">Descrizione IT</label>
                    <textarea rows="8" class="form-control input-sm" ng-model="modello.descrizione" id="formNuovoModello.descrizione"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="formNuovoModello.descrizione_en">Descrizione EN</label>
                    <textarea rows="8" class="form-control input-sm" ng-model="modello.descrizione_en" id="formNuovoModello.descrizione_en"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.uso">Destinazione d'uso *</label>
            <select id="formNuovoModello.uso" class="form-control input-sm" ng-model="modello.uso" required>
                <option value="">- scegli - </option>
                <option value="outdoor">Outdoor</option>
                <option value="indoor">Indoor</option>
                <option value="entrambi">Entrambi</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.categoria">Categoria *</label>
            <select class="form-control input-sm" name="" ng-model="modello.categoria" ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id" required>
                <option value="">- seleziona una categoria -</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.ordinamento_sito">Ordinamento</label>
            <input type="text" class="form-control input-sm"
                   ng-model="modello.ordinamento_sito"
                    >
        </div>

        <div class="row margin-bottom-0-5" ng-if="modello._id">
            <div class="col-sm-12">
                <label for="">Accessori <i class="fa fa-info-circle"></i></label>

            </div>
            <div class="col-sm-12">
                <bootcomplete
                        btc-minlength="3"
                        btc-size="sm"
                        btc-placeholder="ES: hammer mini 3000k 3650lm bianco"
                        btc-query="cercaAccessori"
                        btc-callback="addAccessorio"
                        btc-noresults="Nessun prodotto trovato"
                        btc-template="/html/includes/autocomplete-accessorio.html"
                        ng-model="cercaAccessorio"></bootcomplete>
            </div>
        </div>
        <!--/row-->
        
        <p><i class="fa fa-info-circle"></i> (la modifica verrà applicata solo per i prodotti già associati a questo modello)</p>
     </div>
</div>