<div class="row">
  <div class="col-md-4">
    <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
    <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label for="peso">Made in</label>
      <!--input type="checkbox"  ng-model="modello.made_italy" id="made_italy"> Made in italy-->

      <select id="made_in" class="form-control input-sm" ng-model="modello.made_in">
        <option value="">- scegli - </option>
        <option ng-repeat="obj in elencoMadeIn  track by $index" value="{{obj}}">{{obj}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="input-group">
        <strong>Importato e distribuito da Ilmas</strong>&nbsp;&nbsp;<input type="radio" ng-model="modello.importato"
          id="importatoDistribuito" ng-click="uncheck($event)" value="Importato e distribuito da">
      </div>
      <div>
        <strong>Importato da Ilmas</strong>&nbsp;&nbsp;<input type="radio" id="importato" ng-model="modello.importato"
          ng-click="uncheck($event)" value="Importato da">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <strong>Sostituibilita LED da un professionista</strong>&nbsp;&nbsp;<input type="checkbox"
          ng-model="modello.sostituibilita_LED" id="ledProfessionista" value="!modello.sostituibilita_LED">
      </div>
      <div>
        <strong>Sostituibilita Driver da un professionista</strong>&nbsp;&nbsp;<input type="checkbox"
          id="driverProfessionista" ng-model="modello.sostituibilita_driver" value="!modello.sostituibilita_driver">
      </div>
    </div>
    <div class="form-group" ng-if="modello.categoria.nome !== 'Profili'">
      <label for="peso">Classe energetica</label>
      <div class="input-group">
        <input type="text" class="form-control input-sm" ng-model="modello.classe_energetica"
          placeholder="Esempio: A1" style="text-transform: uppercase;">
      </div>
    </div>
    <div class="form-group">
      <label for="peso">Peso</label>
      <div class="input-group">
        <input type="text" class="form-control input-sm" ng-model="modello.peso" ng-pattern="onlyNumbers"
          placeholder="Esempio : 0.10">
        <div class="input-group-addon">Kg</div>
      </div>
    </div>
    <div class="form-group">
      <label for="volume">Volume</label>
      <div class="input-group">
        <input type="text" class="form-control input-sm" ng-model="modello.volume" ng-pattern="onlyNumbers"
          placeholder="Esempio : 1.25">
        <div class="input-group-addon">Cm<sup>3</sup></div>
      </div>
    </div>
    <div class="form-group">
      <label for="ecolamp">Ecolamp</label>
      <select id="modello.ecolamp" class="form-control input-sm" ng-model="modello.ecolamp">
        <option value="">- scegli - </option>
        <option value="Fascia1">Fascia1</option>
        <option value="Fascia2">Fascia2</option>
        <option value="Fascia3">Fascia3</option>
      </select>
    </div>
  </div>
</div>