<div class="row">
    <div class="col-md-4">
        <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
    </div>
    <div class="col-md-8" ng-if="modello.totProdotti.length">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-sm-2">Genarazione</th>
                <th class="col-sm-2">Tot prodotti</th> 
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="totale in modello.totProdotti">
                <td>{{totale._id.generazione}}</td>
                <td>{{totale.count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8" ng-if="!modello.totProdotti.length">
        Nessun prodotto associato
    </div>
</div>