<div class="row">
    <div class="col-md-4">
        <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="formNuovoModello.nome">Nome modello *</label>
            <bootcomplete
                    btc-minlength="3"
                    btc-maxresults="15"
                    btc-size="sm"
                    btc-label="nome"
                    btc-query="cercaModello"
                    btc-keepselection="true"
                    btc-noresults="Nessun modello trovato"
                    ng-model="modello.nome"></bootcomplete>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.linea">Linea *</label>
            <select id="formNuovoModello.linea" class="form-control input-sm" ng-model="modello.linea" required>
                <option value="">- scegli - </option>
                <option value="ilmas">Ilmas</option>
                <option value="estro">Estro</option>
                <option value="toshiba">Toshiba</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.uso">Destinazione d'uso *</label>
            <select id="formNuovoModello.uso" class="form-control input-sm" ng-model="modello.uso" required>
                <option value="">- scegli - </option>
                <option value="outdoor">Outdoor</option>
                <option value="indoor">Indoor</option>
                <option value="entrambi">Entrambi</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.categoria">Categoria *</label>
            <select class="form-control input-sm" name="" ng-model="modello.categoria" ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id" required>
                <option value="">- seleziona una categoria -</option>
            </select>
        </div>
        <div class="form-group"> 
            <label for="food" style="margin-right:10px;">
                <input type="checkbox"  ng-model="modello.food" id="pluriball"> Linea Commerciale Food
            </label>
        </div>
        <div class="form-group"> 
            <label for="china1" style="margin-right:10px;">
                <input type="checkbox"  ng-model="modello.china1" id="china1"> China1
            </label>
        </div>
        <div class="form-group">
            <label for="formNuovoModello.ordinamento_sito">Ordinamento</label>
            <input type="text" class="form-control input-sm"
                   ng-model="modello.ordinamento_sito"
                    >
        </div>

        <div class="row margin-bottom-0-5" ng-if="modello._id">
            <div class="col-sm-12">
                <label for="">Accessori <i class="fa fa-info-circle"></i></label>

            </div>
            <div class="col-sm-12">
                <bootcomplete
                        btc-minlength="3"
                        btc-size="sm"
                        btc-placeholder="ES: hammer mini 3000k 3650lm bianco"
                        btc-query="cercaAccessori"
                        btc-callback="addAccessorio"
                        btc-noresults="Nessun prodotto trovato"
                        btc-template="/html/includes/autocomplete-accessorio.html"
                        ng-model="cercaAccessorio"></bootcomplete>
            </div>
        </div>
        <!--/row-->
        
        <p><i class="fa fa-info-circle"></i> (la modifica verrà applicata solo per i prodotti già associati a questo modello)</p>
     </div>
</div>