<div class="row">
    <div class="col-sm-3">
        <!-- div class="form-group">
            <label for="gruppo_merceologico">Gruppo merceologico</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="modello.gruppo_merceologico" id="gruppo_merceologico">
            </div>
        </div -->
        <div class="form-group">
            <label for="modello_gm">Modello GM</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="modello.modello_gm" id="modello_gm">
            </div>
        </div>
        <div class="form-group">
            <label for="conto_contabile_acquisti">Conto contabile Acquisti</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="modello.conto_contabile_acquisti" id="conto_contabile_acquisti">
            </div>
        </div>
        <div class="form-group">
            <label for="conto_contabile_vendite">Conto contabile Vendite</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="modello.conto_contabile_vendite" id="conto_contabile_vendite">
            </div>
        </div>
        <div class="form-group">
            <label for="provvigioni">Provvigioni</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="modello.provvigioni" id="provvigioni">
                <div class="input-group-addon">€</div>
            </div>
        </div>
    </div>
</div>
