<style type="text/css">
    .bgGrey {background-color: #ddd; padding: 20px 15px;}
</style>
<div class="DistAssociazioneWrapper">
    <div class="row padding-bottom padding-top DistAssociazione" ng-if="modello.configDistintaBase.length==0">
        <div class="col-sm-12">
           <center><strong>Nessuna configurazione inserita</strong></center>
        </div>
    </div>
    <div class="row padding-bottom padding-top DistAssociazione" ng-repeat="conf in modello.configDistintaBase">
        <div class="col-md-12" ng-class="bgStyle(conf)">
            <div ng-if="conf.tipoEsterno">
                <div class="row margin-bottom">
                    <div class="col-md-10"><h4>Modello: {{conf.nomeModelloEsterno}}</h4></div>
                    <!--div class="col-md-2 text-right"><a class="c-link" href="" ng-click="eliminaConf(conf.nomeModelloEsterno)">Elimina modello</a></div-->
                </div>
            </div>
            <div ng-repeat="regola in conf.regole track by $index">
                <div class="row margin-bottom-1-5">
                    <div class="col-md-2">
                        <div class="form-group" ng-if="$index === 0">
                            <label for="tipoAssociazione">Tipo associazione</label>
                            <select name="linea" id="tipoAssociazione" class="form-control input-sm" ng-model="conf.tipoAssociazione" required> <!--ng-change="checkDuplicates($parent.$parent.$index)"-->
                                <option value="">- scegli - </option>
                                <option value="{{ass.tipo}}" ng-repeat="ass in configTipologieAssociazioniDS">{{ass.tipo}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group" ng-if="!(!!conf.casoElse && $index === conf.regole.length - 1)">
                            <label for="lunghezzaMaxCodice">Lungh.</label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" ng-model="regola.lunghezzaMaxCodice" id="lunghezzaMaxCodice">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group DistCodice">
                            <label ng-if="!(!!conf.casoElse && $index === conf.regole.length - 1)" for="lunghezzaMaxCodice">Codice</label>
                            <table ng-if="!(!!conf.casoElse && $index === conf.regole.length - 1)"><!-- non presente in caso di else -->
                                <tr>
                                    <td ng-repeat="pos in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                                        <input type="text"
                                               class="form-control input-sm"
                                               ng-model="regola.regoleCodice['pos'+pos]"
                                               id="lunghezzaMaxCodice"
                                               style=""
                                               placeholder="{{pos}}"></input>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="">Aggiungi componente</label>
                        <bootcomplete
                                btc-minlength="3"
                                btc-size="sm"
                                btc-placeholder="Cerca componente"
                                btc-query="cercaComponenti"
                                btc-callback="addComponente"
                                btc-noresults="Nessun componente trovato"
                                btc-template="/html/includes/autocomplete-componente.html"
                                ng-model="regola.cercaComponente"></bootcomplete>
                        <div class="row margin-top-0-5" ng-repeat="componente in regola.componenti">
                            <div class="DistCompNome">
                                {{componente.id.codice ? componente.id.codice : componente.codice}}
                            </div>
                            <div class="DistCompValue">
                               <input type="text"
                                      class="form-control input-sm"
                                      ng-model="componente.qt"
                                      id="qtaCodiceModello"
                                      style=""
                                      placeholder="1"></input>
                            </div>
                            <div class="DistCompIcon">
                                <a href="" ng-click="eliminaComponente(regola.componenti, $index)">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 DistIcons">
                        <a href="" ng-click="generaRegolaDistinta(conf)" ng-if="!(!!conf.casoElse && $index === conf.regole.length - 1)"><!-- non presente in caso di else -->
                            <i class="fa fa-fw fa-plus"></i>
                        </a>
                        <!-- Non ho capito molto bene perchè ho dovuto usare $parent.$parent, ma con un solo $parent non funziona -->
                        <a href="" ng-click="cancellaRegolaDistinta(conf, $index, $parent.$parent.$index)" ng-if="($index <= conf.regole.length - 2) || (!conf.casoElse && $index === conf.regole.length - 1)">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </a>
                    </div>
                </div>

                <div class="row margin-bottom-0-5" ng-if="(!conf.casoElse && $index === conf.regole.length - 1) || (!!conf.casoElse && $index === conf.regole.length - 2)">
                    <div class="col-md-12">
                        <label for="else" style="margin-right:10px;" >
                        <input type="checkbox"
                               ng-model="conf.casoElse"
                               id="else"
                               ng-change="aggiungiElse(conf, regola)"></input>
                        C'è una configurazione per tutti gli altri prodotti? (caso Else)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row DistDaModello" ng-show="viewCercaDistinta">
    <div class="col-md-8">
        <label>Da prodotto</label>
        <bootcomplete
                id="ricercaDistintaBaseAltriModelli"
                btc-minlength="3"
                btc-size="md"
                btc-placeholder="Cerca distinta"
                btc-query="cercaModello"
                btc-callback="addDistinta"
                btc-noresults="Nessuna distinta trovata"
                btc-template="/html/includes/autocomplete-modello.html"
                ng-model="search"></bootcomplete>
    </div>
</div>
<div class="row" style="position:relative;">
   <div class="col-md-3">
      <a class="btn btn-primary"
         ng-click="generaDistinta(modello)"
         ng-if="modello.configDistintaBase.length!=0"
         ng-disabled="!statoDistinte.dt_fine">
         Genera Distinta Base
      </a>

      <!-- scommentare questo bottone solo se si vuole ignorare il blocco della generazione delle distinte -->
      <!-- a class="btn btn-primary" ng-click="generaDistinta(modello)">Genera Distinta Base SUPAPOWA</a -->
   </div>

   <div class="col-md-9">
      <a href="" class="float" id="menu-share">
         <i class="fa fa-plus my-float"></i>
      </a>
      <ul class="BtnFab">
         <li>
            <a href="" class="ColorGray" ng-click="generaRigaDistinta()">
               <i class="fa fa-pencil my-float my-float-mini"></i>
            </a>
         </li>
         <li>
            <a href="" class="ColorBlue" ng-click="toggleCercaDistinta()">
               <i class="fa fa-cubes my-float my-float-mini"></i>
            </a>
         </li>
      </ul>
   </div>
</div>
