<div class="row">
    <div class="col-md-4">
        <img cl-src="{{modello.foto}}" width="150" crop="fit" class="img-responsive img-thumbnail" ng-if="modello.foto">
        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!modello.foto">
    </div>
    <div class="col-md-8">
       
        <div class="row margin-bottom-0-5" ng-if="modello._id">
            <div class="col-sm-12">
                <label for="">Accessori <i class="fa fa-info-circle"></i></label>

            </div>
            <div class="col-sm-12">
                <bootcomplete
                        btc-minlength="3"
                        btc-size="sm"
                        btc-placeholder="ES: hammer mini 3000k 3650lm bianco"
                        btc-query="cercaAccessori"
                        btc-callback="addAccessorio"
                        btc-noresults="Nessun prodotto trovato"
                        btc-template="/html/includes/autocomplete-accessorio.html"
                        ng-model="cercaAccessorio"></bootcomplete>
            </div>
        </div>
   
        <div class="row" ng-if="modello.accessori.length">
            <div class="col-sm-12">
                <label for=""></label>
            </div>
            <div class="col-sm-12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="col-sm-1 text-center">#</th>
                        <th class="col-sm-4">Codice</th>
                        <th class="col-sm-2 text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prodotto in modello.accessori track by $index"  >
                        <td class="text-center">{{$index + 1}}</td>
                        <td >{{prodotto.codice}}</td>
                        <td class="text-center">
                            <a href="" ng-click="eliminaAccessorio($index)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p><i class="fa fa-info-circle"></i> (la modifica verrà applicata solo per i prodotti già associati a questo modello)</p>
    </div>
</div>