<nav class="navbar navbar-default" bs-navbar>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/contatti"><img src="/img/logo/logo-simple.svg" alt=""></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href=""><i class="fa fa-television fa-1x"></i> {{env.env}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><i class="fa fa-user"></i> {{user.user_metadata.nome}}</a></li>
        <li class="dropdown" class="active">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-link" aria-hidden="true"></i> Link Preferiti <span class="caret"></span>
          </a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a target="_blank" href="http://www.ilmas.com"></i> Sito</a></li>
            <li class="divider"><hr></li>
            <li><a target="_blank" href="https://ilmas-sito-test.plurimedia.it/"></i> Sito (pre-prod)</a></li>
            <li><a target="_blank" href="https://ilmas-test.plurimedia.it/"></i> Back_End (pre-prod)</a></li>
          </ul>
        </li>
        
        <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Esci</a></li>
      </ul>
    </div>
  </div>
</nav>
