
           
      <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary"
            ng-if="!login" ng-click="testBottone()">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
            
      <div class="searchNav" ng-show="abilitaVoceMenu('cercaScheda')">
        <bootcomplete
          btc-minlength="3"
          btc-size="md"
          btc-placeholder="Cerca scheda..."
          btc-query="cercaScheda"
          btc-callback="sceltaScheda"
          btc-noresults="Codice non trovato"
          btc-template="/html/includes/autocomplete-menuProdotto.html"
          >
        </bootcomplete>
      </div>

      <ul class="components sidebar-nav">
        <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider1')"></li>
        <!-- dashboard -->
        <li ng-class="{'active': isActive('/home')}">
          <a ng-show="abilitaVoceMenu('home')" href="#/home"> 
          <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
        </li>
        <!-- linea ilmas -->
        <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider2')"></li>
        <span class="subtitle" ng-show="abilitaVoceMenu(['categorie','modelli','prodotti','codiciEan','componenti','distintaBase'])">LINEA ILMAS</span>
        <li ng-show="abilitaVoceMenu(['categorie','modelli','prodotti','codiciEan'])">
          <a class="accordion-toggle collapsed toggle-switch" 
              data-toggle="collapse" href="?#submenu-2">
              <i class="fa fa-fw fa-cubes"></i>
              Prodotti
              <b class="caret"></b>
          </a>
          <ul id="submenu-2" class="panel-collapse collapse panel-switch submenu" role="menu">
            <li ng-class="{'active': isActive('/categorie')}">
              <a ng-show="abilitaVoceMenu('categorie')" href="#/categorie">Categorie</a></li>
            <li ng-class="{'active': isActive('/modelli')}">
              <a ng-show="abilitaVoceMenu('modelli')" href="#/modelli">Modelli</a></li>
            <li ng-class="{'active': isActive('/prodotti/D3') || isActive('/prodotti')}">
              <a ng-show="abilitaVoceMenu('prodotti')" href="#/prodotti/D3">Prodotti</a></li>
            <li ng-class="{'active': isActive('/prodotti/G5')}">
              <a ng-show="abilitaVoceMenu('prodotti')" href="#/prodotti/G5">Archivio</a></li>
            <li ng-class="{'active': isActive('/codiciEan')}">
              <a ng-show="abilitaVoceMenu('codiciEan')" href="#/codiciEan">Codici EAN13</a></li>
          </ul>
        </li>
        <li ng-class="{'active': isActive('/componenti')}">
          <a ng-show="abilitaVoceMenu('componenti')" href="#/componenti">
          <i class="fa fa-fw fa-cogs"></i> Componenti</a>
        </li>
        <li ng-class="{'active': isActive('/distintaBase')}">
          <a ng-show="abilitaVoceMenu('distintaBase')" href="#/distintaBase">
          <i class="fa fa-fw fa-object-ungroup"></i> Distinta Base</a>
        </li>
        
        <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider3')"></li>
        <!-- linea estro -->
        <span class="subtitle" ng-show="abilitaVoceMenu(['categorie','modelli','prodottiEstro'])">LINEA ESTRO</span>
        <li ng-show="abilitaVoceMenu(['categorie','modelli','prodottiEstro'])">
          <a class="accordion-toggle collapsed toggle-switch" 
              data-toggle="collapse" href="?#submenu-3">
              <i class="fa fa-fw fa-cubes"></i>
              Componenti
              <b class="caret"></b>
          </a>
          <ul id="submenu-3" class="panel-collapse collapse panel-switch submenu" role="menu">
            <li ng-class="{'active': isActive('/categorieEstro')}">
              <a ng-show="abilitaVoceMenu('categorie')" href="#/categorieEstro">Categorie</a></li>
            <li ng-class="{'active': isActive('/modelliEstro')}">
              <a ng-show="abilitaVoceMenu('modelli')" href="#/modelliEstro">Tipologie</a></li>
            <li ng-class="{'active': isActive('/prodottiEstro/G6') || isActive('/prodottiEstro')}">
              <a ng-show="abilitaVoceMenu('prodottiEstro')" href="#/prodottiEstro/G7">Componenti</a></li>
          </ul>
        </li>
        <li ng-class="{'active': isActive('/schedaTecnicaEstro')}">
          <a ng-show="abilitaVoceMenu('schedaTecnicaEstro')" href="#/schedaTecnicaEstro">
          <i class="fa fa-fw fa-image"></i> Scheda tecnica</a>
        </li>
        <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider4')"></li>
        <!-- linea ilmas & estro -->
        <span class="subtitle" ng-show="abilitaVoceMenu(['immagini','etichette'])">LINEE ILMAS & ESTRO</span>
        <li ng-class="{'active': isActive('/immagini')}">
          <a ng-show="abilitaVoceMenu('immagini')" href="#/immagini">
          <i class="fa fa-fw fa-image"></i> Immagini</a>
        </li>
        <li ng-show="abilitaVoceMenu(['etichette'])">
          <a class="accordion-toggle collapsed toggle-switch" 
              data-toggle="collapse" href="?#submenu-4">
              <i class="fa fa-fw fa-barcode"></i>
              Stampa etichette
              <b class="caret"></b>
          </a>
          <ul id="submenu-4" class="panel-collapse collapse panel-switch submenu" role="menu">
            <li ng-class="{'active': isActive('/etichette')}">
              <a ng-show="abilitaVoceMenu('etichetteIlmas')" href="#/etichette">Linea ILMAS</a></li>
            <li ng-class="{'active': isActive('/etichetteEstro')}">
              <a ng-show="abilitaVoceMenu('etichetteEstro')" href="#/etichetteEstro">Linea ESTRO</a></li>
          </ul>
        </li>
        <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider5')"></li>
        <!-- redazione sito -->
        <span class="subtitle" ng-show="abilitaVoceMenu(['agenti','installazioni','news','eventi'])">REDAZIONE SITO</span>
          <li ng-class="{'active': isActive('/agenti')}">
              <a ng-show="abilitaVoceMenu('agenti')"  href="#/agenti">
              <i class="fa fa-fw fa-male" aria-hidden="true"></i> Agenti</a>
          </li>
          <li ng-class="{'active': isActive('/installazioni')}">
              <a ng-show="abilitaVoceMenu('installazioni')"  href="#/installazioni">
              <i class="fa fa-fw fa-file-image-o"></i> Installazioni</a>
          </li>
          <li ng-show="abilitaVoceMenu(['news','eventi'])">
              <a class="accordion-toggle collapsed toggle-switch" 
                  data-toggle="collapse" href="?#submenu-5">
                  <i class="fa fa-fw fa-calendar"></i>
                  News & Fiere
                  <b class="caret"></b>
              </a>
              <ul id="submenu-5" class="panel-collapse collapse panel-switch submenu" role="menu">
                <li ng-class="{'active': isActive('/news')}">
                  <a ng-show="abilitaVoceMenu('news')" href="#/news">News</a></li>
                <li ng-class="{'active': isActive('/eventi')}">
                  <a ng-show="abilitaVoceMenu('eventi')" href="#/eventi">Fiere ed Eventi</a></li>
              </ul>
          </li>
          <!--<li ng-class="{'active': isActive('/lineeCommerciali')}">
              <a ng-show="abilitaVoceMenu('lineeCommerciali')"  href="#/lineeCommerciali">
              <i class="fa fa-fw fa-cubes"></i> Linee Commerciali</a>
          </li>-->
          <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider6')"></li>
          <span class="subtitle" ng-show="abilitaVoceMenu(['contatti','offerte','mailingList'])">OFFERTE COMMERCIALI</span>
          <li ng-class="{'active': isActive('/contatti')}">
            <a ng-show="abilitaVoceMenu('contatti')" href="#/contatti">
            <i class="fa fa-fw fa-users" aria-hidden="true"></i> Contatti</a>
          </li>
          <li ng-class="{'active': isActive('/offerte')}">
            <a ng-show="abilitaVoceMenu('offerte')" href="#/offerte">
            <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Offerte</a>
          </li>
          <li ng-class="{'active': isActive('/mailingList')}">
            <a ng-show="abilitaVoceMenu('mailingList')" disabled href="#/mailingList">
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> Mailing List</a>
          </li>
          <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider7')"></li>
          <span class="subtitle" ng-show="abilitaVoceMenu(['report','attivita','dwhLogs'])">STATISTICHE</span>
          <li ng-show="abilitaVoceMenu('report')">
            <a class="accordion-toggle collapsed toggle-switch" 
              data-toggle="collapse" href="?#submenu-6">
              <i class="fa fa-fw fa-bar-chart"></i>
              Reports
              <b class="caret"></b>
            </a>
            <ul id="submenu-6" class="panel-collapse collapse panel-switch submenu" role="menu">
              <li><a href="#/dwhEtichette">Etichette</a></li>
              <li><a href="#/dwhRicerche">Ricerche APP</a></li>
              <li><a href="#/dwhSchedeDettaglio">Schede Dettaglio APP</a></li>
              <li><a href="#/dwhSchedeTecniche">Schede Tecniche</a></li>
            </ul>
          </li>
          <li ng-class="{'active': isActive('/attivita')}">
            <a ng-show="abilitaVoceMenu('attivita')" href="#/elencoattivita">
            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Attività</a>
          </li>
          <li ng-class="{'active': isActive('/dwhLogs')}">
            <a ng-show="abilitaVoceMenu('dwhLogs')" href="#/dwhLogs">
            <i class="fa fa-fw fa-terminal"></i> Logs</a>
          </li>
          <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider8')"></li>
          <!-- Settings Backend -->
          <span ng-show="abilitaVoceMenu(['configurazione','colori'])" class="subtitle">SETTINGS BACKEND</span ng-show="abilitaVoceMenu('configurazione')">
          <li ng-show="abilitaVoceMenu('configurazione')">
            <a class="accordion-toggle collapsed toggle-switch" 
                data-toggle="collapse" href="?#submenu-7">
                <i class="fa fa-fw fa-object-ungroup"></i>
                Distinta Base
                <b class="caret"></b>
            </a>
            <ul id="submenu-7" class="panel-collapse collapse panel-switch submenu" role="menu">
              <li ng-class="{'active': isActive('/configTipologieAssociazioniDS')}">
              <a href="#/configTipologieAssociazioniDS">Tipologia Associazioni</a></li>
            </ul>
          </li>
          <li ng-show="abilitaVoceMenu(['configurazione','colori'])">
            <li ng-show="abilitaVoceMenu(['configurazione','colori'])">
                <a class="accordion-toggle collapsed toggle-switch" 
                    data-toggle="collapse" href="?#submenu-8">
                    <i class="fa fa-fw fa-quote-right" aria-hidden="true"></i>
                    Estro
                    <b class="caret"></b>
                </a>
                <ul id="submenu-8" class="panel-collapse collapse panel-switch submenu" role="menu">
                  <li ng-show="abilitaVoceMenu('colori')" ng-class="{'active': isActive('/colori')}">
                  <a href="#/colori">Finiture</a></li ng-show="abilitaVoceMenu('configurazione')">
                </ul>
            </li>
          </li>
          <li role="separator" class="divider" ng-show="abilitaVoceMenu('divider9')"></li>
          <div class="link-footer">
            <a href="https://www.iubenda.com/privacy-policy/443079" target="_blank" class="small iubenda-nostyle no-brand iubenda-embed " title="Privacy Policy">Privacy Policy</a> • 
            <a href="https://www.iubenda.com/privacy-policy/443079/cookie-policy" target="_blank" class="small iubenda-nostyle no-brand iubenda-embed " title="Cookie Policy">Cookie Policy</a></div>

      </ul>