<nav class="navbar navbar-default" bs-navbar>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#/contatti"><img src="/img/logo/logo-simple.svg" alt=""></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      
        <li data-match-route="/componenti"><a ng-show="abilitaVoceMenu('componenti')" href="#/componenti">
        <i class="fa fa-cogs" aria-hidden="true"></i> Componenti</a></li>
      
        <li data-match-route="/prodotti"><a ng-show="abilitaVoceMenu('prodotti')" href="#/prodotti"><i class="fa fa-cubes"></i> Prodotti</a></li>

        <li data-match-route="/categorie"><a ng-show="abilitaVoceMenu('categorie')" href="#/categorie"><i class="fa fa-tag"></i> Modelli/Categorie</a></li>

        <li data-match-route="/immagini" ng-show="abilitaVoceMenu('immagini')"><a href="#/immagini"><i class="fa fa-image"></i> Immagini</a></li>

        <li data-match-route="/lineeCommerciali"><a ng-show="abilitaVoceMenu('lineeCommerciali')"  href="#/lineeCommerciali"><i class="fa fa-cubes"></i> Linee Commerciali</a></li>

        <li data-match-route="/contatti"><a ng-show="abilitaVoceMenu('contatti')" href="#/contatti"><i class="fa fa-users"></i> Contatti</a></li>
 
        <li data-match-route="/mailingList"><a ng-show="abilitaVoceMenu('mailingList')" href="#/mailingList"><i class="fa fa-envelope-o"></i> Mailing List</a></li> 
 
         <li data-match-route="/offerte"><a ng-show="abilitaVoceMenu('offerte')" href="#/offerte"><i class="fa fa-pencil"></i> Offerte</a></li>

        <li data-match-route="/etichette"><a ng-show="abilitaVoceMenu('etichette')" href="#/etichette"><i class="fa fa-pencil"></i> Stampa Etichette</a></li>

        <li data-match-route="/dwhEtichette"><a ng-show="abilitaVoceMenu('dwhEtichette')" href="#/dwhEtichette"><i class="fa fa-bar-chart"></i>  Report Etichette</a></li>

       </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li data-match-route="/settings"><a  ng-show="abilitaVoceMenu('settings')" href="#/settings"><i class="fa fa-cog"></i> Impostazioni</a></li>
        <li><a href=""><i class="fa fa-user"></i> {{user.user_metadata.nome}}</a></li>
        <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Esci</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>