<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Titolo *</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="singleNews.titolo_it" 
                    required
                    >
                <div class="input-group-addon" style="width: 50px;">IT</div>
            </div>
            <div class="input-group" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="singleNews.titolo_en" 
                    >
                <div class="input-group-addon" style="width: 50px;">EN</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Abstract</label>
            <div class="input-group panel-custom padding-bottom-0-25" style="width:100%">
                <summernote id="abstract_it" config="editorOptions" ng-model="singleNews.abstract_it" ></summernote>
                <div class="input-group-addon" style="width: 50px;">IT</div>
            </div>
            <div class="input-group panel-custom" style="width:100%">
                <summernote id="abstract_en" config="editorOptions" ng-model="singleNews.abstract_en" ></summernote>
                <div class="input-group-addon" style="width: 50px;">EN</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Testo</label>
            <div class="input-group panel-custom padding-bottom-0-25" style="width:100%">
                <summernote id="descrizione_it" config="editorOptions" ng-model="singleNews.descrizione_it" ></summernote>
                <div class="input-group-addon" style="width: 50px;">IT</div>
            </div>
            <div class="input-group panel-custom" style="width:100%">
                <summernote id="descrizione_en" config="editorOptions" ng-model="singleNews.descrizione_en" ></summernote>
                <div class="input-group-addon" style="width: 50px;">EN</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="form.nome">Data di pubblicazione *</label>
            <div class="input-group padding-bottom-0-25" style="width:31%">
                <input type="text" name="dal" class="form-control input-sm" 
                ng-model="singleNews.dataPubblicazione" bs-datepicker required>
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="form.nome">Url</label>
            <div class="input-group padding-bottom-0-25" style="width:100%">
                <input type="text" class="form-control input-sm"
                    ng-model="singleNews.url" 
                    >
            </div>
        </div>
    </div>
</div>


<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="form.nome">File</label>
                    <div class="input-group padding-bottom-0-25" style="width:100%">
                        <a href=""
                            accept=".pdf,.PDF" 
                            ngf-pattern="'.pdf,.PDF'" 
                            ngf-select="caricaFileProdotto($file,'pdf')" 
                            class="btn btn-default">
                            
                            <span ng-if="!uploadingfilePdf"><i class="fa fa-upload"></i> Scegli un file .pdf da caricare</span>
                            <span ng-if="uploadingfilePdf"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
                        </a>
                    </div>
                    <div ng-if="singleNews.file_pdf" class="margin-top-0-5">
                        <i class="fa fa-file"></i>
                        <a target="_blank" href="{{singleNews.file_pdf.url}}">{{singleNews.file_pdf.nome}}</a>
                        <a href="" class="btn btn-xs btn-danger" 
                            ng-click="rimuoviFile('pdf')"
                        >rimuovi</a>
                    </div>
            </div>
        </div>
    </div>
 