<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="provenienza">Provenienza</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.provenienza" id="provenienza">
            </div>
        </div>
        <div class="form-group">
            <label for="listino">Listino</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.listino" id="listino">
            </div>
        </div>
        <div class="form-group">
            <label for="codice_fornitore">Codice fornitore</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.codice_fornitore" id="codice_fornitore">
            </div>
        </div>
        <div class="form-group">
            <label for="descr_codice_fornitore">Descrizione codice fornitore</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.descr_codice_fornitore" id="descr_codice_fornitore">
            </div>
        </div>
        <div class="form-group">
            <label for="costo">Costo</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.costo" id="costo">
                <div class="input-group-addon">€</div>
            </div>
        </div>
        <div class="form-group">
            <label for="fornitore">Fornitore</label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" ng-model="prodotto.fornitore" id="fornitore">
            </div>
        </div>
    </div>
</div>
