
<div ng-show="prodotto._id">
    <div class="row" ng-if="prodotto.codiceEan">
        <div class="col-sm-12 text center">
            <div class="panel-group" data-start-collapsed="false" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <i ng-if="!open" class="fa fa-minus-circle"></i>
                            <i ng-if="open"  class="fa fa-plus-circle"></i>
                            <a href="" ng-click="open=!open" bs-collapse-toggle>CODICE EAN: {{prodotto.codiceEan}}</a>  <span class="label label-primary">NEW</span>
                        </h4>
                    </div>
                    <div class="collapse in" role="tabpanel" bs-collapse-target>
                        <div class="panel-body">
                            <div style="height:300px;margin-top:20px" class="text-center">
                              <img
                              ng-src="http://bwipjs-api.metafloor.com/?bcid=ean13&text={{prodotto.codiceEan}}&scale=3&rotate=N">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>