<div class="margin-top-2 margin-bottom-2" style="display: flex; justify-content:space-around;" ng-show="prodotto._id && adminProdotti">
    <div style="flex: 0 0 250px;">
        <div style="float:left;width:50%">
            <font class="text-left"><b>Foto</b></font>
        </div>
        <div ng-if="prodotto.foto" class="text-right" style="float:left;width:50%;">
            <a href=""  ng-click="eliminaFotoProdotto()" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
        </div>

        <a  href="" ng-click="scegliFoto('foto')">
            <img cl-src="{{prodotto.foto}}" width="250"  height="250" crop="scale" ng-if="prodotto.foto" class="img-responsive img-thumbnail">
            <img src="/img/placeholder_250x250.png" ng-if="!prodotto.foto" class="img-responsive img-thumbnail"> 
        </a> 
        
    </div>

    <div style="flex: 0 0 250px;">
        <div style="float:left;width:50%">
            <font class="text-left"><b>Foto quotata</b></font>
        </div>
        <div ng-if="prodotto.fotoQuotata" class="text-right" style="float:left;width:50%;">
            <a href=""  ng-click="eliminaFotoQuotataProdotto()" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
        </div>

        <a  href="" ng-click="scegliFoto('fotoQuotata')">
            <img cl-src="{{prodotto.fotoQuotata}}" width="250"  height="250" crop="scale" ng-if="prodotto.fotoQuotata" class="img-responsive img-thumbnail">
            <img src="/img/placeholder_250x250.png" ng-if="!prodotto.fotoQuotata" class="img-responsive img-thumbnail"> 
        </a> 
        
    </div>
    <div style="flex: 0 0 250px">
       <div style="float:left;width:50%">
            <font class="text-left"><b>Disegno</b></font>
        </div>
        <div  ng-if="prodotto.disegno" class="text-right" style="float:left;width:50%;">
            <a href="" ng-click="eliminaDisegnoProdotto()" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
        </div>
        <a  href="" ng-click="scegliFoto('disegno')">
            <img cl-src="{{prodotto.disegno}}" height="250" crop="scale" ng-if="prodotto.disegno" class="img-responsive img-thumbnail">
            <img src="/img/placeholder_250x250.png" ng-if="!prodotto.disegno" class="img-responsive img-thumbnail">
        </a>
       
    </div>
    <div style="flex: 0 0 250px">
       <div style="float:left;width:50%">
            <font class="text-left"><b>Fotometria</b></font>
        </div>
        <div class="text-right" ng-if="prodotto.fotometria"
        class="text-right" style="float:left;width:50%;">
            <a href="" ng-click="eliminaFotometriaProdotto()" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
        </div>
        <a href="" ng-click="scegliFoto('fotometria')">
            <img cl-src="{{prodotto.fotometria}}" height="250" crop="scale" ng-if="prodotto.fotometria" class="img-responsive img-thumbnail">
            <img src="/img/placeholder_250x250.png" ng-if="!prodotto.fotometria" class="img-responsive img-thumbnail">
        </a>

        
    </div>
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di inserire le immagini
    </div>
</div>


<div class="row" ng-show="!adminProdotti">
    <div class="col-sm-12">
       <div class="alert alert-warning">
        Non hai i privilegi di accesso per accedere a questa sezione
        </div>
    </div>
</div>