<div ng-show="prodotto._id">
    <div class="row" ng-if="prodotto.componenti.length">
        <div class="col-sm-12 text center">
            <div class="panel-group" data-start-collapsed="false" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <i ng-if="!open"  class="fa fa-minus-circle"  ></i>
                            <i ng-if="open" class="fa fa-plus-circle"></i>
                            <a href="" ng-click="open=!open" bs-collapse-toggle>DISTINTA BASE</a>  <span class="label label-primary">NEW</span>
                        </h4>
                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <div class="panel-body">
                            <div style="height:400px;overflow-y:scroll">
                                <ul ng-tree="model">
                                    <li style="padding: 5px">
                                        <strong>{{item.tipoAssociazioneGruppo.toUpperCase()}}</strong> 
                                        <a href="" ng-click="apriModaleComponente(item._id)"><span>
                                        <strong>{{item.codice}}</strong></span></a> <small ng-if="item.nome"> - {{item.nome}}  <small class="text-muted">qt:{{item.qt}}</small></small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>