<div ng-show="prodotto._id">
    <div class="row" ng-if="prodotto.componenti.length">
        <div class="col-sm-12 text center">
            <div class="panel-group" data-start-collapsed="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <i ng-if="!open"  class="fa fa-plus-circle"></i>
                            <i ng-if="open"   class="fa fa-minus-circle"></i>
                            <a href="" ng-click="open=!open" bs-collapse-toggle>DISTINTA BASE</a>  <span class="label label-primary">NEW</span>
                        </h4>
                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <div class="panel-body">
                            <div style="height:400px;overflow-y:scroll">
                                <ul ng-tree="model">
                                    <li style="padding: 5px">
                                        <strong>{{item.tipoAssociazioneGruppo.toUpperCase()}}</strong> 
                                        <a href="" ng-click="apriModaleComponente(item._id)"><span>
                                        <strong>{{item.codice}}</strong></span></a> <small ng-if="item.nome"> - {{item.nome}}  <small class="text-muted">qt:{{item.qt}}</small></small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form name="formDistintaBase" novalidate>
       <div class="row margin-bottom-0-5">
           <div class="col-sm-2"></div>
           <div class="col-sm-2"></div>
        </div>
        <div class="row margin-bottom-0-5"><!-- ng-show="adminProdotti"-->
            <div class="col-sm-12">
                <label for="">Aggiungi componente </label>
            </div>
            <div class="col-sm-12">
                <bootcomplete
                    btc-minlength="3"
                    btc-size="sm"
                    btc-placeholder="Cerca componente"
                    btc-query="cercaComponenti"
                    btc-callback="addComponente"
                    btc-noresults="Nessun componente trovato"
                    btc-template="/html/includes/autocomplete-componente.html"
                    ng-model="cercaComponente"></bootcomplete>
            </div>
        </div>
        <div class="row" ng-if="prodotto.componenti.length">
            <div class="col-sm-12">
                <label>Componenti</label>
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>
                            <th class="col-sm-2">Codice</th>
                            <th class="col-sm-4">Descrizione</th>
                            <th class="col-sm-1">Tipo</th>
                            <th class="col-sm-1 text-center">Qta</th>
                            <th class="col-sm-1 text-center">Tipo Ass</th>
                            <th class="col-sm-1" ng-show="adminProdotti"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="componente in prodotto.componenti">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>
                                <a href="" ng-click="apriModaleComponente(componente._id)">
                                    {{componente._id.codice || componente.codice}}
                                </a>
                            </td>
                            <td>{{componente._id.nome || componente.nome}}</td>
                            <td>{{componente._id.tipo  || componente.tipo}}</td>
                            <td>
                                <input type="number"
                                       min="1"
                                       class="form-control input-sm"
                                       ng-model="componente.qt"
                                       required />
                            </td>
                            <td>
                            <input type="text"
                                       class="form-control input-sm"
                                       ng-model="componente.tipoAssociazione"
                                        />
                            </td>
                            <td class="text-center" ng-show="adminProdotti">
                                <a href=""
                                   ng-click="eliminaComponente($index)"
                                   class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="!prodotto.componenti.length">
            <div class="col-sm-12">
               <div class="alert alert-warning">
                   Nessun componente
               </div>
            </div>
        </div>
    </form>
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di caricare i componenti
    </div>
</div>
