<div ng-show="prodotto._id">
    <form name="formAccessori" novalidate>
        <div class="row margin-bottom-0-5" ng-show="adminProdotti">
             <div class="col-sm-12">
                <label for="">Aggiungi accessorio</label>
            </div>
            <div class="col-sm-12">
                <bootcomplete
                    btc-minlength="3"
                    btc-size="sm"
                    btc-placeholder="ES: hammer mini 3000k 3650lm bianco"
                    btc-query="cercaAccessori"
                    btc-callback="addAccessorio"
                    btc-noresults="Nessun prodotto trovato"
                    btc-template="/html/includes/autocomplete-accessorio.html"
                    ng-model="cercaAccessorio"></bootcomplete>

            </div>
        </div>
        <!--/row-->
        <div class="row" ng-if="prodotto.accessori.length">
            <div class="col-sm-12">
                <label for="">Prodotti</label>
            </div>
            <div class="col-sm-12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-1 text-center">#</th>
                            <th class="col-sm-2">Codice</th>
                            <th class="col-sm-2">Modello</th>
                            <th class="col-sm-2">Descrizione</th>
                             <th class="col-sm-2 text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prodotto in prodotto.accessori track by $index">
                            <td class="col-sm-1 text-center">{{$index + 1}}</td>
                            <td>{{prodotto.codice}}</td>
                            <td>{{prodotto.modello.nome}}</td>
                            <td>{{prodotto.corpo_it}}</td>
                            <td class="text-center">
                                <a href="" ng-click="eliminaAccessorio($index)" 
                                 class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="!prodotto.accessori.length">
            <div class="col-sm-12">
               <div class="alert alert-warning">
               Nessun accessorio
                </div>
            </div>
        </div> 
    </form>
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di caricare gli accessori
    </div>
</div> 