<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label for="prodottoCodice">Codice</label>
      <small>*</small>
      <small class="text-muted">(A-Z / 0-9 / &-)</small>
      <div class="input-group">
        <input type="text" name="codice" class="form-control input-sm" ng-model="prodotto.codice" id="prodottoCodice"
          ng-pattern="/^[&a-zA-Z0-9-]*$/" required>
        <div class="input-group-addon"><i class="fa fa-barcode"></i></div>
      </div>
    </div>
    <div class="row" ng-if="prodotto.padre">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="prodottoForo">codice padre</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.padre" id="padre" readonly="true">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoPrezzo">Prezzo</label>
          <div class="input-group">
            <input min="0" type="number" class="form-control input-sm" ng-model="prodotto.prezzo" id="prodottoPrezzo">
            <div class="input-group-addon"><i class="fa fa-euro"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="prodottoDestinazione">Destinazione d'uso</label>
      <small>*</small>
      <select name="destinazione" id="prodottoDestinazione" class="form-control input-sm"
        ng-model="prodotto.destinazione" required>
        <option value="">- scegli - </option>
        <option value="outdoor">Outdoor</option>
        <option value="indoor">Indoor</option>
        <option value="indoor/outdoor">Indoor/Outdoor</option>
      </select>
    </div>
    <div class="form-group">
      <label for="prodottoModello">Modello</label>
      <small>*</small>
      <select class="form-control input-sm" name="modello" ng-model="prodotto.modello"
        ng-options="modello as modello.nome for modello in modelli track by modello._id" ng-change="updateCategorie()"
        required>
        <option value="">- seleziona un modello -</option>
      </select>
    </div>

    <div class="form-group">
      <label for="prodottoCategoria">Categoria</label>
      <select disabled="true" class="form-control input-sm" name="" ng-model="prodotto.categoria"
        ng-options="categoria as categoria.nome for categoria in categorie track by categoria._id" readonly>
        <option value="">- seleziona una categoria -</option>
      </select>
    </div>

    <div class="form-group">
      <label for="prodottoSottocategoria">Sottocategoria</label>
      <bootcomplete btc-minlength="3" btc-maxresults="5" btc-size="sm" btc-label="nome" btc-placeholder="Es: Fashion"
        btc-query="cercaSottocategorie" btc-keepselection="true" btc-callback="sceltaSottocategoria"
        ng-model="prodotto.sottocategoria"></bootcomplete>
      <small class="help-block">
        <strong>Usa i suggerimenti</strong> sulle sottocategorie già inserite per evitare doppioni
      </small>
    </div>
    <div class="form-group">
      <label for="prodottoNote">Note (pubbliche)</label>
      <textarea rows="3" class="form-control input-sm" ng-model="prodotto.note" id="prodottoNote"></textarea>
    </div>
    <div class="form-group">
      <label for="note_private">Note (private)</label>
      <textarea rows="3" class="form-control input-sm" ng-model="prodotto.note_private" id="note_private"></textarea>
    </div>
    <div class="form-group">
      <small class="help-block">* Campo obbligatorio</small>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="flusso_lum_app">Flusso lum. app.</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.flusso_lum_app" id="flusso_lum_app">
            <div class="input-group-addon">lm/m</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoLm">Flusso lum. nom.</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.lm"
              ng-change="calcolaClasseEnergetica()" id="prodottoLm">
            <div class="input-group-addon">lm/m</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="prodottoW">Potenza</label>
          <div class="input-group">
            <input type="number" min="2" max="9" class="form-control input-sm" ng-model="prodotto.luci"
              ng-change="calcolaClasseEnergetica()" id="luci">
            <div class="input-group-addon">X</div>

            <input type="text" class="form-control input-sm" ng-model="prodotto.w" ng-change="calcolaClasseEnergetica()"
              id="prodottoW">
            <div class="input-group-addon">W</div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottomA">Corrente</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.ma"
              ng-disabled="prodotto.corrente_v!='' && !(prodotto.corrente_v!='' && prodotto.ma!='')" id="prodottomA">
            <div class="input-group-addon">mA</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="corrente_v">&nbsp;</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.corrente_v"
              ng-disabled="prodotto.ma!=''" id="corrente_v">
            <div class="input-group-addon">V</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoK">Temp. di colore</label>
          <div class="input-group">
            <input class="form-control input-sm" ng-model="prodotto.k" id="prodottoK">
            <div class="input-group-addon">K</div><!-- messo solo numerico come da richiesta -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoFascio">Fascio</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.fascio" id="prodottoFascio">
            <div class="input-group-addon">°gradi</div><!-- elimino il carattere ° sul controller -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoV">Tensione</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.v" id="prodottoV">
            <div class="input-group-addon">V</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoHz">Frequenza</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.hz" id="prodottoHz">
            <div class="input-group-addon">Hz</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoIrc">CRI</label>
          <!--input type="text" class="form-control input-sm" ng-model="prodotto.irc" id="prodottoIrc"-->
          <select id="irc" class="form-control input-sm" ng-model="prodotto.irc">
            <option value="">- scegli - </option>
            <option ng-repeat="irc in elencoIrc track by $index" value="{{irc}}">{{irc}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoTmax">Temp amb max</label>
          <!--Temp ambiente max-->
          <input type="text" class="form-control input-sm" ng-model="prodotto.tmax" id="prodottoTmax">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoDurata">Durata</label>
          <div class="input-group">
            <input min="0" type="text" class="form-control input-sm" ng-model="prodotto.durata" id="prodottoDurata">
            <div class="input-group-addon">ore</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoDimmerabile"><input type="checkbox" ng-model="prodotto.dimmerabile"
              id="prodottoDimmerabile"> Dimmerabile</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="vita_utile_desc">DEC Flusso</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.vita_utile_desc" id="vita_utile_desc">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="peso">Peso</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.peso" id="peso" ng-pattern="onlyNumbers"
              placeholder="">
            <div class="input-group-addon">Kg/m</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <strong>Classe energetica</strong>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label style="margin-right: 5px;"> Modello</label>
          <input type="text" ng-model="prodotto.modello.classe_energetica" disabled style="text-transform: uppercase;"/>
        </div>
        <div class="form-group">
          <label>Prodotto</label>
          <input type="text" ng-model="prodotto.classe_energetica" style="text-transform: uppercase;"/>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoGenerazione">Generazione</label>
          <select id="prodottoGenerazione" class="form-control input-sm" ng-model="prodotto.generazione">
            <option value="">- scegli - </option>
            <option ng-repeat="generazione in generazioni track by $index" value="{{generazione}}">{{generazione}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoMacadam">Macadam</label>
          <input type="string" class="form-control input-sm" ng-model="prodotto.macadam" id="prodottoMacadam">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoModuloled">Modulo LED</label>
          <!--input type="text" class="form-control input-sm" ng-model="prodotto.moduloled" id="prodottoModuloled" -->
          <select id="prodottoModuloled" class="form-control input-sm" ng-model="prodotto.moduloled">
            <option value="">- scegli - </option>
            <option ng-repeat="modelloLed in modelliLed track by $index" value="{{modelloLed}}">{{modelloLed}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <label for="prodottoColore">Colore</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.colore" id="prodottoColore">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoUgr">UGR</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.ugr" id="prodottoUgr">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoLunghezza">Lunghezza</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="prodotto.lunghezza" id="prodottoLunghezza">
            <div class="input-group-addon">mm</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="prodottoLedit">Led (IT)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.led_it" id="prodottoLedit">
    </div>
    <div class="form-group">
      <label for="prodottoLeden">Led (EN)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.led_en" id="prodottoLeden">
    </div>
    <!--div class="form-group">
            <label for="prodottoVerniciatura">Finitura (IT)</label>
            <input type="text" class="form-control input-sm" ng-model="prodotto.verniciatura" id="prodottoVerniciatura">
        </div>
        <div class="form-group">
                <label for="verniciatura_en">Finishing (EN)</label>
                <input type="text" class="form-control input-sm" ng-model="prodotto.verniciatura_en" id="verniciatura_en">
            </div-->
    <div class="form-group">
      <label for="prodottoDapp">Descrizione applicazione(IT)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.descrizione_applicazione" id="prodottoDapp">
    </div>
    <div class="form-group">
      <label for="descrizione_applicazione_en">Descrizione applicazione(EN)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.descrizione_applicazione_en"
        id="descrizione_applicazione_en">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoOr">Orientabile</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.orientabile" id="prodottoOr">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoIncl">Inclinabile</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.inclinabile" id="prodottoIncl">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="prodottoCE">
        <input type="checkbox" ng-model="prodotto.ce" id="prodottoCE"> CE</label>
      <label for="prodottoF">
        <input type="checkbox" ng-model="prodotto.f" id="prodottoF"> F</label>
      <label for="prodottoDivietoControsoffitti">
        <input type="checkbox" ng-model="prodotto.divieto_controsoffitti" id="prodottoDivietoControsoffitti"> Divieto di
        inst. in controsoffitti t. isolati
      </label>
    </div>
  </div>
  <div class="col-sm-3">

    <div class="form-group">
      <label for="prodottoCorpoit">Costruzione profilo (IT)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.corpo_it" id="prodottoCorpoit">
    </div>
    <div class="form-group">
      <label for="prodottoCorpoen">Costruzione profilo (EN)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.corpo_en" id="prodottoCorpoen">
    </div>
    <div class="form-group">
      <label for="prodottoOtticait">Costruzione cover (IT)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.ottica_it" id="prodottoOtticait">
    </div>
    <div class="form-group">
      <label for="prodottoOtticaen">Costruzione cover (EN)</label>
      <input type="text" class="form-control input-sm" ng-model="prodotto.ottica_en" id="prodottoOtticaen">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoRischiofb">Rischio fotobio.</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.rischio_fotobiologico"
            id="prodottoRischiofb">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoFilo">Filo inc.</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.filo_incandescente" id="prodottoFilo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoClasseis">Cl. di isolamento</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.classe_isolamento" id="prodottoClasseis">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prodottoIp">Grado IP</label>
          <input type="text" class="form-control input-sm" ng-model="prodotto.ip" id="prodottoIp">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="prodottoForo">Foro</label>
        <input type="text" class="form-control input-sm" ng-model="prodotto.foro" id="prodottoForo">
      </div>
      <div class="col-sm-6">
        <label for="prodottoik">IK</label>
        <input type="text" class="form-control input-sm" ng-model="prodotto.ik" id="prodottoik">
      </div>
    </div>
    <div class="form-group"><br>
      <label for="kit">
        <input type="checkbox" ng-model="prodotto.kit" id="kit"> KIT</label>
      <label for="speciale">
        <input type="checkbox" ng-model="prodotto.speciale" id="speciale"> Speciale</label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="criptato">
            <input type="checkbox" ng-model="prodotto.criptato" id="criptato" ng-click="manageCriptato()">
            Criptato</label>
          <small ng-show="prodotto.criptato"> - modello :</snall>
            <select class="form-control input-sm" name="modelloEtichetta" ng-model="prodotto.modello_cript"
              ng-options="modello as modello.nome for modello in modelli track by modello._id"
              ng-show="prodotto.criptato">
              <option value="">- seleziona un modello -</option>
            </select>
        </div>
      </div>
    </div>
  </div>
</div>