<div class="row margin-top-2 margin-bottom-2" ng-show="prodotto._id && adminProdotti">
    <div class="col-sm-2 text-right">
        <label for="fotometria">File fotometrico .ldt</label>        
    </div>
    <div class="col-sm-3">
        <div>
               <a href=""
                accept=".ldt,.LDT" 
			    ngf-pattern="'.ldt,.LDT'" 
			    ngf-select="caricaFileProdotto($file,'ldt')" 
			    class="btn btn-default">
			    
                <span ng-if="!uploadingfile"><i class="fa fa-upload"></i> Scegli un file .ldt da caricare</span>
			    <span ng-if="uploadingfile"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
			    </a>
			    </div>
        <div ng-if="prodotto.file_ldt" class="margin-top-0-5">
        <i class="fa fa-file"></i>
        <a target="_blank" href="{{prodotto.file_ldt.url}}">{{prodotto.file_ldt.nome}}</a>
        <a href="" class="btn btn-xs btn-danger" 
            ng-click="rimuoviFile('ldt')"
           >rimuovi</a>
        </div>
    </div>
    <!--div class="col-sm-2 text-right">
        <label for="fotometria">File istruzioni uso .pdf</label>        
    </div>
    <div class="col-sm-3">
        <div>
               <a href=""
                accept=".pdf,.PDF" 
			    ngf-pattern="'.pdf,.PDF'" 
			    ngf-select="caricaFileProdotto($file,'pdf')" 
			    class="btn btn-default">
			    
                <span ng-if="!uploadingfilePdf"><i class="fa fa-upload"></i> Scegli un file .pdf da caricare</span>
			    <span ng-if="uploadingfilePdf"><i class="fa fa-spin fa-cog"></i> Carico il file...</span>
			    </a>
			    </div>
        <div ng-if="prodotto.file_pdf" class="margin-top-0-5">
        <i class="fa fa-file"></i>
        <a target="_blank" href="{{prodotto.file_pdf.url}}">{{prodotto.file_pdf.nome}}</a>
        <a href="" class="btn btn-xs btn-danger" 
            ng-click="rimuoviFile('pdf')"
           >rimuovi</a>
        </div>
    </div-->
    <!--div class="col-sm-7" ng-if="modalitaArchivio==false">
        <small class="text-muted"><i class="fa fa-info-circle"></i> NB: Il file verrà associato a tutti i prodotti con lo stesso codice ma colore o alimentatore diversi</small>
    </div-->
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di caricare i files
    </div>
</div>
<div class="row" ng-show="!adminProdotti">
    <div class="col-sm-12">
       <div class="alert alert-warning">
        Non hai i privilegi di accesso per accedere a questa sezione
        </div>
    </div>
</div>