 
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="prodottoCodice">Codice prodotto fornitore</label> 
                <small class="text-muted">(A-Z / 0-9 / &-)</small>
                <div class="input-group"> 
                    <input type="text"   class="form-control input-sm" 
                        ng-model="prodotto.codice_prodotto_fornitore" id="codice_prodotto_fornitore"  
                        >
                    <div class="input-group-addon"><i class="fa fa-barcode"></i></div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row margin-top-2">
            <div class="col-sm-12">
                <div class="panel-group" data-start-collapsed="true" bs-collapse>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title"><a href="" bs-collapse-toggle>TRACCIATO RECORD XLS</a></h4>
                        </div>
                        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                            <div class="panel-body">
                                <div style="height:400px;overflow-y:scroll">
                                    <table ng-if="prodotto.tracciatoRecordKITE" class="table table-bordered">
                                        <thead>
                                            <th>nome campo</th>
                                            <th>valore</th>
                                            <th>len</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="30%">Codice</td><td>{{prodotto.tracciatoRecordKITE.codice}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.codice.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>Descrizione
                                                <div><small>(nome modello + ugr)</small></div>
                                                </td>
                                                <td>{{prodotto.tracciatoRecordKITE.Descrizione}}</div></td>
                                                <td>{{prodotto.tracciatoRecordKITE.Descrizione.length}}</td>
                                            </tr>
                                            <tr><td>DESCR2
                                                    <div><small>(colore + sat + modulo led + lunghezza + cod fornitore + w + k + cri + lm + fascio)</small></div>
                                                </td>
                                                <td>{{prodotto.tracciatoRecordKITE.DESCR2}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.DESCR2.length}}</td>
                                            </tr>
                                            <tr><td>DESCR3
                                                <div><small>(ma + alimentatore + sottocategoria)</small></div>
                                                </td><td>{{prodotto.tracciatoRecordKITE.DESCR3}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.DESCR3.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>colore</td><td>{{prodotto.tracciatoRecordKITE.colore}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.colore.length}}</td>
                                            </tr>
                                            <tr><td>lm</td><td>{{prodotto.tracciatoRecordKITE.lm}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.lm.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>k</td><td>{{prodotto.tracciatoRecordKITE.k}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.k.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>w</td><td>{{prodotto.tracciatoRecordKITE.potenza}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.potenza.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>ma</td><td>{{prodotto.tracciatoRecordKITE.ma}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.ma.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>fascio</td><td>{{prodotto.tracciatoRecordKITE.fascio}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.fascio.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>irc</td><td>{{prodotto.tracciatoRecordKITE.irc}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.irc.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>alimentatore</td><td>{{prodotto.tracciatoRecordKITE.alimentatore}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.alimentatore.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>satinato</td><td>{{prodotto.tracciatoRecordKITE.satinato}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.satinato.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>v</td><td>{{prodotto.tracciatoRecordKITE.v}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.v.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>hz</td><td>{{prodotto.tracciatoRecordKITE.hz}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.hz.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>moduloled</td><td>{{prodotto.tracciatoRecordKITE.moduloled}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.moduloled.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>generazione</td><td>{{prodotto.tracciatoRecordKITE.generazione}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.generazione.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>prezzo</td><td>{{prodotto.tracciatoRecordKITE.prezzo}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.prezzo.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>les</td><td>{{prodotto.tracciatoRecordKITE.les}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.les.length}}</td>
                                            </tr>
                                            <tr> 
                                                <td>ugr</td><td>{{prodotto.tracciatoRecordKITE.ugr}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.ugr.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>modello</td><td>{{prodotto.tracciatoRecordKITE.modello}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.modello.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>ColoreEn</td><td>{{prodotto.tracciatoRecordKITE.ColoreEn}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.ColoreEn.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>metel</td><td>{{prodotto.tracciatoRecordKITE.exportMetel}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.exportMetel.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>voce doganale</td><td>{{prodotto.tracciatoRecordKITE.voce_doganale}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.voce_doganale.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>lunghezza</td><td>{{prodotto.tracciatoRecordKITE.lunghezza}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.lunghezza.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>note</td><td>{{prodotto.tracciatoRecordKITE.note}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.note.length}}</td>
                                            </tr>
                                            <tr><td>codice prodotto fornitore</td>
                                                <td>{{prodotto.tracciatoRecordKITE.codice_prodotto_fornitore}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.codice_prodotto_fornitore.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>Linea</td><td>{{prodotto.tracciatoRecordKITE.categoria_nome}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.categoria_nome.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gruppo</td><td>{{prodotto.tracciatoRecordKITE.gruppo}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.gruppo.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>Attacco</td><td>{{prodotto.tracciatoRecordKITE.attacco}}</td>
                                                <td>{{prodotto.tracciatoRecordKITE.attacco.length}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 