<div ng-show="prodotto._id">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="codiceBinario">Codice binario</label> 
                <div class="input-group"> 
                    <bootcomplete
                        btc-minlength="1"
                        btc-maxresults="15"
                        btc-size="sm"
                        btc-query="cercaBinari"
                        btc-keepselection="true"
                        btc-noresults="Nessun componente trovato"
                        btc-template="/html/includes/autocomplete-componente.html"
                        btc-callback="sceltaComponenteBin"
                        ng-if="prodotto.categoria.tipo==='fonti_luminose'"
                        ng-model="prodotto.st_codice_binario"></bootcomplete>
                    <input type="text" ng-disabled="true" ng-if="prodotto.categoria.tipo==='profili'" class="form-control input-sm" 
                        ng-model="prodotto.codice">    
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="codiceFonte">Codice fonte luminosa</label> 
                <div class="input-group"> 
                    <bootcomplete
                        btc-minlength="2"
                        btc-maxresults="15"
                        btc-size="sm"
                        btc-query="cercaFontiLuminose"
                        btc-keepselection="true"
                        btc-noresults="Nessun componente trovato"
                        btc-template="/html/includes/autocomplete-componente.html"
                        btc-callback="sceltaComponenteLum"
                        ng-if="prodotto.categoria.tipo==='profili'"
                        ng-model="prodotto.st_codice_fonteluminosa"></bootcomplete>
                    <input type="text" ng-disabled="true" ng-if="prodotto.categoria.tipo==='fonti_luminose'" class="form-control input-sm" 
                        ng-model="prodotto.codice">    
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="st_lunghezza">Lunghezza in mm</label> 
                <div class="input-group"> 
                    <input type="number" class="form-control input-sm" 
                        ng-model="prodotto.st_lunghezza" id="st_lunghezza" maxlength="5" 
                        >
                </div>
            </div>
        </div> 
        <div class="col-sm-2">
            <div class="form-group">
                <label for="st_numero_moduli">Moduli</label> 
                <div class="input-group"> 
                    <input type="number" class="form-control input-sm" 
                        ng-model="prodotto.st_numero_moduli" id="st_numero_moduli" maxlength="5" 
                        >
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="finitura">Finitura</label> 
                <div class="input-group"> 
                    <bootcomplete
                        btc-minlength="1"
                        btc-maxresults="15"
                        btc-size="sm"
                        btc-query="cercaColori"
                        btc-keepselection="true"
                        btc-noresults="Nessuna finitura trovata"
                        btc-template="/html/includes/autocomplete-componente.html"
                        btc-callback="sceltaColore"
                        ng-model="prodotto.st_finitura"></bootcomplete>
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="prodottoCodice">Codice finito</label> 
                <input type="text" ng-disabled="true" class="form-control input-sm" value="{{codiceEstroFinito()}}">    
            </div>
        </div> 
    </div>
    <button type="submit" class="btn btn-default margin-bottom-2" 
        ng-click="schedaTecnicaEstro(false)" 
        ng-disabled="(formNuovoProdotto.$invalid || !((prodotto.st_codice_binario || prodotto.st_codice_fonteluminosa) && (prodotto.st_lunghezza || prodotto.st_numero_moduli) && prodotto.st_finitura))" 
        >
        <i class="fa fa-file-pdf-o"></i> Scheda tecnica (IT/EN)
    </button>
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di creare la scheda tecnica
    </div>
</div> 