<div ng-show="prodotto._id && adminProdotti">
        <form name="formDistintaBase" novalidate>
            <div class="row margin-bottom-0-5">
                 <div class="col-sm-12">
                    <label for="">Linee Commerciali</label>
                </div>
                 
            </div>
            <!--/row-->
            <div class="row" ng-if="prodotto.componenti.length">
                <div class="col-sm-12">
                    <label for="">Componenti</label>
                </div>
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-1 text-center">#</th>
                                <th class="col-sm-2">Codice</th> 
                                <th class="col-sm-2">Nome</th> 
                                <th class="col-sm-1">Qta</th>
                                 <th class="col-sm-2 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="componente in prodotto.componenti">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{componente._id.codice || componente.codice}}</td> 
                                <td>{{componente._id.nome || componente.nome }}</td>
                                <td>
                                    <input 
                                        type="number" 
                                        min="1" 
                                        class="form-control input-sm" 
                                        ng-model="componente.qt"
                                        required
                                    >
                                </td>
                                 <td class="text-center">
                                     <a href="" ng-click="eliminaComponente($index)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
</div>
<div class="row" ng-show="!prodotto._id && adminProdotti">
    <div class="col-sm-12">
        Salva i dati di prodotto prima di caricare i componenti
    </div>
</div>
<div class="row" ng-show="!adminProdotti">
    <div class="col-sm-12">
       <div class="alert alert-warning">
        Non hai i privilegi di accesso per accedere a questa sezione
        </div>
    </div>
</div>
