<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            {{{css}}}
        </style>
    </head>
    <body>
            <div>
                {{#urlEan}}
                         <img class="etichettaBiancaCode" src={{urlEan}}>
                {{/urlEan}}
            </div>
    </body>
</html>
