<div class="footerFull fontExtraSmall">
    <strong>Ilmas S.p.A</strong><br/>
    Via Vittorio veneto, 23/b – 20010 Bernate Ticino (MI) • <strong>P. IVA:</strong> IT 04095080158<br/>
    <strong>phone:</strong> (+39) 02 93900 349 • (+39) 02 93900 353 • 
    <strong>fax:</strong> (+39) 02 93900 357 • 
    <strong>whatsapp technical support:</strong> (+39) 331 3241 020 <br>
    <span>https://www.ilmas.com • ilmas@ilmas.com </span>
</div>