/*
    css per i pdf
*/

/* ---------------parte comune a tutti  ---------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif!important;
    font-size: 7px;
    line-height: 1.5;
    color:#444;
}

h1,h2,h3 {
    font-weight: bold;
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}


#pageHeader {
    overflow: hidden;
}

#pageFooter {
    text-align: center;
    font-size: 8px;
}

#logo {
    width: 170px;
    float: left;
}

#logosmall {
    width: 100px;
    float: left;
}

#logoHb4 {
    width: 50px;
    float: right;
    margin-top: 10px;
}

#logoIlmasHb4 {
    width: 150px;
    float: right;
    margin-top: 10px;
}

#recapiti {
    float: right;
}

#recapiti img  { /* icone */
    position: absolute;
    top:0;
    left:0;
    height: 14px;
    width: 15px;
}

#indirizzo,
#telefoni,
#sito {
    display: inline-block;
    width: 105px;
    margin-right: 8px;
    position: relative;
    height: 87px;
    font-size: 8px;
}
#telefoni {
    width: 90px;
}
#sito {
    width: 80px;
}

#sito {
    margin-right: 0;
}

.recapiti-list {
    position: absolute;
    top: 25px;
    left: 0;
    height: 60px;
}

#pageContent {
    padding-top: 0.5cm;
}

#pagetitle {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e40000;
    margin-bottom: 1cm;
}

.totale {
    background:#e40000;
    color: white;
    padding: 5px;
}

/* ---------------fine comune a tutti  ---------------*/

/*  contenuto  specifico per il pdf dell'offerta  */

#offerta-intestazione {
    overflow: hidden;
    margin-bottom: 1cm;
    font-size:8px;
}

#offerta-intestazione-left {
    float:left;
    width:60%;
}

#offerta-intestazione-left div {
    display: none; /* togli eventuali div aggiunti dalla textarea */
}

#offerta-intestazione-right {
    float:left;
    width:40%;
}

#offerta-intestazione-table td {
    padding-bottom: 5px;
}

#offerta-intestazione-table td.left {
    text-transform: uppercase;
    font-weight: bold;
    color: #e40000;
}

#offerta-intestazione-table td.right {
    text-align: right;
}

#offerta-oggetto {
    font-size: 14px;
    font-weight: bold;
}

#offerta-prodotti-table {
    margin-top:1cm;
    font-size: 8px;
}

#offerta-prodotti-table thead {
    border-bottom: 2px solid #e40000;
}

#offerta-prodotti-table tbody tr:nth-child(odd) td {
    background: #f1f1f1;
}

#offerta-prodotti-table th {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

#offerta-prodotti-table th.left {
    text-align: left;
}

#offerta-prodotti-table td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#offerta-prodotti-table td.offerta-descrizione p {
    margin: 0;
}

#offerta-prodotti-table td.left {
    text-align: left;
}

#offerta-prodotti-table img {
    max-height:25px;
    max-width:25px;
}


#offerta-riepilogo {
    margin-top:1cm;
    margin-bottom: 1cm;
    overflow: hidden;
}

#offerta-riepilogo-table {
    float: right;
    width: 300px;
}

#offerta-riepilogo-table b {
    text-transform: uppercase;
}

#offerta-riepilogo-table td {
    padding: 5px;
}

#offerta-riepilogo-table .riepilogo-value {
    text-align: right;
}

#offerta-riepilogo-table .riepilogo-totale {
    text-align: center;
}

#offerta-note {
    margin-bottom:0.5cm;
}

/* contenuto  specifico per il pdf della scheda tecnica  */

.pageHeaderScheda {
    border-left: 0.15cm solid #e2001a;
    padding-left: 0.3cm;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pdfLogo {
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.3cm;
}

.pdfLogo-estro {
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.4cm;
}

.pdfTitle {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.pdfTitle-left {
    float: left;
    width: 60%;
}

.pdfTitle-right {
    float: left;
    width: 40%;
    text-align: right;
}

.label {
    background: #e2001a;
    color: white;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: 7px;
}

#schedaLeft {
    float: left;
    width: 35%;
}
.schedaLeft-img {
    height: 11cm;
}
.schedaLeftEstro-img {
    height: 11.5cm;
    position: relative;
}
.foroIcon {
   display: block;
   margin-top: 0.2cm;
}

.foroIcon img {
    float: left;
    margin-right: 2px;
}

.foroIcon span {
    display: inline-block;
    padding-top: 4px;
}
.ecodesign {
    margin-top: 0.3cm;
    clear: both;
}
.ecodesign img {
    max-width: 1cm;
}

.ecodesign-box {
    background: #d8d8d8;
    height: 1.2cm;
    width: 1.2cm;
    padding: 1px;
    text-align: center;
    float: left;
    margin-right: 0.2cm;
}
.ecodesign img.eco2 {
   position: relative;
   top: 0.2cm;
   left: 0.05cm;
}
.ecodesign img.eco1 {
    position: relative;
    top: 0.3cm;
 }

#schedaRight {
    float: right;
    width: 57%;
}

.subtitle {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    font-size: 9px;
}

.schedaTecnica-list {
    font-size: 7px;
}

.listRow {
    overflow: hidden;
    margin-bottom: 0.12cm;
}

.listRow-oneline {
    overflow: hidden;
    margin-bottom: 0.065cm;
}

.listLeft {
    float: left;
    width: 40%;
}

.listRight {
    text-align: right;
    float: right;
    width: 60%;
}

.listLeft-inverse {
    float: left;
    width: 70%;
}

.listRight-inverse {
    text-align: right;
    float: right;
    width: 30%;
}

.footerFull {
    border-top: 1px solid rgb(233, 233, 233);
    padding-top: 0.2cm;
    line-height: 8px;
}

#scheda-modello {
    margin:0;
    font-size: 16px;
}

#scheda-modello.scheda-modello-estro {
    font-size: 24px;
    position: relative;
    margin: 0;
    top: -4px;
    line-height: 1;
}

.title-small-it {
    font-size: 8px;
    line-height: 1;
    position: relative;
    top: -5px;
}

.title-small-en {
    font-size: 8px;
    color: #666;
    font-style: italic;
    line-height: 1;
    position: relative;
    top: -5px;
}

#scheda-codice {
    color: #666;
    margin-top: 0.1cm;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 13px;
    font-weight: normal;
}

.scheda-row {
    font-size: 10px;
}

.scheda-row-titolo {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 1px;
}

.scheda-foto,
.scheda-foto-estro {
    margin: 0 auto 20px auto;
    padding: 2px;
}

.scheda-foto-small {
    margin: 0 auto;
    padding: 0px;
}

.scheda-disegno img,
.scheda-fotometria img {
    display: block;
    margin: auto;
}

.scheda-disegno img {
    max-width: 4.2cm;
}

.estro-scheda-disegno img {
    max-width: 3cm;
}

.scheda-foto img {
    max-height: 2.8cm;
}

.scheda-foto-estro img {
    max-height: 0.6cm;
    margin: 0;
}

.scheda-foto-medium img {
    max-height: 2cm;
}

.scheda-table th {
    background: #eee;
    text-align: left;
    text-transform: uppercase;
    padding: 5px;
}

.scheda-table td {
    text-align: left;
    padding: 5px;
}

.scheda-row-icone {
    margin-top: 20px;
}

img.simbolo {
    width: 25px;
    padding: 1px;
}

img.classeenergetica_st {
    width: 15%;
    height: 25px;
    border: 1px solid #eee;
    padding: 5px;
    margin-right: 10px;
}

img.classeenergetica_eb {
    width: 38px;
    height: 26px;
}

.foto-accessorio {
     margin-right:4px;
     border: 1px solid #eee;
     float: left;
 }

.split3 div{
    float: left;
    width: 48%;
    margin-right: 10px;
    margin-bottom: 20px;
    height:20px;
}

.split3 div:nth-child(29){
    margin-top: 2cm
}

.split3 div:nth-child(30){
    margin-top: 2cm
}

.schedaTecnicaBinario {
    position: relative;
}

div#containerAccessori {
    width: 100%;
    clear: both;
    page-break-before: always;
    position: relative;
    top: 2cm;
}

.foto-accessorio_placeholder{
     margin-right:3px;
     border: 1px solid #eee;
     width:10%;
 }

div.colonne div{ float: left; width: 45%; padding: 5% }



/* --------------- etichetta grigia  ---------------*/

body.etichetta {
    color:#000;
    margin-top: 3px;
}

.etichetta{
    color:#000;
    font-weight:bold;
}

.etichetta-dati {
    clear: both;
}

.etichetta-info {
    font-size: 8px;
    line-height:90%;/*per diminuire l altezza della riga del nome modello, diminuire questo valore*/
}

.modello-grigia {
    text-transform: uppercase;
}

.dati,
.info {
  font-size: 6px;
}

.address {
    position: absolute;
    right: 5px;
    top: 16px;
    width: 22%;
}


.italy {
    position: absolute;
    text-align: right;
    right: 3px;
    bottom: 10px;
    font-size: 4px;
    text-transform: uppercase;
    padding: 1px;
    line-height: 1.25;
}


.iconeEtichettaGrigia{
    margin-top: 2px;
    width: 190%;
    float: left;
}

.lastRowEtichettaGrigia{
     line-height:90%;  /*per diminuire l altezza dell ultima riga, diminuire questo valore*/
}

.nomeModelloEtichettaGrigia
{
  font-size: 8px;
  text-transform: uppercase;
  line-height:100%;/*per diminuire l altezza della riga del nome modello, diminuire questo valore*/
 }

.categoriaProdotto{
    font-size: 16px;
    /*font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;*/
}

/* --------------- etichetta bianca  ---------------*/

.etichettaBb {
    font-weight: bold!important;
}


.nomeModelloEtBianca
{
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 0;
   line-height: 19px;
}

.codModelloEtBianca
{
   font-size: 19px;
   font-weight: bold;
   line-height: 26px;
}

.daiEtBianca
{
   font-size:13px;
   line-height: 15px;
}

.daiEtBiancaSmall
{
   font-size:13px;
   line-height: 15px;
}

.ipEtBianca
{
   font-size:30px;
   font-weight:bold;
}

.etichettaBiancaCode {
    margin-top: -2px;
    width: 3.2cm;
}

.etichettaBiancaMade {
    text-align: center;
    padding-top: 2px;
    font-weight: 700;
}

.nazionalita{
    font-size: 6px;
    width: 30%; float: left;
    padding-top: 0px;
}

.imported {
    font-size: 9pt;
    font-weight: bold!important;
}


/****** etichetta grigia estro ******/

.etichettaEstroLeft {
    width: 44.5%;
    float: left;
}

.etichettaEstroRight {
    width: 43.5%;
    float: left;
}

.etichettaEstroLeft {
    margin-left: 0.15cm;
}

.etichettaEstroRight {
    margin-left: 0.65cm;
}

#logo-etichettaGrigia {
    width: 120px;
}

.etichettaEstro-small {
    font-size: 6px;
    line-height: 110%;
}


/** etichetta energetica nella scheda tecnica **/
.etichetta-energetica {
    margin: 0;
    padding: 0;
}

/** etichetta energetica nella scheda tecnica **/
.classe-energetica {
    page-break-before: always;
    position: relative;
    z-index: 1;
}

.classe-energetica__content {
    position: relative;
    top: 3cm;
    margin-left: 4.5cm;
    max-width: 5cm;
    max-height: 10cm;
}

.classe-energetica__code {
    position: absolute;
    z-index: 2;
    top: 0.6cm;
    right: 0.3cm;
    text-align: right;
}

.classe-energetica__code span {
    font-weight: bold;
    font-size: 9px;
    line-height: 12px;
}

.classe-energetica__img img{
    max-width: 5cm;
    max-height: 10cm;
}


/** utilities **/

.pt-2 {
    padding-top: 2px;
}

.mt-1 {
    margin-top: 0.1cm;
}

.mt-5 {
    margin-top: 0.5cm;
}

.red {
    color: #e2001a;
}

.text-center {
    text-align: center;
}

.fontSmall {
    font-size: 7px;
}

.fontExtraSmall {
    font-size: 6px;
}

.itTrad {
    font-weight: 700;
}

.itTrad-normal {
    font-weight: normal;
}

.itTrad-normal.classe-energetica {
    font-weight: lighter;
    font-size: 20px;
    color: #666;
    text-transform: uppercase;
}

.enTrad {
    font-weight: 700;
    color: #666;
    font-style: italic;
}

.enTrad-normal {
    font-weight: normal;
    color: #666;
    font-style: italic;
}

.mb-3 {
    margin-bottom: 0.2cm;
}

.mr-3 {
    margin-right: 0.2cm;
}

.float-left {
    float: left;
}

.labelWrapText {
    position: relative;
    padding-top: 10px;
}

.wrapText {
    float: right;
    overflow: visible;
    white-space: pre;
    white-space: pre-wrap;
}


/* ETICHETTA BIANCA + CLASSE ENERGETICA
----------------------------------------
*/

.etichettaEnergeticaTop {
    height: 11.95cm;
    padding: 0;
    margin: 0;
    position: relative;
    color: #000;
}

.etichettaBiancaBottom {
    padding: 0;
    padding-left: 0.1cm;
    margin: 0;
    color: #000;
}

/*** nuova etichetta bianca 2020 ***/
.etichetta-bianca__header {
    height: 1.3cm;
    position: relative;
    padding-top: 0.2cm;
    display: block;
}

.etichetta-bianca__header-left {
    width: 50%;
    float: left;
    padding-top: 0.4cm;
}
.etichetta-bianca__header-left img {
    max-width: 3.5cm;
}
.etichetta-bianca__header-right {
    width: 45%;
    float: left;
    height: 0.5cm;
}
.etichetta-bianca__header-left span {
    font-size: 7px;
    position: relative;
    height: 0.3cm;
    display: block;
}
.etichetta-bianca__header-right img {
    max-width: 1.5cm; /* macchina rotta prima era 1.7 */
    float: right;
    margin-right: 0.3cm;
}

.etichetta-bianca__header-center img {
    max-width: 3.2cm;
    margin-left: 1.6cm;
}

.etichetta-bianca__firstrow {
    display: block;
    position: relative;
    margin-top: 0.6cm;
}
.etichetta-bianca__firstrow span {
    font-weight: bold;
    font-size: 13px;
}

.etichetta-bianca__secondrow {
    font-weight: bold;
    font-size: 10px;
    position: relative;
}

.etichetta-bianca__thirdrow {
    clear: both;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 0.2cm;
}
.etichetta-bianca__thirdrow-imgone {
    width: 0.5cm;
}
.etichetta-bianca__thirdrow-imgtwo {
    width: 0.4cm;
}
.etichetta-bianca__thirdrow-left {
   float: left;
}
.etichetta-bianca__thirdrow-right {
    text-align: right;
    font-size: 8px;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    margin-right: 0.5cm; /* macchina rotta, prima non c'era */
}

.etichetta-bianca__fourthrow {
    clear: both;
    position: relative;
    margin-top: 0.3cm;
}

.etichetta-bianca__fourthrow-left {
    float: left;
    width: 50%;
}
.etichetta-bianca__fourthrow-left img {
    max-width: 1.4cm;
    margin-right: 0.15cm;
}
.etichetta-bianca__fourthrow-left img.eco2 {
    position: relative;
    top: 0.2cm;
}

.etichetta-bianca__fourthrow-right {
    text-align: right;
    font-weight: bold;
    padding-top: 0.1cm;
    padding-left: 0.3cm;
    margin-right: 0.6cm; /* per macchina rotta - prima non c'era */
}
.etichetta-bianca__madein {
    clear: both;
    text-align: right;
}
.etichetta-bianca__fourthrow-right img {
    width: 2.8cm; /* per macchina rotta - prima era 3.2cm */
}

/*** classe energitca nell'etichetta bianca ***/
.classe-energetica-etichetta {
    position: relative;
    z-index: 1;
}

.classe-energetica-etichetta__content {
    position: relative;
}

.classe-energetica-etichetta__code {
    position: absolute;
    z-index: 2;
    top: 0.8cm;
    right: 0.3cm;
    text-align: right;
}

.classe-energetica-etichetta__code span {
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
}

.classe-energetica-etichetta__value {
    position: absolute;
    z-index: 2;
    top: 10.3cm;
    left: 0.3cm;
}

.classe-energetica-etichetta__value img {
    height: 0.65cm;
}
