
{{{header}}}

{{#name}}
<div class="space-bottom-2 html-text">{{{name}}}</div>
{{/name}}

{{#emailUser}}
<div class="space-bottom-2 html-text">{{{emailUser}}}</div>
{{/emailUser}}

{{#number}}
<div class="space-bottom-2 html-text">{{{number}}}</div>
{{/number}}

{{#company}}
<div class="space-bottom-2 html-text">{{{company}}}</div>
{{/company}}

{{#country}}
<div class="space-bottom-2 html-text">{{{country}}}</div>
{{/country}}

{{#notes}}
<div class="space-bottom-2 html-text">{{{notes}}}</div>
{{/notes}}

{{#contenuto}}
<div class="space-bottom-2 html-text">{{{contenuto}}}</div>
{{/contenuto}}

{{{footer}}}


