        						        </td>
        						      </tr>
        						    </table>
        						  </td>
        						</tr>
        					</table>
                  <!-- footer sempre comune -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="center text-pad space-top email-footer">
                              <!-- uso base64 per il logo -->
                              <b>Ilmas S.p.A.</b><br/>
                              Via Vittorio veneto, 23/B – 20010 Bernate Ticino (MI)<br/>
                              tel. +39 02 93900 349 - +39 02 93900 353 - fax. +39 02 93900 357<br/>                                                            
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>                  
                </td>
              </tr>
            </table>  
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>