<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      {{{css}}}
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center text-pad" valign="top">
          <center>
            <table class="container contenitoreContenuto">
              <tr>
                <td>
                  <!-- logo sempre comune -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="center text-pad space-bottom-2">
                              <img class="center" src="http://res.cloudinary.com/plurimedia/image/upload/v1479805212/logoilmas.png">                              
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="text-pad">   
     