
{{{header}}}

{{#email.messaggio}}
<div class="space-bottom-2 html-text">{{{email.messaggio}}}</div>
{{/email.messaggio}}

<!-- se ci sono allegati -->
{{#email.files.0}}
	<h6 class="space-top">
	{{^email.en}}Allegati{{/email.en}}
    {{#email.en}}Attachments{{/email.en}}
	</h6>
	<ol>
		{{#email.files}}
		<li><a href="{{url}}">{{name}}</a></li>
		{{/email.files}}
	</ol>
{{/email.files.0}}


{{{footer}}}


