
{{{header}}}
{{#email.messaggio}}
<div class="space-bottom-2 html-text">{{{email.messaggio}}}</div>
{{/email.messaggio}}
<table class="medium-button">
	<tbody>
		<tr>
			<td>
				<a href="{{email.urlFile}}"> 
					Scarica il file per il KITE
				</a>
			</td>
		</tr>
		<tr>
			<td>{{email.urlFile}}</td>
		</tr>
	</tbody>
</table>
{{{footer}}}


