{{{header}}}
{{#email.messaggio}}
<div class="space-bottom-2 html-text">{{{email.messaggio}}}</div>
{{/email.messaggio}}
<table class="medium-button">
	<tbody>
		<tr>
			<td>
				<ul>
					{{#email.step}}
					<li>{{line}}</li>
					{{/email.step}}
				</ul>
			</td>
		</tr>
	</tbody>
</table>
{{{footer}}}


