
{{{header}}}

{{#email.messaggio}}
<div class="space-bottom-2 html-text">{{{email.messaggio}}}</div>
{{/email.messaggio}}

<table class="medium-button">
	<tbody>
		<tr>
			<td>
				<a href="{{email.pdf}}"> 
					 {{^email.en}}Scarica l'offerta{{/email.en}}
                     {{#email.en}}Download the offer{{/email.en}}
				</a>
			</td>
		</tr>
	</tbody>
</table>

<!-- se ci sono allegati -->
{{#email.files.0}}
	<h6 class="space-top">
	{{^email.en}}Allegati{{/email.en}}
    {{#email.en}}Attachments{{/email.en}}
	</h6>
	<ol>
		{{#email.files}}
		<li><a href="{{url}}">{{name}}</a></li>
		{{/email.files}}
	</ol>
{{/email.files.0}}

<!-- se ci sono schede tecniche -->
{{#email.schede.0}}
	<h6 class="space-top"> 
	{{^email.en}}Schede tecniche{{/email.en}}
    {{#email.en}}Datasheet{{/email.en}}
	</h6>
	<ol>
		{{#email.schede}}
		<li><a href="{{url}}">{{name}}</a></li>
		{{/email.schede}}
	</ol>
{{/email.schede.0}}

<!-- se ci sono file ldt da allegare -->
{{#email.ldt_files.0}}
	<h6 class="space-top"> 
	{{^email.en}}File fotometrici{{/email.en}}
    {{#email.en}}Photometric files{{/email.en}}
	</h6>
	<ol>
		{{#email.ldt_files}}
		<li><a href="{{ldt.url}}">{{ldt.nome}}</a></li>
		{{/email.ldt_files}}
	</ol>
{{/email.ldt_files.0}}


{{{footer}}}


