<span>
	<span ng-if="stato=='sent'" class="label label-success">INVIATA</span>
	<span ng-if="stato=='soft-bounced' || stato=='hard-bounced' || stato=='bounced'" class="label label-danger">RESPINTA</span>
	<span ng-if="stato=='spam'" class="label label-danger">SPAM</span>
	<span ng-if="!stato" class="label label-info">Dati non disponibili</span>
</span>