<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Agenti</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="agenti.$resolved"></loading>
    <div ng-show="agenti.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right margin-bottom">
                     <a href="" 
                        ng-show="adminProdotti"
                        ng-click="nuovoAgente()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuovo agente</a>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <div class="input-group input-group-lg col-md-12 ">
                    <input type="text"
                        class="form-control" 
                        id="cercaProdotto" 
                        placeholder="Cerca agenti..." 
                        ng-model="search.searchText" autocomplete="off">
                </div>                    
                <small class="text-muted"><strong>parametri disponibili:</strong> Ragione Sociale | Comune | Provincia | Nazione</em></small>
                <hr />
            </div>
        </div>
        <div class="row margin-top-2">
            <div class="table-responsive">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
			                <th>Ragione Sociale</th>
                            <th>Citta</th>
                            <th>Prov</th>
                            <th>Nazione</th>
			                <th class="text-center">Visibile sul sito</th>
			                <th class="text-right">Azioni</th>
			            </thead>
                        <tbody>
			                <tr ng-repeat="agente in agenti | filter:search:strict as results ">
			                    <td>{{agente.ragioneSociale}}</td>
                                <td>{{agente.comune}}</td>
                                <td>{{agente.prov}}</td>
                                <td>{{agente.nazione}}</td>
			                    <td class="text-center"><i class="fa fa-check text-success" ng-show="agente.pubblicato"></i></td> 
			                    <td class="text-right">
			                        <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
			                            Azioni <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu">
			                            <li><a href="" ng-click="modificaAgente(agente)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
			                            <li><a href="" ng-click="eliminaAgente(agente)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li> 
			                        </ul>
			                    </td>
			                </tr>
			            </tbody>
                    </table>
                    <!--uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination-->
                </div>
            </div>
        </div>
    </div>
</div>