<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Categorie</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="categorie.$resolved"></loading>
    <div ng-show="categorie.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right margin-bottom">
                     <a href="" ng-show="adminProdotti" ng-click="nuovaCategoria()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuova categoria</a>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-bottom-3">
                <form name="formCerca" ng-submit="cercaCategorie()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" 
                        id="cercaCategoria" 
                        placeholder="Cerca categorie..." ng-model="search" autocomplete="off">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> codice | nome </small>
                </form>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12">
                <span class="h4" ng-if="!searchresults">Ultime categorie aggiornate</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="categorie.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="table-responsive">
                <div class=" col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
			                <th>Foto</th>
			                <th>Ultima modifica</th>
			                <th>Nome</th>
			                <th>Linea</th>
			                <th>Uso</th>
			                <th class="text-center">Ordinamento</th>
			                <th class="text-center">Visibile sul sito</th>
			                <th class="text-right">Azioni</th>
			            </thead>
                        <tbody>
			                <tr ng-repeat="categoria in categorie | filter: cercacategoria">
			                    <td>
			                      <a href="" ng-click="zoomImmagine(categoria)" ng-if="categoria.foto"><img cl-src="{{categoria.foto}}" height="60" width="60" crop="fill" class="img-responsive img-thumbnail"  ></a>
			                        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" 
			                        ng-if="!categoria.foto">
			                        </a>
			                    </td>
			                    <td>{{categoria.mdate | date: 'dd/MM/yy'}} {{categoria.mdate | date: 'HH:mm'}}</td>
			                    <td>{{categoria.nome}}</td>
			                    <td>{{categoria.linea}}</td>
			                    <td>{{categoria.uso}}</td>
			                    <td class="text-center">{{categoria.ordinamento_sito}}</td>
			                    <td class="text-center"><i class="fa fa-check text-success" ng-show="categoria.pubblicato"></i></td> 
			                    <td class="text-right">
			                        <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
			                            Azioni <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu">
			                            <li><a href="" ng-click="modificaCategoria(categoria)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
			                            <!--li ng-show="adminProdotti"><a href="" ng-click="eliminaCategoria(categoria)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li--> 
			                        </ul>
			                    </td>
			                </tr>
			            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>