<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Codici EAN13</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="prodotti.$resolved"></loading>
    <div class="row" ng-show="prodotti.$resolved">
        <div class="col-md-12"> 
            <div class="margin-bottom-3">
                <form name="formCerca" ng-submit="cercaProdotti()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="cercaProdotto" placeholder="Cerca prodotti..." ng-model="search" autocomplete="off">

                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> modello (over led ps) | sottocategoria (fish) | k | lm | w | ma | fascio (50°) | v | hz | irc (90irc) | alimentatore | colore <em>(non in ordine)</em></small>
                </form>
            </div>

            <div>
                <span class="h4" ng-if="lastCodici">Ultimi codici EAN13</span>
                <span class="h4" ng-if="!lastCodici">Codici EAN13 - Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="prodotti.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" ng-show="prodotti.$resolved && prodotti.length">
                    <thead>
                        <tr>  
                            <th>Codice Ean</th>  
                            <th>Codice al momento dell'associazione</th> 
                            <th class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prodotto in prodotti"> 
                            <td>{{prodotto.codiceEan}}</td>
                            <td>{{prodotto.codice}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
                                    Azioni <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="apriDettaglioProdotto(prodotto)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
