<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Finiture Estro</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="colori.$resolved"></loading>
    <div ng-show="colori.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right">
                    <a href="" ng-show="adminProdotti" ng-click="nuovoColore()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuovo</a>
                </div> 
            </div>
        </div>

        <div class="row margin-top-3">
            <div class="table-responsive">
                <div class=" col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
			                <th>Codice</th>
			                <th>Descrizione</th>
                            <th>Ordinamento</th>
			                <th class="text-right">Azioni</th>
			            </thead>
                        <tbody>
			                <tr ng-repeat="obj in colori">
			                    <td class="col-sm-2">{{obj.codice}}</td>
			                    <td>{{obj.descrizione_cover}} | {{obj.descrizione_estruso}}</td>
                                <td>
                                    <input type="text" ng-model="obj.ordinamento" ng-keydown="$event.keyCode === 13 && salvaColore(obj)">
                                </td>
			                    <td class="text-right">
			                        <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
			                            Azioni <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu">
			                            <li><a href="" ng-click="dettaglio(obj)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
			                            <li ng-show="adminProdotti"><a href="" ng-click="eliminaColore(obj._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li> 
			                        </ul>
			                    </td>
			                </tr>
			            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>