<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Componenti</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="componenti.$resolved"></loading>
    <div class="row" ng-show="componenti.$resolved">
        <div class="col-md-12">
             <div class="text-right margin-bottom">
                <a href="" 
                ng-click="apriModaleComponente()" 
                class="btn btn-primary" 
                ng-show="adminProdotti || commerciale"><i class="fa fa-plus"></i> Nuovo componente</a>  
            </div> 
            <div class="margin-bottom-3">
                <form name="formCerca" ng-submit="findComponenti()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" 
                        id="cercaComponente" 
                        placeholder="Cerca componenti..." ng-model="search" autocomplete="off">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> codice | nome </small>
                </form>
            </div>
            <div>
                <span class="h4" ng-if="!searchresults">Ultimi componenti aggiornati</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="componenti.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" 
                ng-show="componenti.$resolved && componenti.length">
                    <thead>
                        <tr>
                            <th>Ultima modifica</th>
                            <th>Codice</th>
                            <th>Nome</th> 
                            <th>Tipo</th>
                            <!--th></th-->
                            <th>Costo</th>
                            <th class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="componente in componenti"> 
                            <td>{{componente.mdate | date: 'dd/MM/yy'}} {{componente.mdate | date: 'HH:mm'}}</td>
                            <td>{{componente.codice}} {{componente._id}}</td>
                            <td>{{componente.nome}}</td>
                            <td>{{componente.tipo.toUpperCase()}} {{componente.lettera.toUpperCase()}}</td>
                            <td>{{componente.prezzo}}</td>
                            <!--td>{{componente.fornitore}}</td-->
                            <td class="text-right">
                                <button type="button" class="btn btn-default" 
                                bs-dropdown data-placement="bottom-right">
                                    Azioni <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" 
                                    ng-click="apriModaleComponente(componente)" 
                                    class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                    <!--li ng-show="adminProdotti || commerciale">
                                        <a href="" ng-click="eliminaComponente(componente._id)">
                                            <span class="text-danger">
                                                <i class="fa fa-trash-o"></i> Elimina
                                            </span>
                                        </a>
                                    </li-->
                                    <li ng-show="adminProdotti || commerciale">
                                        <a href="" ng-click="duplicaComponente(componente)" class="">
                                            <i class="fa fa-copy"></i> Duplica
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>
