<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Distinta Base - Tipologi di associazione dei componenti</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="configTipologieAssociazioniDS.$resolved"></loading>
    <div ng-show="configTipologieAssociazioniDS.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right">
                     <a href="" ng-show="adminProdotti" ng-click="nuovoTipo()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuovo</a>
                </div> 
            </div>
        </div>
        <div class="row margin-top-3">
            <div class="table-responsive">
                <div class=" col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
			                <th>Ultima modifica</th>
			                <th>Tipo</th>
			                <th class="text-right">Azioni</th>
			            </thead>
                        <tbody>
			                <tr ng-repeat="obj in configTipologieAssociazioniDS">
			                    <td class="col-sm-2">{{obj.mdate | date: 'dd/MM/yy'}} {{tipologiaAssociazioniDS.mdate | date: 'HH:mm'}}</td>
			                    <td>{{obj.tipo}}</td>
			                    <td class="text-right">
			                        <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
			                            Azioni <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu">
			                            <li><a href="" ng-click="dettaglio(obj)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
			                            <li ng-show="adminProdotti"><a href="" ng-click="elimina(obj._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li> 
			                        </ul>
			                    </td>
			                </tr>
			            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>