<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Contatti</h3>
            <hr />
        </div> 
    </div>
	<loading ng-hide="contatti.$resolved"></loading>
	<div class="row" ng-show="contatti.$resolved">
		<div class="col-md-12">
 			<div class="text-right margin-bottom">
				<a href="" ng-click="apriModaleContatto()" class="btn btn-primary"><i class="fa fa-user-plus"></i> Nuovo contatto</a>
				<label  ng-show="adminProdotti" for="upload" class="btn btn-default inline-block"><i class="fa fa-google"></i> Importa csv di gmail</label>
				<input type="file" class="sr-only" ngf-select="uploadCsv($file)" ngf-validate="{pattern: '.csv'}" id="upload"> 

				<a href="" ng-show="adminProdotti"  ng-click="gestioneContattiDoppi()" class="btn btn-default inline-block"> Esporta Contatti Doppi</a>
			</div>
			<div class="margin-bottom-3">
				<form name="formCerca" ng-submit="cercaContatti()" novalidate>
				    <div class="input-group input-group-lg">
				      <input type="text" class="form-control" id="cercaContatto" placeholder="Cerca un contatto..." ng-model="search">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
				      </span>
				    </div><!-- /input-group -->				
				</form>				
			</div>
			<h4>
				<span ng-if="!searchresults">Ultimi contatti aggiornati</span>
				<span ng-if="searchresults">
					Hai cercato <mark>{{searchresults}}</mark>
				</span>
			</h4>
			<div ng-if="contatti.length>10" class="text-muted"><i class="fa fa-lightbulb-o"></i> Ho trovato più di 10 risultati, prova a essere più specifico</div>
			<hr />
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover" ng-show="contatti.$resolved && contatti.length">
					<thead>
						<tr>
							<th class="col-sm-2">Ultima modifica</th>
							<th class="col-sm-2">Nome</th>
							<th class="col-sm-2">Azienda</th>
							<th class="col-sm-2">Email</th>
							<th class="col-sm-2">Tags</th>
							<th class="col-sm-2 text-right">Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contatto in contatti" class="contatto">
							<td>{{contatto.mdate | date: 'dd/MM/yy'}} {{contatto.mdate | date: 'HH:mm'}}</td>
							<td>{{contatto.nome}}</td>
							<td>{{contatto.azienda}}</td>
							<td>{{contatto.email}}</td>
							<td><span style="margin-right:5px;" ng-repeat="tag in contatto.tags">{{tag}}</span></td>
							<td class="text-right"> 
								  <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
								    Azioni <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a href="" ng-click="apriModaleContatto(contatto)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
								    <li><a href="" ng-click="duplicaContatto(contatto)" class=""><i class="fa fa-copy"></i> Duplica</a></li>
									<li><a ng-if="user.user_id===contatto.i_user_id" href="" ng-click="eliminaContatto(contatto._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
								  </ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p ng-show="contatti.$resolved && !contatti.length">Nessun risultato</p>
		</div>
	</div>
</div> 