<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Distinta Base</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="prodotti.$resolved"></loading>
    <div class="row" ng-show="prodotti.$resolved">
        <div class="col-md-12"> 
            <div class="margin-bottom-3">
                <form name="formCerca" ng-submit="cercaProdotti()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="cercaProdotto" placeholder="Cerca prodotti..." ng-model="search" autocomplete="off">

                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> modello (over led ps) | sottocategoria (fish) | k | lm | w | ma | fascio (50°) | v | hz | irc (90irc) | alimentatore | colore <em>(non in ordine)</em></small>
                </form>
            </div>

            <div>
                <span class="h4" ng-if="!searchresults">{{pageTitle}}</span>
                <span class="h4" ng-if="searchresults">{{pageTitle}} - Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="prodotti.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
                
            </div>
            <hr />

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" ng-show="prodotti.$resolved && prodotti.length">
                    <thead>
                        <tr> 
                            <th>Foto</th> 
                            <th>Codice</th> 
                            <th>Modello</th>
                            <th>Colore</th>
                            <th class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prodotto in prodotti" ng-if="prodotto.componenti && prodotto.componenti.length>0"> 
                            <td>
                                <a href="" ng-click="zoomImmagine(prodotto)" ng-if="prodotto.foto"><img cl-src="{{prodotto.foto}}" height="60" width="60" crop="fill" class="img-responsive img-thumbnail"  ></a>
                                <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" 
                                ng-if="!prodotto.foto">
                                </a>
                            </td>
                            <td>{{prodotto.codice}}</td>
                            <td>{{prodotto.modello.nome}}</td>
                            <td>{{prodotto.colore}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
                                    Azioni <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="apriDettaglioDistintaBase(prodotto)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                    <li><a href="" class="disabled"><i class="fa fa-print"></i> Stampa</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
