<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Report etichette</h3>
            <hr />
        </div> 
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <form name="formAnno">
                    <strong>Anno:</strong> 
                    <select 
                        ng-model="annoReport"
                        ng-change="manageDwh()">
                        <option ng-repeat="anno in elencoAnni" value="{{anno}}">{{anno}}</option>
                    </select>
                </form>
            </div>
            <div class="table-responsive margin-top-3">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Numero</th> 
                        </tr>
                    </thead>
                    <tbody>  
                        <tr>
                            <td style="color:red;width:30%">Bianche</td>
                            <td style="color:red">{{etichetteBianche.length}}</td> 
                        </tr>
                        <tr>
                            <td style="color:#156aab;width:30%">Grigie</td>
                            <td style="color:#156aab">{{etichetteGrigie.length}}</td> 
                        </tr>
                        <tr>
                            <td style="color:purple;width:30%">Estro</td>
                            <td style="color:purple">{{etichetteEstro.length}}</td> 
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
<div>
    <canvas id="graficoEtichette" style="max-width: 1200px;"></canvas>
</div>
<br><br><br>

 