<div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Logs</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="dwhLogs.$resolved"></loading>
    <div class="row" ng-show="dwhLogs.$resolved">

        <div class="col-md-12">
            <div class="margin-bottom-3">
                
            </div>
            <div>
                <span class="h4" ng-if="!searchresults">Ultimi Logs</span>  
            </div>
            <hr />

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" 
                ng-show="dwhLogs.$resolved && dwhLogs.length">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Path</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in dwhLogs"> 
                            <td>{{log.idate | date: 'dd/MM/yy'}} {{log.idate | date: 'HH:mm'}}</td>
                            <td>{{log.path}}</td> 
                            <td>{{log.user_nome}}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>
