<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Report Schede Tecniche</h3>
            <hr />
    </div> 
    </div>
    <div class="row">
        <div class="col-md-12"> 
            <strong>anno:</strong>
                <select  
                ng-model="annoReport"
                ng-change="eseguiReport()"
                >
                <option 
                ng-repeat="anno in elencoAnni" 
                ng-value="anno">{{anno}}</option>
            </select> 
            <small class="pull-right text-muted">Sono elencate le prime 40 schede tecniche più scaricate, il totale è globale</small>
            <div class="table-responsive margin-top-3">
                <table class="table table-striped table-condensed table-hover">
                        <thead>  
                                <tr>
                                    <th>TOTALE</th>
                                    <th class="text-center padding">{{totaleRicerche}}</th> 
                                    <th class="text-center" colspan="2"></th> 
                                </tr>
                            </thead> 
                    <thead>
                        <tr>
                            <th>Codice</th>
                            <th class="text-center">Totale</th> 
                            <th class="text-center" colspan="2"></th> 
                        </tr>
                    </thead>
                     <tbody> 
                        <tr ng-repeat="dwh in ricerche"> 
                            <td>{{dwh.codice}}</td>
                            <td class="text-center">{{dwh.totaleAnno}}</td>
                            <td class="text-center">{{dwh.percent}}%</td>
                            <!--
                             <td width="50%">
                                <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width: {{dwh.percent}}%;" ></div> 
                                </div> 
                            </td>
                            -->
                        </tr>
                    </tbody > 
                    <thead>  
                        <tr>
                            <th>TOTALE</th>
                            <th class="text-center padding">{{totaleRicerche}}</th> 
                            <th class="text-center" colspan="2"></th> 
                        </tr>
                    </thead> 
                </table>
            </div>
         </div>
    </div>
</div>