<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Elenco attività</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="elencoattivita.$resolved"></loading>
    <div class="row" ng-show="elencoattivita.$resolved">
        <div class="col-md-12">
             <div class="text-right margin-bottom">
                <a href="" 
                ng-click="nuovaAttivita()" 
                class="btn btn-primary" 
                ><i class="fa fa-plus"></i> Nuova attività</a>  
            </div> 
            <div class="margin-bottom-3">
                <form name="formCerca" ng-submit="cercaAttivita()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" 
                        ng-focus="true"
                        id="cercaComponente" 
                        placeholder="Cerca attività..." ng-model="search" autocomplete="off">
                        <span class="input-group-btn">
                        <button class="btn btn-default" 
                            type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <small class="text-muted"><strong>parametri disponibili:</strong> codice | nome | stato</small>
                </form>
            </div>  
            <div>  
                <span class="h4" ng-if="!searchresults">Ultime attività</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="elencoattivita.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" 
                ng-show="elencoattivita.$resolved && elencoattivita.length">
                    <thead>
                        <tr>
                            <th>Ultima modifica</th>
                            <th>Data creazione</th>
                            <th>Codice</th>
                            <th>Titolo</th>
                            <th class="col-sm-1 text-center">Stato</th>
                            <th class="col-sm-1 text-center">Approvata</th>
                            <th class="col-sm-1 text-center">Effort<br>(preventivo - consuntivo)</th>
                            <th class="col-sm-1 text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attivita in elencoattivita"> 
                            <td>{{attivita.mdate | date: 'dd/MM/yy'}} • {{attivita.mdate | date: 'HH:mm'}}</td>
                            <td>{{attivita.cdate | date: 'dd/MM/yy'}} • {{attivita.cdate | date: 'HH:mm'}}</td>
                            <td>{{attivita.codice}}</td>
                            <td>{{attivita.titolo}}</td>
                            <td class="text-center">{{attivita.stato}}</td>
                            <td class="text-center"><i class="fa fa-check text-success" ng-show="attivita.approvata"></i></td>
                            <td class="text-center">{{attivita.effort_preventivo}} <e ng-if="attivita.effort_consuntivo">-</e> {{attivita.effort_consuntivo}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-default" 
                                bs-dropdown data-placement="bottom-right">
                                    Azioni <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" 
                                        ng-click="dettaglioAttivita(attivita)" 
                                        class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>
