<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Etichette</h3>
            <hr />
        </div> 
    </div>
    <loading ng-show="stoLavorando"></loading>
     <div class="row" ng-show="!stoLavorando">
        <div class="col-md-12">
            <div class="margin-bottom-3">
                 <form name="formCerca" ng-submit="cercaProdotti()" >
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="cercaProdotto" placeholder="Cerca prodotti..." ng-model="search" autocomplete="off">

                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="!search"  ><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> modello (over led ps) | sottocategoria (fish) | k | lm | w | ma | fascio (50°) | v | hz | irc (90irc) | alimentatore | colore <em>(non in ordine)</em></small>
                </form>
                <hr>
                 <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="input-group">
                                <div class="input-group-addon">Data</div>
                                <input type="text"
                                       name="dataEtichetta"
                                       class="form-control input-sm"
                                       ng-model="dataEtichetta"
                                       bs-datepicker  data-date-format="MM/yyyy"
                                        >
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Operatore</div>
                                <input type="text"   class="form-control input-sm" ng-model="operatoreEtichetta"   maxlength="2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="h4" ng-if="!searchresults">Risultato ricerca</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="prodotti.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
            <hr />

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" ng-show="prodotti.$resolved && prodotti.length">
                    <thead>
                        <tr>
                            <!--th ng-if="searchresults" class="col-sm-1">
                                <input type="checkbox" name="selezionatutti" ng-model="selezione" ng-change="selezionaTutti(selezione)"> Seleziona tutti
                            </th-->
                            <th>Foto</th>
                            <th>Codice</th>
                            <th>Modello</th>
                            <th>K</th>
                            <th>lm</th>
                            <th>w</th>
                            <th class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prodotto in prodotti">
                            <td>
                                <img cl-src="{{prodotto.foto}}" height="50" width="50" crop="fill" class="img-responsive img-thumbnail" ng-if="prodotto.foto">
                                <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" ng-if="!prodotto.foto">
                            </td>
                             <td>{{prodotto.codice}}</td>
                             <td>{{prodotto.modello.nome}}</td>
                            <td>{{prodotto.k | K}}</td>
                            <td>{{prodotto.lm | LM}}</td>
                            <td>{{prodotto.luci | X}}{{prodotto.w | W}}</td>
                            <td class="text-right">
                            <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right" >
                                Stampa da PDF <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="apriModaleStampaEtichette(prodotto, 'grigia')" class=""><i class="fa fa-eye"></i> Etichetta grigia</a></li>
                                <li><a href="" ng-click="apriModaleStampaEtichette(prodotto, 'bianca')" class=""><i class="fa fa-eye"></i> Etichetta bianca</a></li>
                                <!--<li><a href="" ng-click="apriModaleStampaEtichette(prodotto, 'classe-energetica')" class=""><i class="fa fa-eye"></i> Classe energetica</a></li>-->
                                <li ng-if="prodotto.codEan"><a href="" ng-click="apriModaleStampaEtichette(prodotto, 'barCode')" class=""><i class="fa fa-eye"></i> Bar codes - EAN 13</a></li>
                            </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
