<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Etichette componenti ESTRO</h3>
            <hr />
        </div> 
    </div>
    <loading ng-show="stoLavorando"></loading>
     <div class="row" ng-show="!stoLavorando">
        <div class="col-md-12">
            <div class="margin-bottom-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="input-group">
                                <div class="input-group-addon">Data</div>
                                <input type="text"
                                       name="dataEtichetta"
                                       class="form-control input-sm"
                                       ng-model="dataEtichetta"
                                       bs-datepicker  data-date-format="MM/yyyy"
                                        >
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Operatore</div>
                                <input type="text"   class="form-control input-sm" ng-model="operatoreEtichetta" maxlength="2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Modalità automatica</h3>
                    <p>Inserisci il codice finito e seleziona la modalità di emissione per far sì che il sistema raccolga i dati automaticamente dai componenti</p>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="prodottoCodice">Codice finito</label> 
                        <input type="text" class="form-control input-sm" ng-model="codiceFinito" ng-change="invalidaAnteprima()" />    
                    </div>
                    <div class="radio">
                        <label><input value=" " ng-model="mono_bi" type="radio" name="bi-mono">Nessuna info sull'emissione</label>
                    </div>
                    <div class="radio">
                        <label><input value="MONO" ng-model="mono_bi" type="radio" name="bi-mono">Monoemissione</label>
                    </div>
                    <div class="radio">
                        <label><input value="BI" ng-model="mono_bi" type="radio" name="bi-mono">Biemissione</label>
                    </div>      
                </div>                 
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="border: 1px solid #ddd;">
                    <div class="row">
                        <div class="col-xs-6 margin-top">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="codiceBinario">Profilo</label> 
                                        <div class="input-group"> 
                                            <input type="text" ng-disabled="true" class="form-control input-sm" value="{{codiceBinario()}}" /> 
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="codiceFonte">Fonte luminosa</label> 
                                        <div class="input-group"> 
                                            <input type="text" ng-disabled="true" class="form-control input-sm" value="{{codiceFonteLuminosa()}}" /> 
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="st_lunghezza">Lunghezza in mm</label> 
                                        <div class="input-group"> 
                                            <input type="number" class="form-control input-sm" ng-disabled="true" 
                                                value="{{lunghezza()}}" id="st_lunghezza" maxlength="3" 
                                                >
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="finitura">Finitura</label> 
                                        <div class="input-group"> 
                                            <input type="text" ng-disabled="true" class="form-control input-sm" value="{{codiceFinitura()}}" />    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="codiceIP">IP</label> 
                                        <div class="input-group"> 
                                            <input type="text" ng-model="ip" ng-disabled="true" class="form-control input-sm" value="" /> 
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>

                        <div class="col-xs-6 margin-top-2">
                            <!-- qui dobbiamo mostrare in autimatico i seguenti campi della FONTE LUMINOSA -->
                            <ul>
                                <li><strong>Cover:</strong> {{ cover }}</li>      <!-- identificato dalla prima lettera -->
                                <li><strong>Potenza:</strong> {{ w | W }}</li>         <!-- identificato da fonte.w -->
                                <li><strong>Temp. Colore:</strong> {{ k | K }}</li>  <!-- identificato da fonte.k -->
                                <li><strong>Lm:</strong> {{ lm }}</li>         <!-- identificato da fonte.lm -->
                                <li><strong>CRI:</strong> {{ irc }} </li>        <!-- identificato da fonte.irc -->
                            </ul>
                            <div class="text-right">
                                <button ng-click="creaAnteprima()" class="margin-top-2 btn text-primary"><u>Anteprima Dati</u></button>
                            </div>     
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="row margin-top">
                <div class="col-md-6 col-sm-12">

                    <!-- L'etichetta bianca al momento non la stampano

                    <button type="submit" class="btn btn-default" 
                        ng-click="etichettaEstro(false, false)" 
                        ng-disabled="!codiceFinito || codiceFinito.length < 11" 
                        >
                        <i class="fa fa-file-pdf-o"></i> Etichetta bianca
                    </button>-->
                    
                    <button type="submit" class="btn btn-default" 
                        ng-click="etichettaEstro(false)" 
                        ng-disabled="!codiceFinito || codiceFinito.length < 13 || codiceFinito.length > 14 || !anteprima" 
                        >
                        <i class="fa fa-file-pdf-o"></i> Stampa Etichetta Grigia
                    </button>

                    <!-- dopo il clic nascondere il bottne e inserire il loading come è presente per l'indoor -->
                </div>
            </div>
            <div ng-if="pdf" class="text-center">
                <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Modalità manuale</h3>
                    <p>Inserisci i dati che vuoi stampare in etichetta</p>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-md-3 col-lg-2">
                    <div class="form-group">
                        <label for="codiceComposizione">Codice Comp.</label> 
                        <div class="input-group"> 
                            <div class="input-group-addon">COMP</div>
                            <input ng-model="libera.codice" type="text" class="form-control input-sm" /> 
                        </div>
                    </div>
                </div> 
                <div class="col-md-3 col-lg-2">
                    <div class="form-group">
                        <label for="codiceCorrente">Voltaggio / Corrente</label> 
                        <input ng-model="libera.corrente_v" type="text" class="form-control input-sm" /> 
                    </div>
                </div> 
                <div class="col-md-3 col-lg-2">
                    <div class="form-group">
                        <label for="voltaggioMisura">Unità di misura</label>
                        <select ng-model="libera.voltaggioMisura" class="form-control input-sm">
                            <option>mA</option>
                            <option>Vdc</option>
                        </select>
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="codiceCaratteristiche">Caratteristiche - riga 1</label> 
                        <input ng-model="libera.caratteristiche" maxlength="37" type="text" class="form-control input-sm" />    
                        <small>massimo 37 caratteri</small>
                    </div>
                </div>  
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label for="codiceCaratteristiche">Caratteristiche - riga 2 <em>(opzionale)</em></label> 
                        <input ng-model="libera.caratteristiche2"  maxlength="37" type="text" class="form-control input-sm" />    
                        <small>massimo 37 caratteri</small>
                    </div>
                </div>  
            </div>

            <div class="row">
                <div class="col-md-3 col-lg-1">
                    <div class="form-group">
                        <label for="codiceComposizione">Classe</label> 
                        <input ng-model="libera.classe" type="text" class="form-control input-sm" /> 
                    </div>
                </div> 

                <div class="col-md-3 col-lg-1">
                    <div class="form-group">
                        <label for="codiceCorrente">IP</label> 
                        <input ng-model="libera.ip" type="text" class="form-control input-sm" /> 
                    </div>
                </div> 
            </div>


            <div class="row margin-top">
                <div class="col-md-6 col-sm-12">
                    
                    <!-- L'etichetta bianca al momento non la stampano
                    
                    <button type="submit" class="btn btn-default" 
                        ng-click="etichettaEstroLazy(false, false)" 
                        ng-disabled="!prodotto.w || !prodotto.v" 
                        >
                        <i class="fa fa-file-pdf-o"></i> Etichetta bianca
                    </button>-->

                    <button type="submit" class="btn btn-default" 
                        ng-click="etichettaEstroLazy(false)" 
                        ng-disabled="!libera.codice || !libera.corrente_v || !libera.voltaggioMisura || !libera.caratteristiche || !libera.classe || !libera.ip" 
                        >
                        <i class="fa fa-file-pdf-o"></i> Stampa Etichetta Grigia
                    </button>

                    <!-- dopo il clic nascondere il bottne e inserire il loading come è presente per l'indoor -->

                </div>
            </div>
            <div ng-if="pdfLazy" class="text-center">
                <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
            </div>
        </div> 
    </div>
</div>
