<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Fiere & Eventi</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="eventi.$resolved"></loading>
    <div ng-show="eventi.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right margin-bottom">
                     <a href="" 
                        ng-show="adminProdotti"
                        ng-click="nuovoEvento()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuovo evento</a>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-bottom-3">
                <div class="input-group input-group-lg col-md-12 ">
                    <input type="text"
                        class="form-control" 
                        id="cercaProdotto" 
                        placeholder="Cerca eventi..." 
                        ng-model="search.searchText" autocomplete="off">
                </div>                    
                <small class="text-muted"><strong>parametri disponibili:</strong> Titolo | Testo</em></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <span class="h4" ng-if="!searchresults">Ultime Fiere & Eventi</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="eventi.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="table-responsive">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
			                <th class="col-sm-7">Titolo</th>
                            <th class="col-sm-2 text-center">Posizione</th>
			                <th class="col-sm-2 text-center">Visibile sul sito</th>
			                <th class="col-sm-1 text-right">Azioni</th>
			            </thead>
                        <tbody>
			                <tr ng-repeat="evento in eventi | filter:search.searchText:strict as results ">
			                    <td>{{evento.titolo_it}}</td>
                                <td class="text-center">{{evento.posizione}}</td>
			                    <td class="text-center"><i class="fa fa-check text-success" ng-show="evento.pubblicato"></i></td> 
			                    <td class="text-right">
			                        <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
			                            Azioni <span class="caret"></span>
			                        </button>
			                        <ul class="dropdown-menu">
			                            <li><a href="" ng-click="modifica(evento)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
			                            <li><a href="" ng-click="elimina(evento)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li> 
			                        </ul>
			                    </td>
			                </tr>
			            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>