<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Dashboard</h3>
            <p class="text-muted"><stong> Aggiornata al {{iDate | date: 'dd/M/yy' }} alle {{iDate | date: 'HH:mm'}}</stong></p>
            <hr />
        </div> 
    </div>
    <div class="row margin-top margin-bottom-1"> 
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <h4 class="text-primary">LINEA ILMAS</h4>
            <div class="box"> 
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Prodotti</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20" ng-if="totProdotti">
                        <h4>Totale: {{totProdotti.countProdotti}}</h4> 
                       <ul>
                            <li>
                                <h5>G-7: {{totProdotti.countG7}}&nbsp;&nbsp;&nbsp;&nbsp;G-4: {{totProdotti.countG4}}</h5>
                            </li>
                            <li> 
                               <h5>G-6: {{totProdotti.countG6}}&nbsp;&nbsp;&nbsp;&nbsp;D-1: {{totProdotti.countD1}}</h5>
                            </li>
                             
                            <li>
                                <h5>G-5: {{totProdotti.countG5}} </h5>
                            </li>
                        </ul> 
                    </div>
                    <div ng-hide="totProdotti">
                    <loading></loading>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box margin-top-2">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Modelli / Categorie</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12 margin-left-20">  
                       <ul class="list-unstyled">
                            <li>
                                <h4>Totale modelli: {{totModelli.countModelli}}</h4> 
                            </li>
                            
                            <li> 
                               <h4>Totale categorie: {{totCategorie.countCategorie}}</h4>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box margin-top-2" style="height:150" > 
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Componenti</span></div>
                <div class="col-md-12  margin-left-20" style="height:150pxs"> 
                    <h4>Totale: {{totComponenti.countComponenti}}</h4> 
                    <ul>
                        <li>
                            <h5>CORPI: {{totComponenti.countCorpi}}</h5>
                        </li>
                        
                        <li> 
                           <h5>LED: {{totComponenti.countLed}}</h5>
                        </li>
                         
                        <li>
                            <h5>DRIVER: {{totComponenti.countDriver}} </h5>
                        </li> 
                    </ul> 
                </div>
            </div>
        </div>
         
    </div> 
    <div class="row margin-top-2 margin-bottom-1">        
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <h4 class="text-primary">LINEA ESTRO</h4>
            <div class="box"> 
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Prodotti</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20" ng-if="totProdottiEstro">
                        <h4>Totale: {{totProdottiEstro.countProdotti}}</h4> 
                       <ul>
                            <li>
                                <h5>G-7: {{totProdottiEstro.countG7}}&nbsp;&nbsp;&nbsp;&nbsp;G-4: {{totProdottiEstro.countG4}}</h5>
                            </li>
                            <li> 
                            <h5>G-6: {{totProdottiEstro.countG6}}&nbsp;&nbsp;&nbsp;&nbsp;D-1: {{totProdottiEstro.countD1}}</h5>
                            </li>
                            
                            <li>
                                <h5>G-5: {{totProdottiEstro.countG5}} </h5>
                            </li>
                        </ul> 
                    </div>
                    <div ng-hide="totProdottiEstro">
                    <loading></loading>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box margin-top-2">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Modelli / Categorie</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20">  
                       <ul class="list-unstyled">
                            <li>
                                <h4>Totale modelli: {{totModelliEstro.countModelli}}</h4> 
                            </li>
                            
                            <li> 
                               <h4>Totale categorie: {{totCategorieEstro.countCategorie}}</h4>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>  
        
    </div>
    <div class="row margin-top-3 margin-bottom-1"> 
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Etichette</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20"> 
                        <h4>Totale mese: {{totEtichette.countEtichette}}</h4> 
                        <ul>
                            <li>
                                <h5>Bianche: {{totEtichette.countBianche}}</h5>
                            </li>
                            
                            <li> 
                                <h5>Grigie: {{totEtichette.countGrigie}}</h5>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div >
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Contatti</span></div>
                <div class="col-md-12  margin-left-20">  
                   <ul class="list-unstyled">
                        <li>
                            <h4>Totale: {{totContatti.countContatti}}</h4>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Offerte</span></div>
                <div class="col-md-12  margin-left-20">  
                   <ul class="list-unstyled">
                        <li>
                            <h4>Totale: {{totOfferte.countOfferte}}</h4>
                        </li>
                    </ul> 
                 </div>
            </div>
        </div> 
        <!--<div class="col-lg-3 col-md-6 col-sm-12"> 
            <div class="box">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-cubes"></i> Etichette:</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20"> 
                        <h4>Totale mese: {{totEtichette.countEtichette}}</h4> 
                       <ul>
                            <li>
                                <h5>Bianche: {{totEtichette.countBianche}}</h5>
                            </li>
                            
                            <li> 
                               <h5>Grigie: {{totEtichette.countGrigie}}</h5>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>-->
        <!--div class="col-md-3"> 
            <div class="box">
                <div class="box-title margin-bottom-1"><span class="h4"><i class="fa fa-fw fa-barcode"></i> Codici Ean:</span></div>
                <div class="row margin-bottom-1">
                    <div class="col-md-12  margin-left-20"> 
                        <h4>Totale codici: 101000</h4> 
                        <ul>
                            <li>
                                <h5>Codici associati: {{totCodEan.countEan}}</h5>
                            </li> 
                            <li>
                                <h5>Codici liberi: {{101000-totCodEan.countEan}}</h5>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>-->
    </div> 
 </div>