<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Immagini</h3>
            <hr />
        </div> 
    </div>
	<loading ng-hide="!uploading && immagini.$resolved" testo="Sto caricando le immagini..."></loading>

	<div class="row margin-top" ng-hide="uploading || !immagini.$resolved">
		<div class="col-md-12">
			<form name="formCerca" ng-submit="cercaImmagini()" novalidate>
			    <div class="input-group input-group-lg">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{tipo || 'Tipo'}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                     <li><a href="" ng-click="tipo=false">Tutte</a></li>
                      <li><a href="" ng-click="tipoRicerca('foto')">Foto</a></li>
					  <li><a href="" ng-click="tipoRicerca('fotoQuotata')">Foto Quotata</a></li> 
                      <li><a href="" ng-click="tipoRicerca('disegno')">Disegno</a></li>
                      <li><a href="" ng-click="tipoRicerca('fotometria')">Fotometria</a></li>
                      <li><a href="" ng-click="tipoRicerca('lineaCommerciale')">Linea Commerciale</a></li>
                    </ul>
                  </div>
			      <input type="text" class="form-control" id="" placeholder="Nome immagine..." ng-model="nome">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> Cerca</button>
			      </span>
			    </div><!-- /input-group -->				
			</form>			
		</div>

		<!--upload-->
		<div class="col-md-12 margin-top">
			<form name="formImageUpload" novalidate>
			    <div ngf-drop ngf-select ng-model="files" class="uploader"
			        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
			        accept=".jpg,.jpeg,.png" 
			        ngf-pattern="'.jpg,.jpeg,.png'">
			        <h3 class="uploader-text"><i class="fa fa-plus"></i> 
			        	Trascina qui le foto per caricarle (.png o .jpg) <br /><br />
			        	<a href="" class="btn btn-default">Oppure clicca qui</a>
			        </h3>			
				</div>

				<div class="uploader-preview" ng-if="files.length">
					<div class="uploader-col" ng-repeat="file in files">
						<div class="uploader-image">
							<a href="" class="btn btn-danger btn-xs" ng-click="rimuoviFoto($index)"><i class="fa fa-remove"></i></a>
							<img ngf-src="file">
						</div>
						<input type="text" class="form-control input-sm" ng-model="file.nome" ng-init="file.nome=file.name.substr(0, file.name.lastIndexOf('.'))">
						<select name="" id="" class="form-control input-sm" ng-model="file.tipo" style="margin-top:3px;">
						    <option value="">- Tipo di immagine? -</option>
						    <option value="foto">Foto prodotto</option>
							<option value="fotoQuotata">Foto prodotto quotata</option>
						    <option value="disegno">Disegno tecnico</option>
						    <option value="fotometria">Fotometria</option>
						    <option value="lineaCommerciale">Linea Commerciale</option>
						</select>
					</div>
				</div>
				
				<div class="uploader-bar" ng-if="files.length">
					<a href="" ng-click="caricaFoto()" class="btn btn-primary" ng-if="!formImageUpload.$invalid">salva</a>
					<span ng-if="formImageUpload.$invalid">Puoi caricare solo immagini jpg o png</span>
				</div>
			</form>	
		</div>
		<!--/upload-->

		<!-- ultime immagini-->
		<div class="col-md-12 margin-top" ng-if="!files.length">
			<h4 class="margin-bottom">
				<span ng-if="!searchresults">Ultime immagini aggiornate</span>
				<span ng-if="searchresults">Risultati della ricerca</span>
			</h4>
			<div class="viewer">
				<div class="viewer-item" ng-repeat="immagine in immagini">
						<div class="viewer-item-image">

                             <img ng-click="zoomImmagine(immagine)"  cl-src="{{immagine.id}}" transformation="media_lib_thumb">
                                
						</div>
					    <input type="text" class="form-control input-sm" ng-model="immagine.nome">
						<select name="" id="" class="form-control input-sm" ng-model="immagine.tipo" style="margin-top:3px;margin-bottom:10px;">
						    <option value="">- Tipo di immagine? -</option>
						    <option value="foto">Foto prodotto</option>
							<option value="fotoQuotata">Foto prodotto quotata</option>
						    <option value="disegno">Disegno tecnico</option>
						    <option value="fotometria">Fotometria</option>
						    <option value="lineaCommerciale">Linea Commerciale</option>
						</select>
                        <div>
                            <a href="" ng-click="modificaImmagine(immagine)" class="btn btn-xs btn-primary" role="button">Salva</a>
                            <a href="" ng-click="mostraAssociaImmagine(immagine)" class="btn btn-xs btn-success" role="button">Associa</a> 
                            <a href="" ng-click="eliminaImmagine(immagine)" class="btn btn-xs btn-danger" role="button">Elimina</a>                            
                        </div>

				</div>					
			</div>
		</div>
	</div>
</div>


