<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Installazioni</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="installazioni.$resolved"></loading>
    <div ng-show="installazioni.$resolved"> 
        <div class="row">
            <div class="col-md-12">
                 <div class="text-right margin-bottom">
                     <a href="" ng-show="adminProdotti" ng-click="nuovaInstallazione()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuova installazione</a>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12 margin-bottom-3">
                <form name="formCerca" ng-submit="cercaInstallazione()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" 
                        id="cercaComponente" 
                        placeholder="Cerca installazione..." ng-model="search" autocomplete="off">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <!-- /input-group -->
                    <small class="text-muted"><strong>parametri disponibili:</strong> descrizione | progetti </small>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <span class="h4" ng-if="!searchresults">Ultime installazioni aggiornate</span>
                <span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="installazioni.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="table-responsive">
                <div class=" col-md-12">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <th class="col-sm-2">Ultima modifica</th>
                            <th class="col-sm-4">Descrizione</th>
                            <th class="col-sm-4">Prodotti</th>
                            <th class="col-sm-1 text-center">Visibile sul sito</th>
                            <th class="col-sm-1 text-right">Azioni</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="installazione in installazioni | filter: cercaIstallazioni">
                               
                                <td>{{installazione.mdate | date: 'dd/MM/yy'}} {{installazione.mdate | date: 'HH:mm'}}</td>
                                <td>{{installazione.descrizione_it}}</td>
                                <td>{{installazione.prodotti_it}}</td>
                                <td class="text-center"><i class="fa fa-check text-success" ng-show="installazione.pubblicato"></i></td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
                                        Azioni <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click="modificaInstallazione(installazione)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                        <li ng-show="adminProdotti"><a href="" ng-click="eliminaInstallazione(installazione)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li> 
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>