<div class="container-fluid">
	<loading ng-hide="lineeCommerciali.$resolved"></loading>
	<div class="row" ng-show="lineeCommerciali.$resolved">
		<div class="col-md-12">
			<div class="text-right margin-bottom"> 
				<a href="" 
				ng-click="apriModaleLineaCommerciale()" 
				ng-show="commerciale"
				class="btn btn-primary"><i class="fa fa-user-plus"></i> Nuova Linea Commerciale</a> 
			</div>
			<div class="margin-bottom-3">
				<form name="formCerca" ng-submit="cercaLineeCommerciali()" novalidate>
				    <div class="input-group input-group-lg">
				      <input type="text" class="form-control" id="cercaLineaCommerciale"
				       placeholder="Cerca una linea..." ng-model="search">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
				      </span>
				    </div><!-- /input-group -->				
				</form>				
			</div>
			<h3>
				<span ng-if="!searchresults">Ultime linee aggiornate</span>
				<span ng-if="searchresults">
					Hai cercato <mark>{{searchresults}}</mark>
				</span>
			</h3>
			<div ng-if="contatti.length>10" class="text-muted"><i class="fa fa-lightbulb-o"></i> Ho trovato più di 10 risultati, prova a essere più specifico</div>
			<hr />

			
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover" 
					ng-show="lineeCommerciali.$resolved && lineeCommerciali.length">
					<thead>
						<tr>
							<th class="col-sm-1">Foto</th>
							<th class="col-sm-1">Ultima modifica</th>
							<th class="col-sm-2">Nome</th>
							<th class="col-sm-2 text-center">Visibile sul sito</th>
							<th class="col-sm-2 text-center">Pubblicazione info linea sul sito</th>
							<th class="col-sm-2 text-center">Pubblicazione settore merceologico</th>
 							<th class="col-sm-2 text-right">Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="lineaCommerciale in lineeCommerciali">
							<td>
		                      <a href="" ng-click="zoomImmagine(lineaCommerciale)" ng-if="lineaCommerciale.foto"><img cl-src="{{lineaCommerciale.foto}}" height="60" width="60" crop="fill" class="img-responsive img-thumbnail"  ></a>
		                        <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" 
		                        ng-if="!lineaCommerciale.foto">
		                        </a>
		                    </td>
							<td>{{lineaCommerciale.mdate | date: 'dd/MM/yy'}} {{lineaCommerciale.mdate | date: 'HH:mm'}}</td>
							<td>{{lineaCommerciale.nome}}</td>
							<td class="text-center"><i class="fa fa-check text-success" ng-show="lineaCommerciale.pubblicato"></i></td>
							<td class="text-center"><i class="fa fa-check text-success" ng-show="lineaCommerciale.pubInfoLinea"></i></td>
							<td class="text-center"><i class="fa fa-check text-success" ng-show="lineaCommerciale.pubSettore"></i></td>
							<td class="text-right">
							  <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
							    Azioni <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="" ng-click="apriModaleLineaCommerciale(lineaCommerciale)" class="">
							    <i class="fa fa-eye"></i> Dettagli</a></li> 
								<li>
								<a href="#/lineaCommercialeAssociazioni/{{lineaCommerciale._id}}" class="">
							    <i class="fa fa-user-plus"></i> Associazioni</a></li>

								<li><a ng-show="commerciale" href="" ng-click="eliminaLineaCommerciale(lineaCommerciale._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
							  </ul>
							</td>
						</tr>
					</tbody> 
				</table>
			</div>
 			<div class="alert alert-warning text-center" ng-if="lineeCommerciali.$resolved && !lineeCommerciali.length"">
			  <strong>Nessuna linea commerciale</strong> 
			</div>
		</div>

	</div>
	
</div>




