<div class="container-fluid">
<loading ng-hide="lineaCommerciale.$resolved"></loading>
<div ng-show="lineaCommerciale.$resolved">
 	<div class="row">
		<div class="col-md-6">
			<h3 class="no-margin">{{lineaCommerciale.nome}}</h3>
		</div>
		<div class="col-md-6 text-right">
 				<a href=""  
 				ng-click="apriAssociazione(lineaCommerciale)"  
				 ng-show="adminProdotti" class="btn btn-primary"><i class="fa fa-user-plus"></i>Nuova Associazione</a>
		 </div> 
 	<hr />
 	<div class="row">
 		<div class="col-sm-12 margin-left-20">
        <div bs-active-pane="tabs.activeTab" bs-tabs>
          <div class="margin-top" ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" bs-pane>
              <div ng-include="tab.template"></div>
          </div>
        </div>
    </div>
	</div> 
  <div ng-show="associando" class="text-center">
      <i class="fa fa-spin fa-cog"></i> Attendere ...
  </div>
  </div>
</div>
</div>