<div class="login">
	<div class="login-widget">
		<img class="margin-bottom-2" src="/img/logo/logo.svg" alt="{{appName}}" style="width: 200px;">
		<!--a ng-click="login()" class="btn btn-inverse btn-lg btn-block margin-top">Accedi</a-->
		<button class="btn btn-inverse btn-lg btn-block margin-top" type="button" id="loginButton" onclick="login()">
      Accedi
    </button>
	</div>
</div>
<script>
  // The Auth0 client, initialized in configureClient()
  let auth0 = null;

  /**
   * Starts the authentication flow
   */
  const login = async (targetUrl) => {
    try {
      console.log("Logging in", targetUrl);

      await auth0.loginWithPopup();
    } catch (err) {
      console.log("Log in failed", err);
    } finally {
      updateUI();
    }
  };

  /**
   * Retrieves the auth configuration from the server
   */
  const fetchAuthConfig = () => fetch("/auth_config.json");

  /**
   * Initializes the Auth0 client
   */
  const configureClient = async () => {
    const response = await fetchAuthConfig();
    const config = await response.json();

    auth0 = await createAuth0Client({
      domain: config.domain,
      client_id: config.clientId,
      audience: 'https://' + config.domain + '/api/v2/',
      issuer: 'https://' + config.domain + '/',
      scope: config.scope,
      responseType: 'token id_token',
      redirect_uri: window.location.origin
    });
    // console.log('configureClient', window.location.origin)
  };

  /**
   * Checks to see if the user is authenticated. If so, `fn` is executed. Otherwise, the user
   * is prompted to log in
   * @param {*} fn The function to execute if the user is logged in
   */
  const requireAuth = async (fn, targetUrl) => {
    const isAuthenticated = await auth0.isAuthenticated();

    if (isAuthenticated) return fn();

    return login(targetUrl);
  };

  // Will run when page finishes loading
  init = async () => {
    await configureClient();
    // console.log('onload', window)

    const isAuthenticated = await auth0.isAuthenticated();
    // console.log('authenticated', isAuthenticated)

    if (isAuthenticated) {
      // console.log("> User is authenticated");
      window.history.replaceState({}, document.title, window.location.pathname);
      updateUI();
      return;
    }

    // console.log("> User not authenticated");
    const query = window.location.search;
    const shouldParseResult = query.includes("code=") && query.includes("state=");

    if (shouldParseResult) {
      console.log("> Parsing redirect");
      try {
        const result = await auth0.handleRedirectCallback();
        console.log('handleRedirectCallback', result)

        if (result.appState && result.appState.targetUrl) {
          showContentFromUrl(result.appState.targetUrl);
        }

        // console.log("Logged in!");
      } catch (err) {
        console.log("Error parsing redirect:", err);
      }

      window.history.replaceState({}, document.title, "/");
    }

    updateUI();
  };

  const updateUI = async () => {
    const isAuthenticated = await auth0.isAuthenticated();

    if (isAuthenticated) {
      const profile = await auth0.getUser();
      if (profile) {
        const event = new CustomEvent('authenticated', { detail: { profile, auth0 } });
        document.dispatchEvent(event);
      }
    }
  };

  init()
</script>
