<div class="container-fluid">
 	<div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Mailing List</h3>
            <hr />
        </div> 
    </div>
	<loading ng-hide="mailingList.$resolved"></loading>
	<div class="row" >
		<div class="col-md-12">
			<div class="text-right margin-bottom">
				<a href="" ng-click="nuovaEmail()" ng-show="commerciale" class="btn btn-primary"><i class="fa fa-plus"></i> Scrivi Mail</a>
 			</div>	
			<div class="margin-bottom-3">
				<form name="formCerca" ng-submit="cercaOfferte()" novalidate>
				    <div class="input-group input-group-lg">
				      <input type="text" class="form-control" id="" placeholder="Cerca mail..." ng-model="search" autocomplete="off">
				      <span class="input-group-btn">
				        <button class="btn btn-default" ng-disabled="formCerca.$invalid" type="submit"><i class="fa fa-search"></i> Cerca</button>
				      </span>
				    </div>
				</form>
			</div> 
			<div>				
				<span class="h4" ng-if="!searchresults">Ultime mail inviate</span>
				<span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark></span>
			</div>
			<div ng-if="offerte.length>10" class="text-muted"><i class="fa fa-lightbulb-o"></i> Ho trovato più di 10 risultati, prova a essere più specifico</div>
			<hr />
			<div class="table-responsive"  ng-show="mailingList.$resolved && mailingList.length">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Data</th>
							<th>Destinatario TO</th>
							<th>Oggetto</th>
							<th class="text-right">Azioni</th>  
 						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="m in mailingList">
							<td>{{m.mdate | date: 'dd/MM/yy - HH:mm'}}</td>
 							<td><div ng-repeat="testo in m.a">{{testo}}</div></td>
							<td>{{m.oggetto}}</td> 
							<td class="text-right"> 
							 	<button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
							    	Azioni <span class="caret"></span>
							  	</button>
							  	<ul class="dropdown-menu"> 
							    	<li>
							    		<a href="" ng-click="dettaglioMail(m)" class="">
							    			<i class="fa fa-pencil"></i> Dettaglio
							    		</a>
							    	</li>  
							  	</ul> 
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
