<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h3 class="margin-top-0">Offerte</h3>
            <hr />
        </div> 
    </div>
	<loading ng-hide="offerte.$resolved"></loading>
	<div class="row" ng-show="offerte.$resolved">
		<div class="col-md-12">
			<div class="text-right margin-bottom">
				<a href="" ng-click="apriModaleOfferta()" class="btn btn-primary"><i class="fa fa-plus"></i> Nuova offerta</a>
			</div>	
			<div class="margin-bottom-3">
				<form name="formCerca" ng-submit="cercaOfferte()" novalidate>
				    <div class="input-group input-group-lg">
				      <input type="text" class="form-control" id="" placeholder="Cerca offerte..." ng-model="search" autocomplete="off">
				      <span class="input-group-btn">
				        <button class="btn btn-default" ng-disabled="formCerca.$invalid" type="submit"><i class="fa fa-search"></i> Cerca</button>
				      </span>
				    </div><!-- /input-group -->				
				</form>
			</div>

			<div>				
				<span class="h4" ng-if="!searchresults">Ultime offerte</span>
				<span class="h4" ng-if="searchresults">Hai cercato <mark>{{searchresults}}</mark></span>				
			</div>
			<div ng-if="offerte.length>10" class="text-muted"><i class="fa fa-lightbulb-o"></i> Ho trovato più di 10 risultati, prova a essere più specifico</div>
			<hr />
			<div class="table-responsive">
				<table class="table table-striped table-hover" ng-show="offerte.$resolved && offerte.length">
					<thead>
						<tr>
							<th>Destinatario</th>
							<th>Numero</th>
							<th>Data offerta</th>
							<th>Inviata da</th>
							<th>Ultima modifica</th>
							<th class="text-center">Stato offerta</th>
							<th class="text-center">Email</th>
							<th class="text-right">Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="offerta in offerte">
							<td>{{offerta.destinatario}}</td>
							<td><code>{{offerta.numero}}</code></td>
							<td>{{offerta.data | date: 'dd/MM/yy'}}</td>
							<td>{{offerta.user_nome}}</td>
							<td>{{offerta.mdate | date: 'dd/MM/yy - HH:mm'}}</td>
							<td class="text-center"><offertastato stato="{{offerta.stato}}"></offertastato></td>
							<td class="text-center">
								<span ng-if="offerta.stato>0">
									<a href="" class="reset-link" 
									ng-click="apirModaleDettaglioMail(offerta)" 
									ng-if="offerta.emailStatus.state!='sent' || offerta.emailStatus.smtp_events.length && offerta.emailStatus.state=='sent'">
										<statomail stato="{{offerta.emailStatus.state}}" ng-if="offerta.emailStatus"></statomail>
									</a>
									<span 
									ng-if="!offerta.emailStatus || !offerta.emailStatus.smtp_events.length && offerta.emailStatus.state=='sent'">
										<i class="fa fa-lg fa-cog fa-spin"></i>
									</span>									
								</span>
								<span ng-if="offerta.stato===0">-</span>
							</td>
							<td class="text-right">

							  <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
							    Azioni <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="" ng-click="anteprimaPdf(offerta)" class=""><i class="fa fa-file-pdf-o"></i> Vedi Pdf</a></li>
							    <li>
							    	<a href="" ng-click="modificaOfferta(offerta)" class="">
							    		<i class="fa fa-pencil"></i> Modifica
							    	</a>
							    </li>
							    <li>
							    	<a href="" ng-click="duplicaOfferta(offerta)" class="">
							    		<i class="fa fa-copy"></i> Duplica
							    	</a>
							    </li>
							    <li>
							    	<a ng-if="user.user_id===offerta.user_id" href="" ng-click="eliminaOfferta(offerta._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a>
							    </li>
							  </ul> 
							</td>
						</tr>
					</tbody>
				</table>
			</div> 
		</div> 
	</div>
</div> 