<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 ng-if="generazione=='G7' || generazione=='G6' || generazione=='' || generazione=='V1' ||  generazione=='D1' || generazione=='3HE' || generazione=='D2' || generazione=='D3' " 
                class="margin-top-0">{{(serie===CONFIG.serieEstro ? 'Componenti' : 'Prodotti')}}</h3>
            <h3 ng-if="generazione=='G5' || generazione=='G4' " 
                class="margin-top-0">Archivio</h3>
            <hr />
        </div> 
    </div>
    <loading ng-hide="prodotti.$resolved"></loading>
    <div class="row" ng-show="prodotti.$resolved">
        <div class="col-md-12">
            <div class="text-right margin-bottom" 
                 ng-if="generazione=='' || ['G7','G6','V1','D1','D2','D3','3HE'].indexOf(generazione) > -1">
                <!--a href="" ng-click="import()" class="btn btn-default" ng-show="adminProdotti"><i class="fa fa-upload"></i> Importa da csv</a-->
                <a href="" ng-click="esportaXlsChina1()" class="btn btn-default" ng-show="adminProdotti">
                   <i class="fa fa-download"></i> Export China1
                </a>
                <a href="" ng-click="apriModaleProdotto()" class="btn btn-primary" ng-show="adminProdotti">
                   <i class="fa fa-plus"></i> {{(serie===CONFIG.serieEstro ? 'Nuovo componente' : 'Nuovo prodotto')}}
                </a>
            </div>
            <div class="margin-bottom-3">
                <form name="formCerca" ng-submit="cercaProdotti()" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="text"
                               class="form-control"
                               id="cercaProdotto"
                               placeholder="{{(serie===CONFIG.serieEstro ? 'Cerca componenti...' : 'Cerca prodotti...')}}"
                               ng-model="search"
                               autocomplete="off">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-disabled="formCerca.$invalid"><i class="fa fa-search"></i> Cerca</button>
                      </span>
                    </div>
                    <small class="text-muted">
                      <strong>parametri disponibili:</strong>
                      modello (over led ps) | sottocategoria (fish) | k | lm | w | ma | fascio (50°) | v | hz | irc (90irc) | alimentatore | colore
                      <em>(non in ordine)</em>
                    </small>
                </form>
            </div>

            <div>
                <span class="h4" ng-if="!searchresults">{{pageTitle}}</span>
                <span class="h4" ng-if="searchresults">{{pageTitle}} - Hai cercato <mark>{{searchresults}}</mark>
                    <div ng-if="prodotti.length == 40"><small>Ho trovato più di 40 risultati, affina la ricerca</small></div>
                </span>
                <!--span class="pull-right" ng-if="searchresults">
                    <div class="btn-group" style="margin-left:5px;" ng-if="batch.length">
                      <button type="button" class="btn btn-success"  bs-dropdown data-placement="bottom-right">
                        <i class="fa fa-cog"></i> Se selezionati <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click="scegliFoto()">Cambia immagine</a></li>
                      </ul>
                    </div>
                </span-->
            </div>
            <hr />

            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover" ng-show="prodotti.$resolved && prodotti.length">
                    <thead>
                        <tr>
                            <!--th ng-if="searchresults" class="col-sm-1">
                                <input type="checkbox" name="selezionatutti" ng-model="selezione" ng-change="selezionaTutti(selezione)"> Seleziona tutti
                            </th-->
                            <th>Foto</th>
                            <th>Ultima modifica</th>
                            <th>Codice</th>
                            <th>Prezzo</th>
                            <th>Modello</th>
                            <th>K</th>
                            <th>lm</th>
                            <th>w</th>
                            <th>Colore</th>
                            <th class="text-center">Visibile sul sito</th> 
                            <th class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prodotto in prodotti">
                            <!--td ng-if="searchresults">
                                <input type="checkbox" name="batchcheck"
                                ng-change = "seleziona(prodotto)"
                                ng-model="prodotto.batch"
                                style="margin-left:5px;" />
                            </td-->
                            <td>
                              <a href="" ng-click="zoomImmagine(prodotto)" ng-if="prodotto.foto"><img cl-src="{{prodotto.foto}}" height="60" width="60" crop="fill" class="img-responsive img-thumbnail"  ></a>
                                <img src="/img/placeholder_50x50.png" class="img-responsive img-thumbnail" 
                                ng-if="!prodotto.foto">
                                </a>
                            </td>
                            <td>{{prodotto.mdate | date: 'dd/MM/yy'}} {{prodotto.mdate | date: 'HH:mm'}}</td>
                            <td>{{prodotto.codice}}</td>
                            <td>{{prodotto.prezzo | prezzo}}</td>
                            <td>{{prodotto.modello.nome}}</td>
                            <td>{{prodotto.k | K}}</td>
                            <td>{{prodotto.lm | LM}}</td>
                            <td>{{prodotto.luci | X}}{{prodotto.w | W}}</td>
                            <td>{{prodotto.colore}}</td>
                            <td class="text-center"><i class="fa fa-check text-success" ng-show="prodotto.pubblicato"></i></td>
                            <td class="text-right">
                                <button type="button" class="btn btn-default" bs-dropdown data-placement="bottom-right">
                                    Azioni <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="apriDettaglioProdotto(prodotto)" class=""><i class="fa fa-eye"></i> Dettagli</a></li>
                                    <li ng-show="adminProdotti"><a href="" ng-click="eliminaProdotto(prodotto._id)"><span class="text-danger"><i class="fa fa-trash-o"></i> Elimina</span></a></li>
                                    <li ng-show="adminProdotti"><a href="" ng-click="duplicaProdotto(prodotto)" class=""><i class="fa fa-copy"></i> Duplica</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
