<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <h3 class="margin-top-0">Scheda Tecnica ESTRO</h3>
         <hr />
      </div>
   </div>
   <div class="row">
      <div class="col-md-8">
         Inserisci i codici necessari per la creazione della scheda tecnica e <strong>seleziona l'opzione nell'autocomplete di ogni campo.</strong> <br/>
         Se non trovi i codici inseriti vuol dire il il componente non è stato censito e la generazione della scheda tecnica non sarà possibile.
      </div>
   </div>
   <div class="row margin-top-2">
      <div class="col-sm-3">
         <div class="form-group" ng-if="profili && profili.length">
            <label for="profdd">Codice profilo</label>
            <div class="dropdown" auto-close="outsideClick">
               <button class="btn btn-default dropdown-toggle configButton"
                       ng-class="{ 'button-selected': prodotto.codice }"
                       type="button"
                       id="profdd"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                  {{prodotto.codice || '-- Scegli un Profilo --'}}
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu configList" aria-labelledby="profdd">
                  <input class="configSearch" disable-auto-close type="search" ng-model="search.profilo" placeholder="Cerca un Profilo"></input>
                  <li role="presentation" ng-repeat="option in profili | filter: search.profilo">
                     <a role="menuitem" ng-click="prodotto.codice=option._id">{{option._id}}</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="form-group" ng-if="fonti && fonti.length">
            <label for="fontedd">Codice fonte luminosa</label>
            <div class="dropdown" auto-close="outsideClick">
               <button class="btn btn-default dropdown-toggle configButton"
                       ng-class="{ 'button-selected': prodotto.fonte }"
                       type="button"
                       id="fontedd"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                  {{prodotto.fonte || '-- Scegli una Fonte --'}}
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu configList" aria-labelledby="fontedd">
                  <input class="configSearch"  disable-auto-close type="search" ng-model="search.fonte" placeholder="Cerca una Fonte"></input>
                  <li role="presentation" ng-repeat="option in fonti | filter: search.fonte">
                     <a role="menuitem" ng-click="prodotto.fonte=option._id">{{option._id}}</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2">
         <div class="form-group">
            <label for="lunghezza">Lunghezza in mm</label>
            <div class="input-group">
               <input style="width: 150px!important; height: 35px;" 
                      type="number"
                      class="form-control input-sm"
                      ng-model="prodotto.lunghezza"
                      id="lunghezza"
                      min="1"
                      max="99999"></input>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="form-group">
            <label for="moduli">oppure in Moduli</label>
            <div class="input-group">
               <input style="width: 150px!important; height: 35px;" 
                      type="number"
                      class="form-control input-sm"
                      ng-model="prodotto.moduli"
                      id="moduli"
                      min="1"
                      max="99"></input>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="form-group">
            <label for="finidd">Finitura</label>
            <div class="dropdown" auto-close="outsideClick">
               <button class="btn btn-default dropdown-toggle configButton"
                       ng-class="{ 'button-selected': prodotto.finitura }"
                       type="button"
                       id="finidd"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                  {{prodotto.finitura || '-- Scegli una Finitura --'}}
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu configList" aria-labelledby="finidd">
                  <input class="configSearch"  disable-auto-close
                         type="search"
                         ng-model="search.finitura"
                         placeholder="Cerca una Finitura"></input>
                  <li role="presentation" ng-repeat="option in finiture | filter: search.finitura">
                     <a role="menuitem" ng-click="prodotto.finitura=option._id">{{option._id}}</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="form-group">
            <label for="prodottoCodice">Codice finito</label>
            <input style="height: 35px;" type="text" ng-disabled="true" class="form-control input-sm" value="{{codiceEstroFinito()}}">
         </div>
      </div>
   </div>
   
   <button type="submit"
           class="btn btn-default margin-top-1 margin-bottom-1"
           ng-if="!pdf"
           ng-click="schedaTecnicaEstro(false)"
           ng-disabled="formNuovoProdotto.$invalid || !prodotto.codice || !prodotto.fonte || !(prodotto.lunghezza || prodotto.moduli) || !prodotto.finitura">
      <i class="fa fa-file-pdf-o"></i> Scheda tecnica (IT/EN)
   </button>

   <a type="button" ng-if="!pdf" class="configAzzera" ng-click="azzera()">
      <i class="fa fa-undo"></i> Azzera filtri
   </a>

   <div ng-if="pdf" class="text-center">
      <i class="fa fa-lg fa-cog fa-spin"></i> Attendere...
   </div>
</div>
