<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form name="formImpostazioni" ng-submit="salvaImpostazioni()">
               <fieldset>
                   <legend>Offerte</legend>
                    <div class="form-group">
                        <label for="settingsTermini">Termini e condizioni</label>
                        <summernote id="settingsTermini" config="editorOptions" ng-model="impostazioni.offerte.termini" height="200" required></summernote>
                    </div>
               </fieldset>
               <button type="submit" class="btn btn-primary">Salva</button>
            </form>
        </div>
    </div>
</div>